*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
li{list-style: none;}
a{
    color: #000;
    text-decoration: none;
}

/* .head_wrap{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .head_wrap .head_logo{
    width: 70px;
    height: 70px;
}
.head_wrap .head_logo img{
    width: 100%;
    height: 100%;
} */




/************Home*************/

.box_wrap{
    position: relative;
    /* background: url(../assets/img/bg_menu.jpg) center center no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 900px;
    /* margin-top: 50px; */
}

.box{
    box-shadow: 15px 15px 30px 10px #ccc;
    border-radius: 30px;
    overflow: hidden;
    transition: .3s;
}
.box:hover{
    box-shadow: 15px 15px 15px 3px #ffa0c5;
}

/*아이스크림*/
.box1{
    width: 430px;
    height: 310px;
    position: absolute;
    top: 50px;
    left: 292px;
    
} 
/*케이크*/
.box2{
    width: 300px;
    height: 495px;
    position: absolute;
    top: 50px;
    right: 133px;
}
/*디저트*/
.box3{
    width: 340px;
    height: 180px;
    position: absolute;
    bottom: 140px;
    right: 100px;
}
/*커피*/
.box4{
    width: 365px;
    height: 340px;
    position: absolute;
    top: 397px;
    left: 357px;
}
/*음료*/
.box5{
    width: 250px;
    height: 400px;
    position: absolute;
    top: 400px;
    left: 70px;
}

.main_box{
    width: 100%;
    height: 100%;
}
.box img{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    right: -30px;
    transform: rotate(45deg);
}
.box .corn{
    width: 100px;
    height: 100px;
    left: 170px;
    bottom: 10px;
    z-index: -1;
}

.box_tit{
    margin-top: 10px;
    text-align: center;
    color: #ffa0c5;
    font-size: 24px;
}
.box_desc{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
}


.box2 img{
    left: 0;
    bottom: 50px;
    transform: rotate(0);
}
.box2 .box_tit{
    color: #fec423;
}
.box2 .box_desc{
    text-align: center;
    margin-left: 0;
}
.box3 img{
    width: 150px;
    height: 150px;
    transform: rotate(0deg);
    right: -15px;
}
.box4 img{
    transform: rotate(0);
}
.box4 .box_tit{
    color: #bb7b4c;
}
.box5 img{
    transform: rotate(0) translateX(50%);
    right: 50%;
    
}
.box5 .box_tit{
    color: #f489a0;
}
.box5 .box_desc{
    text-align: center;
    margin-left: 0;
}



/**********icecream pages************/
.item_wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    
}
.item_box{
    width: calc(25% - 25px);
    margin-left: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #888;
    transition: .3s;
}
.item_box:hover{
    box-shadow: 0 0 10px #ffa0c5;
}
.item_box:nth-child(4n){
    margin-right: 20px;
}
.item_box .item_img_wrap{
    width: 275px;
    height: 300px;
    background:none;
}
.item_box img{
    width: 100%;
}
.item_box h4{
    text-align: center;
    margin-top: 10px;
    color: #f489a0;
    font-size: 22px;
}
.item_box .tag{
    font-size: 12px;
    color: #837e7c;
    text-align: center;
    margin-top: 10px;
}

.item_box .price{
    text-align: right;
    font-size: 20px;
    color: #ffa94c;
    padding-right: 10px;
    margin: 20px 0 10px 0;
}
.btn_wrap{
    padding: 0 10px;
}
.cartBtn{
    width: 200px;
    height: 50px;
    border: 1px solid #f56f98;
    background-color: transparent;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #777;
}



/***********Detail page**************/
.detail_wrap{
    margin-bottom: 50px; 
}
.top_img{
    width: 100%;
    margin-top: 30px;
}
.top_img img{
    display: block;
    margin: 0 auto;
}
.detail_right{
    width: 100%;
    height: 400px;
    background:none;
}
.detail_right img{
    width: 32%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.detail_left{
    width: 100%;
    padding: 10px;
}
.detail_left .detail_tit{
    text-align: center;
    font-size: 30px;
}
.detail_left .detail_desc{
    font-size: 18px;
    color: #837e7c;
    margin-top: 20px;
    text-align: center;
}
.detail_left .detail_price{
    font-size: 24px;
    text-align: right;
    color: #ffa94c;
    margin-top: 30px;
}
.line_wrap{
    position: relative;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #f56f98;
}
.line_btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    background-color: #f56f98;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
}

.opt_tit{
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}
.option01,
.option02{
    width: 100%;
}
.option01 input,
.option02 input{display: none;}

#size01:checked ~ .size01label .label_wrap,
#size02:checked ~ .size02label .label_wrap,
#size03:checked ~ .size03label .label_wrap,
#size04:checked ~ .size04label .label_wrap,
#size05:checked ~ .size05label .label_wrap,
#size06:checked ~ .size06label .label_wrap,
#size07:checked ~ .size07label .label_wrap,
#size08:checked ~ .size08label .label_wrap{
  border-radius: 20px;
  border: 1px solid #f489a0;
}

.option01 ul,
.option02 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.option01 li,
.option02 li{
    width: 200px;
    height: 90px;
    margin-right: 20px;
}
.option01 li:last-child,
.option02 li:last-child{
    margin-right: 0;
}
.label_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 20px;
}
label{
    width: 100%;
    height: 100%;
}
.label_wrap .li_left{
    width: 40%;
    text-align: center;
}
.label_wrap .li_left img{
    width: 40px;
}
.c1{
    margin-top: 10px;
}
.c2{
    margin-top: 10px;
}
.c3{
    margin-top: 8px;
}
.c4{
    margin-top: 8px;
}
.label_wrap .li_right{
    width: 60%;
}



/**********cart**********/

.cart_wrap{}
.cart_wrap h4{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    /* color: #f56f98; */
}
.cart_wrap ul{
    
}
.cart_wrap ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.cartlist{
    border-bottom: 1px solid #ccc;

}
.maplist{
    margin-bottom: 50px;
}

.cart_id{
    width: 10%;
}
.cart_img{
    width: 20%;
}
.cart_img img{
    width: 50%;
}
.cart_title{
    width: 20%;
    color: #f56f98;
    font-size: 20px;
    letter-spacing: 10px;
}
.cart_price{
    width: 20%;
}
.cart_count{
    width: 10%;
}
.cart_btns{
    width: 20%;
}
.cart_btns button{
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle;
}
.cart_btns button:nth-child(3){
    margin-right: 0;
}
.cart_tit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
}
.cart_tit li{
    height: 30px;
    border-right: 1px solid #ccc;
}
.cart_tit li:nth-child(1){
    width: 10%;
}
.cart_tit li:nth-child(2){
    width: 40%;
}
.cart_tit li:nth-child(3){
    width: 20%;
}
.cart_tit li:nth-child(4){
    width: 10%;
}
.cart_tit li:nth-child(5){
    width: 20%;
    border-right:  0;
}

.total_price{
    font-size: 28px;
    color: #f489a0;
    text-align: right;
}
.order_btn{
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #f489a0;
    margin-bottom: 20px;
    font-size: 20px;
    transition: .3s;
}
.order_btn:hover{
    box-shadow: 0 0 10px #ffa0c5;
}