* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}



.container {
    width: 1280px;
    margin: 0 auto;
    /* padding: 20px; */
}

header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 15px;
}

header.active {
    background-color: #000;
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

header h1 button {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

header nav ul li button {
    font-size: 18px;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4 {
    font-size: 30px;
}

main h2 {
    font-size: 50px;
    letter-spacing: 5px;

}

main p {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 30px;
}

main button.download {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
    padding: 15px 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
}

/* main .mouse{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 210px;
    right: 0%;
    transform: translateX(-50%);
    animation:upDown 4.5s ease-in-out infinite;
    cursor: pointer;
} */

@keyframes upDown {
    0% {
        right: 10%;
    }

    50% {
        right: 45%;
    }

    100% {
        right: 10%;
    }
}

main h2 span::after {
    content: "";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

main h2 {}

.stars_wrap {
    position: absolute;
    top: 50px;
    width: 100%;
    overflow: hidden;

}

.stars {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    animation: star 2s infinite ease-in-out;
}

.stars:nth-child(2n) {
    animation: star2 4s infinite linear;
}

.stars:nth-child(5n) {
    animation: star3 5s infinite linear;
}

.stars:nth-child(10) {
    animation: star4 3s infinite ease-in-out;
}

.stars:nth-child(20) {
    animation: star4 1.5s infinite ease-in-out;
}

.stars:nth-child(30) {
    animation: star4 1s ease-in-out;
}

.stars:nth-child(40) {
    animation: star4 3s ease-in-out;
}

.stars:nth-child(50n) {
    animation: star4 2.5s ease-in-out;
}

@keyframes star {
    0% {}

    50% {
        opacity: 0;
    }
}

@keyframes star2 {
    0% {}

    30% {
        opacity: 0;
    }
}

@keyframes star3 {
    0% {}

    80% {
        opacity: 0;
    }
}

@keyframes star4 {
    0% {}

    100% {
        transform: translate(-600px, 800px);
    }
}

/*****section about*****/
.about {
    width: 100%;
    /* height: 100vh; */
    padding: 80px 0;

}

section:nth-child(2) {
    background-color: #f8f8f8;
}

section .title {
    margin-top: 30px;
}

section .title h4 {
    font-size: 24px;
    color: steelblue;
}

section .title h2 {
    font-size: 40px;
}

section .title p {
    font-size: 18px;
}

section .about_self {
    display: flex;
    justify-content: space-between;
}

section .about_self .left {
    width: 45%;
    height: 650px;
    border: 1px solid #ccc;
}

section .about_self .left img {
    width: 100%;
    height: 100%;

}

section .about_self .right {
    width: 45%;
    /* padding: 0 50px; */
    height: 650px;
    border: 1px solid #ccc;
}

section .about_self .right h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

section .about_self .right h3 strong {
    color: steelblue;

}

section .about_self .right p {
    font-size: 18px;
    margin: 20px 0;
}

section .about_self .right .social a {
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

section .about_self .right .social {
    text-align: center;
}





/*******skills*******/
/* .skills{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.skills-me{
    display: flex;
    flex-wrap: wrap;
}
.skills-inner{
    width: calc(25% - 20px) ;
    margin-right: 5%;
    padding: 15px 15px 25px 15px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 20px;

}
.skills-inner:last-child{
    margin-right: 0;
}
.skills-inner img{
    width: 100%;

} 
.skills-inner strong{
    color: steelblue;
    margin: 10px 0;
    display: block;

}
.skills-inner h3{
    font-size: 24px;
} */



/********cardflip*******/
.cardflip {
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

.cardflip ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.cardflip ul li {
    width: calc(100% - 75% - 25px);
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cardflip ul li:nth-child(1) {
    margin-left: 20px;
}

.cardflip ul li:nth-child(5) {
    margin-left: 20px;
}

.cardflip ul li:nth-child(4n) {
    margin-right: 0;
}

.cardflip ul li .card_wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.cardflip ul li:hover .card_wrap {
    transform: rotateY(180deg);
}

.cardflip ul li .card_front {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.cardflip ul li .card_front .front_img {
    width: 100%;
    /* height: 100%; */
}

.cardflip ul li .card_front .front_img img {
    width: 100%;
    height: auto;
}

.cardflip ul li .card_back {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid Eccc;
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
}

.progress_wrap {
    position: relative;

}

#progress {
    appearance: none;
}

#progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px #ccc;
    height: 20px;
}

#progress::-webkit-progress-value {
    border-radius: 10px;
    background: #719ece;

}

.progress_wrap .span01 {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
}

.progress_wrap .span02 {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
}



/**********portfolio*************/

.portfolio {
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

.portfolio_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.portfolio_wrap .portfolio_box {
    width: calc(33.3333% - 26.6666px);
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}

.portfolio_wrap .portfolio_box:nth-child(1),
.portfolio_wrap .portfolio_box:nth-child(4) {
    margin-left: 20px;
}

.portfolio_wrap .portfolio_box .p_img {
    width: 100%;
    position: relative;
    font-size: 0;
}

.portfolio_wrap .portfolio_box .p_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.portfolio_wrap .portfolio_box .p_img .maingif {
    position: absolute;
    width: 97%;
    height: 200px;
    top: 53%;
    left: 1.5%;
    transform: translateY(-50%);
    border-radius: 0;
    border: 0;
}

.portfolio_wrap .portfolio_box .portfolio_tag {
    position: relative;
}

.portfolio_wrap .portfolio_box .portfolio_tag ul {
    display: flex;
    position: absolute;
    top: -15px;
    left: 10px;
}

.portfolio_wrap .portfolio_box .portfolio_tag ul li {
    height: 25px;
    line-height: 25px;
    /* border: 1px solid #eee; */
    font-size: 13px;
    margin-right: 5px;
    padding: 0 5px;
    background-color: #002053;
    color: #fff;
}

.portfolio_wrap .portfolio_box .hover_box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}

.portfolio_wrap .portfolio_box .hover_box .hover_wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: .3s;
    opacity: 0;


}

.portfolio_wrap .portfolio_box .hover_box .hover_wrap h4 {}

.portfolio_wrap .portfolio_box .hover_box .hover_wrap p {}

.pbox_wrap:hover .hover_box .hover_wrap {
    opacity: 1;
}

/***********contact**************/

.contact {
    width: 100%;
    /* height: 100vh; */
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

section.contact .contact_me {
    margin-top: 50px;
}

section.contact .contact_me .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section.contact .contact_me .left .card {
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 30%;
}

section.contact .contact_me .left .card .icon i {
    font-size: 2rem;
    margin-right: 15px;
}


section.contact .contact_me .right {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}