* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.container{
    width: 1276px;
    margin: 0 auto;
}

/****************header************************/

header{
    width: 100%;
    margin-top: 10px;
}
header .header_wrap{
    display: flex;
}
header .main_logo{
    width: 33.3333%;
}
header .main_logo img{
    width: 50%;    
}
header .head_promotion{
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
header .head_promotion .line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
    
}
header .head_promotion .line_txt{
    text-align: center;
    color: #666;
    cursor: pointer;

}
header .gnb{
    width: 33.3333%;
    
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;
    
}
header .gnb .gnb_login{

    margin-right: 10px;
}
header .gnb .gnb_join{
    margin-right: 10px;
}
header .gnb .gnb_language{
    position: relative;
}
#lang_chk{display: none;}
#lang_chk:checked ~ label.lang_open{display: none;}
#lang_chk:checked ~ label.lang_close{display: block;}
#lang_chk ~ label.lang_close{display: none;}
#lang_chk ~ label.lang_open{display: block;}

#lang_chk:checked ~ .gnb_lang_list{height: 70px;}
/*#lang_chk ~ .gnb_lang_list{display: none;}*/

.gnb_lang_list{
    width: 100%;
    height: 0px;
    transition: 0.3s;
    overflow:hidden;
    position: absolute;
    top: 20px;
}
.gnb_lang_list a{
    display: block;
    height: 25px;
    text-align: center;
    width: 100%;
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: steelblue;
    font-weight: normal;
    margin-top: 3px;
    transition: .3s;
    
}
.gnb_lang_list a:hover{
    background-color: #238ece;
    color: #fff;
}

/**************lnb***************/
nav{
    width: 100%; margin-top: 30px;
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: #238ece;
    
}
.lnb_wrap{
    width: 100%;
}
.lnb_wrap ul{
    width: 100%;
    display: flex;
}
.lnb_wrap ul li{
    
    width: 14.2857%;
    /* border: 1px solid black; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    transition: .3s;
    
    
}
.lnb_wrap>ul>li:hover{
    background-color: #fff;
}
.lnb_wrap>ul>li:hover>a{
    color: black;
}
.lnb_wrap .lnb>li>a{
    width: 100%;
    display: block;
    color: #fff;
    
    
}

/**********더보기메뉴***********/
#more_chk{display: none;}
#more_chk:checked ~ label i{transform: rotate(180deg);}
#more_chk ~ label i{transform: rotate(0deg);}

#more_chk:checked ~ .more_list{height: 300px;}
/* #more_chk ~ .more_list{display: none;} */
.lnb_wrap ul li:last-child label{
    display: block;
    width: 100%; 
    color: #fff;
}
.lnb_wrap ul li:last-child:hover label{
    color: black;
}
.lnb_wrap ul li:last-child i{
    transition: .3s;
}
.more_list{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    position: absolute;
    left: 0;top: 40px;
    background-color: #fff;
    z-index: 999;
}
.container.navcont{position: relative;}
.more_list .more_list_wrap{
    display: flex;
}
.more_list .more_box{
    width: 33.3333%;
}
.more_list .more_box ul{
    display: flex;
    flex-direction: column;
    
}
.more_list .more_box li{
    width: 100%;
    font-size: 15px;
}
.more_list .more_box li a{
    transition: .3s;
    color: black;
}
.more_list .more_box li:hover a{
    color: #238ece;
    font-size: 16px;
    
}
.more_list .more_box>a{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 550;
}
.more_list .more_box>a:hover{
    color: #238ece;
}

/**************visual_main****************/
.visual_main{width: 100%;}
.container.visual_cont{
    width: 100%;
}
.visual_main .visual{
    height: 350px;
}
.visual_main .visual img{
    width: 100%;
    height: 350px;
}
.visual_main_wrap{position: relative;}
.visual.slick-slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    visibility: hidden;
}
.visual.slick-slider .slick-prev{
    z-index: 10;
    left: 3%;
}
.visual.slick-slider .slick-next{
    right: 3%;
}
.visual.slick-slider .slick-prev::after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #238ece;
}
.visual.slick-slider .slick-next::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #238ece;
}
.visual.slick-dotted .slick-dots{
    position: absolute;
    bottom: 20px;right: 50%;
   
}
.visual.slick-dotted .slick-dots li{
    display: inline-block;
    margin-right: 10px;
}
.visual.slick-dotted li button{
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0;
}
.visual.slick-dotted li.slick-active button{
    background-color: #238ece;
}

/****************main****************/
main{
    width: 100%;
    margin-top: 50px;
}
main .main_wrap{
    width: 100%;
    display: flex;
}

main .main_wrap .delivery{
    width: calc(100% - 75% - 15px);
    height: 160px;
    margin-right: 20px;
    background-color: #238ece;
    border-radius: 10px;
    

}
main .main_wrap .delivery a{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}
main .main_wrap .delivery a img{
    width: 50px;
    height: 50px;
    
}
main .main_wrap .delivery:hover a img{
    animation: deliani 0.8s infinite ease-in both ;
}

@keyframes deliani{
    0%{transform: translateY(0px);}
    5%{transform: translateY(5px);}
    7%{transform: translateY(0px);}
    9%{transform: translateY(5px);}
    11%{transform: translateY(0px);}
    13%{transform: translateY(5px);}
    100%{transform: translateX(120px);}
}
main .main_wrap .delivery a h4{
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
}
main .main_wrap .delivery a p{
    color: #fff;
    margin-top: 5px;

}

main .main_wrap .togo_order{
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
}
main .main_wrap .togo_order a{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}
main .main_wrap .togo_order a img{
    width: 50px;
    height: 50px;
}
main .main_wrap .togo_order:hover a img{
    animation: togoani 1.3s infinite ease-in forwards;
}
@keyframes togoani{
    0%{transform: rotate(-15deg);}
    25%{transform: rotate(0deg);}
    75%{transform: rotate(15deg);}
    100%{transform: rotate(0deg);}
}
main .main_wrap .togo_order h4{
    margin-top: 10px;
    font-size: 24px;
}
main .main_wrap .togo_order p{
    margin-top: 5px;
}
main .main_wrap .my_order{
    width: calc(100% - 75% - 15px);
    background-color: #ff143c;
    border-radius: 10px;
    margin-right: 20px;

}
main .main_wrap .my_order a{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}
main .main_wrap .my_order a img{
    width: 50px;
    height: 50px;
    
}
main .main_wrap .my_order:hover a img{
    animation: myorderani 1s infinite ease-in-out forwards;
}
@keyframes myorderani{
   0%{transform: translateY(0px);}
   20%{transform: translateY(-10px);}
   40%{transform: translateY( 0px);}
   60%{transform: translateY( -10px);}
   80%{transform: translateY( -5px);}
   100%{transform: translateY( 0px);}
   
  
      
}
main .main_wrap .my_order a h4{
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}
main .main_wrap .my_order a p{
    margin-top: 5px;
    color: #fff;
}

main .main_wrap .e_coupon{
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
}
main .main_wrap .e_coupon a{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}
main .main_wrap .e_coupon a img{
    width: 50px;
    height: 50px;
}
main .main_wrap .e_coupon:hover a img{
    animation: couponani 0.8s infinite ease-in-out both;
}
@keyframes couponani{
    0%{transform: translateX(-5px);}
    10%{transform: translateX(0px);}
    20%{transform: translateX(-5px);}
    30%{transform: translateX(0px);}
    100%{transform: translateX(120px);}
}
main .main_wrap .e_coupon a h4{
    margin-top: 10px;
    font-size: 24px;
}
main .main_wrap .e_coupon a p{
    margin-top: 5px;
}


/**************section 1******************/
.section1{
    width: 100%;
    margin-top: 50px;
    background-color: #f6f7f8;
}
.section1 .section1_wrap{
    width: 100%;
    display: flex;
}

.section1 .section1_wrap .sec1_box1{
    width: 30%;
    height: 200px;
    
}
.section1 .section1_wrap .sec1_box1 p{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 10px;
}
.section1 .section1_wrap .sec1_box1 p span{
    color: #238ece;
    font-weight: 600;
}

.section1 .section1_wrap .sec1_box1 .sec1_login{
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    background-color: #222222;
    margin-top: 30px;
}
.section1 .section1_wrap .sec1_box1 .sec1_login a{
    color: #fff;
}


.section1 .section1_wrap .sec1_box2{
    width: 70%;
    height: 200px;
    display: flex;
    cursor: pointer;
    
}
.section1 .section1_wrap .sec1_box2 .box2_01{
    width: calc(100% - 33.3333% - 26.6666px );
    margin-right: 20px;
    padding: 10px;
}
.section1 .section1_wrap .sec1_box2 .box2_01.ml{
    margin-left: 20px;
}
.section1 .section1_wrap .sec1_box2 .box2_01 img{
    width: 100%;
    height: 100%;
}

/***************section2*****************/
.section2{
    width: 100%;
    margin-top: 50px;
    
}
.section2 h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.section2 .section2_wrap{
    display: flex;
}
.section2_wrap .new_box{
    width: calc(100% - 75% - 15px);
    height: 300px;
    margin-right: 20px;
    cursor: pointer;
    height: 380px;
   
    
}
.section2_wrap .new_box:hover img{
   transform: scale(1.2);
}
.new_box .img_wrap{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.section2_wrap .new_box img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.section2_wrap .new_box:last-child{
    margin-right: 0;
}
.section2_wrap .new_box .new_desc{
    width: 100%;
    
}
.section2_wrap .new_box .new_desc .desc_wrap{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 40px;
}
.section2_wrap .new_box .new_desc .desc_wrap h4{
    margin-left: 50px;
    float: left;
    font-size: 20px;

}
.section2_wrap .new_box .new_desc .desc_wrap .new{
    float: left;   
    background-color: #ff143c;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-top: 6px;
    text-align: center;
    padding: 0 3px;
    
}
.section2_wrap .new_box .new_desc .price_wrap{
    display: flex;
    justify-content: space-around;
}
.section2_wrap .new_box .new_desc .price{
    font-weight: 600;
}
.section2_wrap .new_box .new_desc .price span{
    color: #ff143c;
}


/******************section3*********************/
.section3{
    width: 100%;
    margin-top: 50px;
}
.section3 .container>h4{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.section3 .section3_wrap{
    width: 100%;
}
.section3 .section3_wrap .best_seller{
    width: 100%;
}
.section3 .section3_wrap .best_box{
    width: 100%;
}
.section3 .section3_wrap .best_box img{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.section3 .section3_wrap .best_desc{
    width: 100%;
}
.section3 .section3_wrap .best_desc h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.section3 .section3_wrap .best_desc .best_price_wrap{
   padding-left: 50px;
}
.section3 .section3_wrap .best_desc .best_price{
    float: left;
    margin-right: 30px;
    
}
.section3 .section3_wrap .best_desc .best_price2{
    float: left;
    
}
.section3 .section3_wrap .best_desc p{
    font-weight: 600;
    display: inline-block;
    
    
}
.section3 .section3_wrap .best_desc p span{
    color: #ff143c;
    font-weight: 600;
}
.best_seller{
    position: relative;
}
.best_seller .slick-arrow{
    position: absolute;
    top: -30px; right: 0;
    font-size: 0;
    visibility: hidden;
    
}
.best_seller .slick-arrow.slick-next{
    right: 4px;
}

.best_seller .slick-arrow.slick-prev{
    z-index: 10;
    right: 50px;
}
.best_seller .slick-arrow.slick-next::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
    padding: 5px;
    background-color: #ff143c;
}
.best_seller .slick-arrow.slick-prev::after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
    padding: 5px;
    background-color: #ff143c;
}
/******************section3**************************/
.section4{
    width: 100%;
    margin-top: 100px;
    
}
.section4_tit{
    width: 100%;
    position: relative;
}

.section4_tit h4{
    font-size: 24px;
    text-align: center;
    
    
}
/* .section3_tit .more_click{
    display: flex;
    position: absolute;
    top: 50%; right: 10px;
    transform: translateY(-50%);
   
    
}


.section3 .line_wrap{position: relative;}

 .more_click .line{
    width: 25px;
    height: 3px;
    background-color: #238ece;
    display: block;
    position: absolute;
    top: 0px; right: 10px;
    transition: .3s;
}
.more_click:hover .line:nth-child(2){
    transform: rotate(90deg);
} */
.section4_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.event_box{
    width: calc(100% - 50% - 10px);
    height: 252px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.event_box:nth-child(2n){
    margin-right: 0;
}
.event_box .evnt_img{
    width: 100%;
    position: relative;
}
.event_box .evnt_img img{
    width: 100%;
   
}
.event_box .evnt_img .evnt_desc{
    width: 100%;
    height: 252px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    text-align: center;
    padding-top: 108px;
    opacity: 0;
    transition: .3s;
}
.event_box .evnt_img .evnt_desc a{
    color: #fff;
    font-size: 25px;
    width: 100%;
    display: block;
    
    
}
.event_box:hover .evnt_img .evnt_desc{
    opacity: 1;
}


/************section5*****************/
.section5{
    width: 100%;
    margin-top: 100px;
}
.section5 h4{
    font-size: 24px;
    text-align: center;
}
.section5_wrap{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.section5_wrap .sns_box{
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    
}
.section5_wrap .sns_box:last-child{
    margin-right: 0;
}
.section5_wrap .sns_box .sns_img{
    width: 100%;
    font-size: 0;
    cursor: pointer;
    
}
.section5_wrap .sns_box .sns_img img{
    width: 100%;
    
}
.section5_wrap .sns_box .sns_desc{
  border: 1px solid #ccc;
  cursor: pointer;
}
.section5_wrap .sns_box .sns_desc p{
    padding: 5px;
    font-size: 14px;
}

/*도미노블로그참고해서 내용수정*/











/****************quick menu*****************/
.quick_menu{
    width: 100px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(138, 149, 158, 0.15);
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 51%;
    transform: translateY(-50%);
    cursor: pointer;
}
.quick_menu .quick_wrap{
    width: 100%;
}
.quick_menu .quick_wrap .membership{
   border-bottom: 1px solid #ccc;
   
}
.quick_menu .quick_wrap .membership .q_img{
    width: 35px;
    height: 35px;
    margin: 10px auto;
}
.quick_menu .quick_wrap .membership:nth-child(3) .q_img{
    width: 30px;
    height: 30px;
}
.quick_menu .quick_wrap .membership img{
    width: 100%;
    height: 100%;
}
.quick_menu .quick_wrap .membership p{
    font-weight: 600;
    margin: 10px 0;
}
.quick_menu .quick_wrap .membership:last-child{
    border: 0;
}