* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li {
    list-style: none
}

a {
    text-decoration: none;
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.container {
    width: 1276px;
    margin: 0 auto;
}



/***************popup*****************/
#popchk {
    display: none;
}

#popchk:checked~.popup_box {
    display: block;
}

#popchk~.popup_box {
    display: none;
}

.popup {
    position: absolute;
    top: 150px;
    right: 500px;
    z-index: 99999;
    animation: popupani 1s infinite;
}

@keyframes popupani {
    0% {
        top: 150px;
    }

    50% {
        top: 170px;
    }

    100% {
        top: 150px;
    }
}

.popup_box {
    width: 150px;
    height: 150px;
}

.popup_box img {
    width: 100%;
    height: auto;
}

.popup_box .popupinner label {
    display: block;
    text-align: right;
    font-size: 25px;
    color: #238ece;
}

/**************popup2*********************/
.popup2 {
    width: 400px;
    height: 450px;
    /* border: 1px solid #ccc; */
    position: absolute;
    top: 300px;
    left: 150px;
    z-index: 99999;
    display: block;

}

.popup2 h2 {
    text-align: center;
    background-color: #238ece;
    color: #fff;
    padding: 5px 0;
}

.popup2 #timer {
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    color: #238ece;
    padding: 10px 0;
    font-weight: 600;
}

.popup2 .popup_box2 {
    font-size: 0;
    position: relative;
}

.popup2 .popup_box2 img {
    width: 100%;
    height: 100%;

}

.popup2 .popup_box2::after {
    content: "";
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}

.popup2 .popup2_desc {
    text-align: center;
    background-color: #fff;
    position: relative;
    font-size: 22px;
    font-weight: 600;

}

.popup2 .popup2_desc p {
    padding-top: 10px;
}

.popup2 .popup2_desc .close_btn2 {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 16px;
    color: #ff143c;
}


/**********popup3***********/
.popup3 {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #238ece;
    color: #fff;
    position: absolute;
    top: 184px;
    right: 50%;
    z-index: 600;
    display: block;
    animation: pop3 2s linear infinite;
}

.popup_box3 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 35px;


}

.close_btn3 {
    text-align: right;
    margin-top: 50px;
    color: #ff143c;
    font-weight: bold;
    cursor: pointer;
}

@keyframes pop3 {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}


/*****rolling******/
.rolling {
    overflow: hidden;
    height: 20px;
}

.rolling li {
    /* transition: .3s; */
    height: 20px;
    font-size: 16px;
}

/****************header************************/

header {
    width: 100%;
    margin-top: 10px;
}

header .header_wrap {
    display: flex;
}

header .main_logo {
    width: 33.3333%;
    cursor: pointer;
}

header .main_logo img {
    width: 50%;
}

header .head_promotion {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header .head_promotion .line {
    width: 100%;
    height: 2px;
    background-color: #999;
    margin-top: 10px;

}

header .head_promotion .line_txt {
    text-align: center;
    color: #666;
    cursor: pointer;

}

header .gnb {
    width: 33.3333%;

    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;

}

header .gnb .gnb_login {

    margin-right: 10px;

}

header .gnb a {
    font-size: 14px;
}

header .gnb .gnb_login:hover a {
    color: #238ece;
}

header .gnb .gnb_join {
    margin-right: 10px;
}

header .gnb .gnb_join:hover a {
    color: #238ece;
}

header .gnb .gnb_language {
    position: relative;
    font-size: 14px;
}

header .gnb .gnb_language:hover label {
    color: #238ece;
}

#lang_chk {
    display: none;
}

#lang_chk:checked~label.lang_open {
    display: none;
}

#lang_chk:checked~label.lang_close {
    display: block;
}

#lang_chk~label.lang_close {
    display: none;
}

#lang_chk~label.lang_open {
    display: block;
}

#lang_chk:checked~.gnb_lang_list {
    height: 70px;
}

/*#lang_chk ~ .gnb_lang_list{display: none;}*/

.gnb_lang_list {
    width: 100%;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
    top: 20px;
}

.gnb_lang_list a {
    display: block;
    height: 25px;
    text-align: center;
    width: 100%;
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: steelblue;
    font-weight: normal;
    margin-top: 3px;
    transition: .3s;

}

.gnb_lang_list a:hover {
    background-color: #238ece;
    color: #fff;
}


/***********mobile nav************/
/* .mobile_nav {
    width: 100%;
    display: none;
}

.mobile_nav ul {
    width: 100%;
    display: flex;
}

.mobile_nav ul li {
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #238ece;
    border: 1px solid #fff;

}

.mobile_nav ul li:nth-child(2),
.mobile_nav ul li:nth-child(3),
.mobile_nav ul li:nth-child(4) {
    border-left: 0;
}

.mobile_nav ul li a {
    color: #fff;
    width: 100%;
    display: block;
}

.mobile_nav ul li a span {
    color: #ff143c;
    font-weight: 600;
    font-size: 13px;
} */

/**************lnb***************/
nav {
    width: 100%;
    margin-top: 30px;
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: #238ece;

}

.lnb_wrap {
    width: 100%;


}

.lnb_wrap ul {
    width: 100%;
    display: flex;

}

.lnb_wrap ul li {

    width: 14.2857%;
    /* border: 1px solid black; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    transition: .3s;
    height: 50px;

}

.lnb_wrap>ul>li:hover {
    /* background-color: #fff; */
}

.lnb_wrap>ul>li:hover>a {
    font-weight: 550;

}

.lnb_wrap .lnb>li>a {
    width: 100%;
    display: block;
    color: #fff;
    line-height: 50px;
    position: relative;



}

.lnb_wrap .lnb>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: all .3s;
}

.lnb_wrap .lnb>li>a::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 7px;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: all .3s;
}

.lnb_wrap>ul>li:hover>a:after {
    width: 50%;
}

.lnb_wrap>ul>li:hover>a:before {
    width: 50%;
}



/*********morelist2***********/
.more_list2 {
    width: 100%;
    height: 250px;
    background-color: #fff;
    text-align: center;
    display: none;
    border-bottom: 1px solid #ccc;
}

.more_list2_wrap {
    display: flex;
    justify-content: space-around;
}

.more_list2 .more_box {
    margin-top: 20px;
    width: 33.3333%;
    border-right: 1px solid #ccc;
}

.more_list2 .more_box:last-child {
    border: 0;
}

.more_list2 .more_box>a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    transition: .3s;

}

.more_list2 .more_box>a:hover {
    color: #ff143c;
}

.more_list2 .more_box li {
    margin-bottom: 10px;
}

.more_list2 .more_box li a {
    color: #888;
    transition: .3s;
}

.more_list2 .more_box li:hover a {
    color: #238ece;
}

.more_wrap {
    display: flex;
}

.more_open {
    width: 100%;
    color: #fff;
    line-height: 50px;
    display: block;
    transition: .3s;
    cursor: pointer;
}

.more_open span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: .3s;


}

.more_open:hover .line1 {}

.more_open:hover .line2 {}

.more_open .line3 {
    width: 15px;
    position: absolute;
    right: 73.7px;

}

.more_open:hover .line3 {
    width: 35px;
}

.spanwrap {
    margin-top: 10px;
    position: relative;
}

.more_close {
    width: 100%;
    color: #fff;
    line-height: 50px;
    display: none;
    transition: .3s;
    cursor: pointer;
}

.more_close i {
    font-size: 30px;
    line-height: 50px;
    transition: .3s;
}

.more_close:hover i {
    transform: rotate(90deg);
}







.container.navcont {
    position: relative;
}

.more_list .more_list_wrap {
    display: flex;
}

.more_list .more_box {
    width: 33.3333%;
}

.more_list .more_box ul {
    display: flex;
    flex-direction: column;

}

.more_list .more_box li {
    width: 100%;
    font-size: 15px;
}

.more_list .more_box li a {
    transition: .3s;
    color: black;

}

.more_list .more_box li:hover a {
    color: #238ece;
    font-size: 16px;

}

.more_list .more_box>a {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 550;
}

.more_list .more_box>a:hover {
    color: #238ece;
}

/**************visual_main****************/
.visual_main {
    width: 100%;
}

.container.visual_cont {
    width: 100%;
}

/* .visual_main .visual {
    height: 350px;
} */

.visual_main .visual img {
    width: 100%;
    height: 400px;
}

.visual_main_wrap {
    position: relative;
}

.visual.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    visibility: hidden;
}

.visual.slick-slider .slick-prev {
    z-index: 10;
    left: 3%;
}

.visual.slick-slider .slick-next {
    right: 3%;
}

.visual.slick-slider .slick-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #238ece;
}

.visual.slick-slider .slick-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #238ece;
}

.visual.slick-dotted .slick-dots {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}

.visual.slick-dotted .slick-dots li {
    display: inline-block;
    margin-right: 10px;
}

.visual.slick-dotted li button {
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0;
}

.visual.slick-dotted li.slick-active button {
    background-color: #238ece;
}

.visual_control {
    position: absolute;
    top: 10px;
    right: 280px;

}

.play {
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
    color: #238ece;
    cursor: pointer;
}

.stop {
    font-size: 30px;
    display: inline-block;
    color: #238ece;
    cursor: pointer;
}

/****************main****************/
main {
    width: 100%;
    margin-top: 200px;
    height: 160px;
}

main .main_wrap {
    width: 100%;
    display: flex;

}

main .main_wrap .delivery {
    width: calc(100% - 75% - 15px);
    height: 160px;
    margin-right: 20px;
    background-color: #238ece;
    border-radius: 10px;



}

main .main_wrap .delivery a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}

main .main_wrap .delivery a img {
    width: 50px;
    height: 50px;

}

main .main_wrap .delivery:hover a img {
    animation: deliani 0.8s infinite ease-in both;
}

@keyframes deliani {
    0% {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(5px);
    }

    7% {
        transform: translateY(0px);
    }

    9% {
        transform: translateY(5px);
    }

    11% {
        transform: translateY(0px);
    }

    13% {
        transform: translateY(5px);
    }

    100% {
        transform: translateX(120px);
    }
}

main .main_wrap .delivery a h4 {
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
}

main .main_wrap .delivery a p {
    color: #fff;
    margin-top: 5px;

}

main .main_wrap .togo_order {
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
    height: 160px;

}

main .main_wrap .togo_order a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}

main .main_wrap .togo_order a img {
    width: 50px;
    height: 50px;
}

main .main_wrap .togo_order:hover a img {
    animation: togoani 1.3s infinite ease-in forwards;
}

@keyframes togoani {
    0% {
        transform: rotate(-15deg);
    }

    25% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

main .main_wrap .togo_order h4 {
    margin-top: 10px;
    font-size: 24px;
}

main .main_wrap .togo_order p {
    margin-top: 5px;
}

main .main_wrap .my_order {
    width: calc(100% - 75% - 15px);
    background-color: #ff143c;
    border-radius: 10px;
    margin-right: 20px;
    height: 160px;


}

main .main_wrap .my_order a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}

main .main_wrap .my_order a img {
    width: 50px;
    height: 50px;

}

main .main_wrap .my_order:hover a img {
    animation: myorderani 1s infinite ease-in-out forwards;
}

@keyframes myorderani {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }



}

main .main_wrap .my_order a h4 {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}

main .main_wrap .my_order a p {
    margin-top: 5px;
    color: #fff;
}

main .main_wrap .e_coupon {
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
    height: 160px;

}

main .main_wrap .e_coupon a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}

main .main_wrap .e_coupon a img {
    width: 50px;
    height: 50px;
}

main .main_wrap .e_coupon:hover a img {
    animation: couponani 0.8s infinite ease-in-out both;
}

@keyframes couponani {
    0% {
        transform: translateX(-5px);
    }

    10% {
        transform: translateX(0px);
    }

    15% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(120px);
    }
}

main .main_wrap .e_coupon a h4 {
    margin-top: 10px;
    font-size: 24px;
}

main .main_wrap .e_coupon a p {
    margin-top: 5px;
}


/**************section 1******************/
.section1 {
    width: 100%;
    margin-top: 200px;
    background-color: #f6f7f8;
}

.section1 .section1_wrap {
    width: 100%;
    display: flex;
}

.section1 .section1_wrap .sec1_box1 {
    width: 30%;
    height: 200px;

}

.section1 .section1_wrap .sec1_box1 p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 10px;
}

.section1 .section1_wrap .sec1_box1 p span {
    color: #238ece;
    font-weight: 600;
    animation: wave 1.5s ease-in-out;
}



.section1 .section1_wrap .sec1_box1 .sec1_login {
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    /* background-color: #222222; */
    margin-top: 30px;
    animation: btncolor 1.5s infinite;
}

@keyframes btncolor{
    0%{
        background-color: #238ece;
    }
    50%{
        background-color: #ff143c;
    }
    100%{
        background-color: #238ece;
    }
}

.section1 .section1_wrap .sec1_box1 .sec1_login a {
    color: #fff;
}


.section1 .section1_wrap .sec1_box2 {
    width: 70%;
    height: 240px;
    display: flex;
    cursor: pointer;

}

.section1 .section1_wrap .sec1_box2 .box2_01 {
    width: calc(100% - 33.3333% - 26.6666px);
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;

}


.section1 .section1_wrap .sec1_box2 .box2_01.ml {
    margin-left: 20px;
}

.section1 .section1_wrap .sec1_box2 .box2_01 img {
    width: 100%;
    height: 100%;

}

/***************section2*****************/
.section2 {
    width: 100%;
    margin-top: 200px;

}

.section2>h4 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;
}


.section2 .section2_wrap {
    display: flex;
    margin-top: 50px;
}

.section2_wrap .new_box {
    width: calc(100% - 75% - 15px);
    /* height: 300px; */
    margin-right: 20px;


}

.section2_wrap .new_box .img_wrap:hover img {
    /* animation: newani 2s linear; */
    transform: scale(1.2);

}

@keyframes newani {


    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.new_box .img_wrap {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.new_box .img_wrap:hover .newicon img {
    opacity: 1;
    transform: rotate(15deg);
}

.newicon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;

}

.newicon img {
    width: 100%;
    height: 100%;
    transition: .3s;
    opacity: 0;
}

.section2_wrap .new_box img {
    width: 100%;
    height: 100%;
    transition: .5s;
    cursor: pointer;
}


.section2_wrap .new_box:last-child {
    margin-right: 0;
}

.section2_wrap .new_box .new_desc {
    width: 100%;
    margin-top: 10px;

}

.section2_wrap .new_box .new_desc .desc_wrap {
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 40px;

}

.section2_wrap .new_box .new_desc .desc_wrap h4 {
    padding-left: 75px;
    float: left;
    font-size: 20px;


}

.section2_wrap .new_box .new_desc .desc_wrap .new_tit {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.section2_wrap .new_box .new_desc .desc_wrap .new {
    float: left;
    background-color: #ff143c;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-top: 6px;
    text-align: center;
    padding: 0 3px;
    margin-left: 10px;
    animation: new_ani 1s infinite linear;

}

@keyframes new_ani {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.section2_wrap .new_box .new_desc .price_wrap {
    display: flex;
    justify-content: space-around;
}

.section2_wrap .new_box .new_desc .price {
    font-weight: 600;
}

.section2_wrap .new_box .new_desc .price span {
    color: #ff143c;
}


.section2_wrap .new_box .new_desc .cart_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.section2_wrap .new_box .new_desc .cart_wrap .cart {}

.section2_wrap .new_box .new_desc .cart_wrap .cart i {
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.section2_wrap .new_box .new_desc .cart_wrap .cart:hover i {
    color: #238ece;
}

.section2_wrap .new_box .new_desc .cart_wrap .heart {}

.section2_wrap .new_box .new_desc .cart_wrap .heart i {
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.section2_wrap .new_box .new_desc .cart_wrap .heart:hover i {
    color: #ff143c;
}



/****************background fix*****************/

.background_fix {
    width: 100%;
    margin-top: 150px;

}

.background_img {
    background: url(./imges/back4.jpg) fixed no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 400px;
    display: block;

}


/**********section 3 best swiper**************/
.swiper_2 {
    width: 100%;
    margin-top: 80px;
    height: 600px;
    position: relative;

}

.swiper_2 .swiper-button-next,
.swiper_2 .swiper-button-prev {
    top: 35%;

}

.swiper_2 .swiper-button-next:after,
.swiper_2 .swiper-button-prev:after {
    color: #ff143c;
}

.swiper_2 .swiper-slide {
    width: 400px;
    height: 400px;
    cursor: pointer;
    margin: 0 10px;
    transform: scale(0.85);
    opacity: 0.6;
    transition: .5s;
}

.container_swiper {
    overflow: hidden;

}

.swiper_2 .swiper-slide.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.best_img_wrap {
    overflow: hidden;
}

.best_box img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: .5s;
}

.best_box:hover img {
    transform: scale(1);
}

.best_desc {
    margin-top: 10px;
}

.best_desc h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.best_desc .best_price_wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

.best_desc .best_price_wrap span {
    color: #ff143c;
}

.best_desc .cart_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.best_desc .cart_wrap .cart i {
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.best_desc .cart_wrap .cart:hover i {
    color: #238ece;
}

.best_desc .cart_wrap .heart i {
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.best_desc .cart_wrap .heart:hover i {
    color: #ff143c;
}

.section3 {
    width: 100%;
    margin-top: 200px;
}

.section3>h4 {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;

}


/******************section4**************************/
.section4 {
    width: 100%;
    margin-top: 150px;

}

.section4_tit {
    width: 100%;
    position: relative;
}

.section4_tit h4 {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;


}


/***********recommand ****************/

.recommand {
    margin-top: 200px;
    width: 100%;

}

.recommand_wrap {
    display: flex;
}

.recommand_left {
    width: 50%;

    padding: 10px;
    padding-left: 100px;
}

.recommand_left .left_text h4 {
    font-size: 32px;
    margin-top: 20px;
}

.recommand_left .left_text p {
    font-size: 20px;
    font-weight: 700;
    color: #238ece;
    margin-top: 30px;
}

.recommand_left .left_searchbox {
    margin: 30px 0;
    position: relative;
}

.recommand_left input {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 3px solid #000;
    outline: none;
}

.recommand_left input[placeholder] {
    font-size: 16px;
    color: #888;
}

.recommand_left i {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 275px;
    cursor: pointer;
}

input::-webkit-search-cancel-button {
    display: none;
}

/*input x 없애기*/

.recommand_right {
    width: 50%;

    position: relative;
}

.recommand_right .recommand_box {
    width: 160px;
    height: 50px;
    border-radius: 20px 20px 0px 20px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 20px;
    left: 2px;
    background-color: #238ece;
    box-shadow: 0 0 10px gray;
    transition: .3s;
    /*  animation: recommand_boxani_1 3s infinite linear; */
    padding: 0 5px;
    opacity: 0;

}

.recommand_right .recommand_box:hover {
    transform: scale(1.1);
}

.recommand_right .recommand_box a {
    width: 100%;
    display: block;
    color: #fff;

    font-size: 14px;
}

.recommand_right .recommand_box:nth-child(2) {
    left: 50px;
    top: 110px;
    background-color: #ff143c;
}

.recommand_right .recommand_box:nth-child(3) {
    left: auto;
    right: 20px;
    top: 100px;
    background-color: tomato;
}

.recommand_right .recommand_box:nth-child(4) {
    left: auto;
    right: 220px;
    top: 35px;
    background-color: #fff;


}

.recommand_right .recommand_box:nth-child(4) a {
    color: black;

}

.recommand_right .recommand_box:nth-child(5) {
    left: 250px;
    top: 150px;
    background-color: lightpink;
}

.recommand_right .recommand_box:nth-child(6) {
    left: auto;
    right: 0;
    top: 0;
    background-color: sandybrown;
}

@keyframes recommand_boxani_1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}





/************section5*****************/
.section5 {
    width: 100%;
    margin-top: 200px;
}

.section5>h4 {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;
}

.section5_wrap {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

}

.section5_wrap .sns_box {
    width: calc(100% - 75% - 15px);
    margin-right: 20px;
    transition: .3s;
    opacity: 0;


}

.section5_wrap .sns_box.mr {
    margin-right: 0;
}

.section5_wrap .sns_box .sns_img {
    width: 100%;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;



}

.section5_wrap .sns_box.mt {
    margin-top: 20px;
}

.section5_wrap .sns_box .sns_img:hover img {
    transform: scale(1);

}

.section5_wrap .sns_box:hover {
    box-shadow: 0 0 20px #238ece;
}

.section5_wrap .sns_box .sns_img img {
    width: 100%;
    transform: scale(1.1);
    transition: .3s;

}







/********section 4 infinite loop********/


.loop_infinite {
    margin-top: 50px;
}

.my-slider {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.my-slider .swiper-slide {
    margin-right: 20px;
}

.my-slider img {
    width: 100%;
    height: 100%;
}

.my-slider .swiper-wrapper {
    transition-timing-function: linear;
}

/*******section6 *********/
.section6 {
    margin-top: 200px;
    width: 100%;

}

.section6 .section6_tit {
    text-align: center;
    margin-bottom: 50px;
}

.section6 .section6_tit h4 {
    font-size: 28px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;
}

.myswiper4 {
    width: 800px;
    height: 450px;
    margin: 30px auto;
    position: relative;
}

.myswiper4 img {
    width: 100%;
    height: 100%;
}

.myswiper4 .swiper-button-prev {
    left: -100px;
}

.myswiper4 .swiper-button-prev::after {
    font-size: 50px;
}

.myswiper4 .swiper-button-next {
    right: -100px;
}

.myswiper4 .swiper-button-next::after {
    font-size: 50px;
}

.section6_wrap .more_cf_btn {
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    background-color: #238ece;
    transition: .3s;

}

.section6_wrap .more_cf_btn a {
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: block;

}

.section6_wrap .more_cf_btn:hover {
    box-shadow: 0 0 10px gray;
}



/**************footer****************/
footer {
    width: 100%;
    margin-top: 150px;
    border-top: 1px solid #ccc;

}

.footer_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer_L {
    width: 85%;

}

.footer_L .footer_logo_wrap {
    display: flex;
    margin-top: 10px;
}

.footer_L .footer_logo_wrap .footer_logo {
    width: 130px;
    height: 37px;
    margin-left: 20px;
}

.footer_L .footer_logo_wrap .footer_logo img {
    width: 100%;
    height: 100%;
}

.footer_L .footer_logo_wrap .phoneno {}

.footer_L .footer_logo_wrap .phoneno p {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;

}

.footer_L .f_lnb {
    margin-top: 20px;
    display: flex;


}

.footer_L .f_lnb li {
    width: 12.5%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;

}

.footer_L .f_lnb li a {
    color: #888;
}

.footer_L .f_lnb li:nth-child(2) a {
    color: black;
}

.footer_L .f_lnb li:nth-child(3) a {
    color: black;
}

.footer_L .footer_desc {
    font-size: 13px;
    margin-top: 30px;
    color: #888;
    padding-left: 30px;
}


.footer_R {
    width: 15%;

}

#footchk {
    display: none;
}

#footchk:checked~.foot_langbox ul {
    height: 60px;
}

/* #footchk ~ .foot_langbox{display: none;} */

.footer_language label {
    padding-bottom: 5px;
    display: block;
    width: 100%;
    padding-left: 5px;
    border-bottom: 2px solid black;
    margin-top: 10px;
    text-align: center;
}

.footer_language label i {
    padding-left: 90px;
}

.footer_language .foot_langbox {
    width: 100%;
    position: relative;


}

.footer_language {}

.footer_language .foot_langbox ul {
    width: 100%;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: .2s;
    position: absolute;
    background-color: #fff;

}

.footer_language .foot_langbox ul li {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    color: #999;
    font-weight: 700;
    height: 30px;
    transition: .3s;
}

.footer_language .foot_langbox ul li:hover {
    color: #238ece;
}

.foot_down {
    display: flex;
    padding: 10px;
    margin-top: 20px;
}

.foot_down a {}

.foot_down a i {
    font-size: 20px;
    margin-left: 10px;
}

.footer_sns {
    display: flex;
    margin-top: 90px;
}

.footer_sns .foot_sns_img {
    width: calc(100% - 75% - 10px);
    margin: 0 5px;
    cursor: pointer;
}

.footer_sns .foot_sns_img img {
    width: 100%;

}

.list_award {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 30px;
    padding: 30px 0;


}

.list_award .container {}

.list_award_wrap {
    display: flex;
    align-items: center;
}

.list_award .award_box {
    display: flex;
    margin-right: 10px;
}

.list_award .awrad_box .award_img a {
    display: block;
    width: 100%;
}

.list_award .award_box .award_img img {}

.list_award .award_box p {
    margin: 0 8px;
    font-size: 11px;
    color: #888;


}











/****************quick menu*****************/
.quick_menu {
    width: 100px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(138, 149, 158, 0.15);
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    z-index: 9999;
}

.quick_menu .quick_wrap {
    width: 100%;
}

.quick_menu .quick_wrap .membership {
    border-bottom: 1px solid #ccc;

}

.quick_menu .quick_wrap .membership .q_img {
    width: 30px;
    height: 30px;
    margin: 10px auto;
}

.quick_menu .quick_wrap .membership:nth-child(3) .q_img {
    width: 30px;
    height: 30px;
}

.quick_menu .quick_wrap .membership img {
    width: 100%;
    height: 100%;
}

.quick_menu .quick_wrap .membership p {
    font-weight: 600;
    margin: 10px 0;
    transition: .3s;
}

.quick_menu .quick_wrap .membership i {
    font-size: 27px;
}

.quick_menu .quick_wrap .membership p span {
    color: #ff143c;
}

.quick_menu .quick_wrap .membership:hover p {
    color: #238ece;
}

.quick_menu .quick_wrap .membership:last-child {
    border: 0;
}

.btn_wrap {
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 9999;
}

.btn_wrap .dir_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;

}

.btn_wrap .dir_btn:first-child {
    background-color: #238ece;
}

.btn_wrap .dir_btn:last-child {
    background-color: #ff143c;
}

.btn_wrap .dir_btn a {
    width: 100%;
    display: block;
    color: #fff;

}

.btn_wrap .dir_btn a i {
    font-size: 18px;
}







@media all and (min-width:1025px) and (max-width:1275px) {
    .container {
        width: 100%;
    }

    header .header_wrap {
        margin: 0 10px;
    }

    header .main_logo img {
        width: 70%;
    }

    header .head_promotion .line_txt {
        font-size: 14px;
    }

    header .gnb {
        font-size: 12px;
    }

    header .head_promotion {
        justify-content: center;
    }

    .lnb_wrap .lnb>li>a {
        font-size: 15px;
    }

    .lnb_wrap ul li:last-child label {
        font-size: 15px;
    }

    .more_list .more_box>a {
        font-size: 15px;
    }

    .more_list .more_box li a {
        font-size: 13px;
    }

    .visual_main .visual img {
        height: 300px;
    }

    .visual.slick-dotted .slick-dots {
        bottom: 70px;
    }

    main {
        margin-top: 50px;
    }

    main .main_wrap .delivery a h4,
    main .main_wrap .togo_order h4,
    main .main_wrap .my_order a h4,
    main .main_wrap .e_coupon a h4 {
        font-size: 22px;
    }

    main .main_wrap .delivery a p,
    main .main_wrap .togo_order p,
    main .main_wrap .my_order a p,
    main .main_wrap .e_coupon a p {
        font-size: 14px;
        padding: 5px;
    }

    main .main_wrap .delivery,
    main .main_wrap .togo_order,
    main .main_wrap .my_order,
    main .main_wrap .e_coupon {
        height: 175px;
    }

    main .main_wrap .delivery {
        margin-left: 20px;
    }

    .section1 .section1_wrap .sec1_box1 {
        padding: 8px;
    }

    .section1 .section1_wrap .sec1_box1 p {
        font-size: 16px;
        letter-spacing: 8px;
    }

    .section1 .section1_wrap .sec1_box1 .sec1_login {
        width: 70px;
        height: 35px;
        line-height: 35px;
    }

    .section1 .section1_wrap .sec1_box1 .sec1_login a {
        font-size: 14px;
    }

    .section1 .section1_wrap .sec1_box2 .box2_01 {
        height: 160px;
    }

    .section1 .section1_wrap .sec1_box1 {
        height: 160px;
    }

    .section1 .section1_wrap .sec1_box2 {
        height: 160px;
    }

    .new_box .img_wrap {
        height: 230px;
    }

    .event_box .evnt_img .evnt_desc a {
        font-size: 20px;
    }

    @keyframes deliani {
        0% {
            transform: translateY(0px);
        }

        5% {
            transform: translateY(5px);
        }

        7% {
            transform: translateY(0px);
        }

        9% {
            transform: translateY(5px);
        }

        11% {
            transform: translateY(0px);
        }

        13% {
            transform: translateY(5px);
        }

        100% {
            transform: translateX(50px);
        }
    }



    @keyframes couponani {
        0% {
            transform: translateX(-5px);
        }

        10% {
            transform: translateX(0px);
        }

        20% {
            transform: translateX(-5px);
        }

        30% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(50px);
        }
    }

    .section2 .section2_wrap {
        margin: 0 10px;
    }

    .section3 .section3_wrap .best_seller {
        padding: 0 10px;
    }

    .best_seller .slick-arrow.slick-next {
        right: 14px;
    }

    .best_seller .slick-arrow.slick-prev {
        right: 55px;
    }

    .section4_wrap {
        padding: 0 10px;
    }

    .section5_wrap {
        margin-left: 10px;
        margin-right: 10px;
    }

    .section5_wrap .sns_box .sns_desc p {
        font-size: 12px;
    }

    .quick_menu {
        width: 75px;
    }

    .quick_menu .quick_wrap .membership p {
        font-size: 15px;
    }

    .footer_language label {
        font-size: 14px;
    }

    .footer_language .foot_langbox ul li {
        font-size: 13px;
    }

    .footer_wrap {
        padding: 0 10px;
    }

    .foot_down p {
        font-size: 12px;
    }

    .footer_L .f_lnb li {
        font-size: 13px;
    }

    .footer_L .footer_desc {
        font-size: 12px;
    }

    .footer_sns {
        margin-top: 75px;
    }

    .list_award_wrap {
        padding-left: 10px;
    }

    .popup {
        right: 130px;
    }

    .footer_language label {
        text-align: center;
    }

    .foot_down a i {
        margin-left: 5px;
    }



}

@media all and (min-width:768px) and (max-width:1024px) {
    .container {
        width: 100%;
    }

    .quick_menu {
        display: none;
    }

    .mobile_nav {
        display: block;
    }

    header .main_logo img {
        width: 80%;
    }

    header .head_promotion .line_txt {
        font-size: 13px;
    }

    header .gnb {
        font-size: 12px;
        font-weight: bold;
    }

    .lnb_wrap ul li {
        height: 40px;
    }

    .lnb_wrap .lnb>li>a {
        line-height: 40px;
        font-size: 15px;
    }

    .lnb_wrap ul li:last-child label {
        line-height: 40px;
        font-size: 15px;
    }

    .mobile_nav ul li a {
        font-size: 15px;
    }

    .visual_main .visual img {
        height: 275px;
    }

    main .main_wrap {
        flex-wrap: wrap;
    }

    main .main_wrap .delivery {
        width: calc(100% - 50% - 20px);
        margin-left: 10px;
    }

    main .main_wrap .togo_order {
        width: calc(100% - 50% - 20px);

        margin-right: 10px;

    }

    main .main_wrap .my_order {
        width: calc(100% - 50% - 20px);
        margin-top: 20px;
        margin-left: 10px;
    }

    main .main_wrap .e_coupon {
        width: calc(100% - 50% - 20px);
        margin-top: 20px;
        margin-right: 10px;
    }

    .section1 .section1_wrap .sec1_box1 p {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .section1 .section1_wrap .sec1_box1 .sec1_login {
        width: 80px;
        height: 30px;
        line-height: 30px;
    }

    .section1 .section1_wrap .sec1_box1 .sec1_login a {
        font-size: 12px;
    }

    .section1 .section1_wrap .sec1_box1 {
        height: 160px;
    }

    .section1 .section1_wrap .sec1_box2 {
        height: 160px;
    }

    .section1 .section1_wrap {
        margin: 0 10px;
    }

    .section1 {
        margin-top: 280px;
    }

    .section2 {
        margin-top: 115px;
    }

    .new_box .img_wrap {
        height: 200px;
    }

    .section2_wrap .new_box .new_desc .desc_wrap h4 {
        padding-left: 35px;
        font-size: 18px;
    }

    .section2_wrap .new_box .new_desc .price {
        font-size: 14px;
    }

    .section3 .section3_wrap .best_desc h4 {
        font-size: 18px;
    }

    .section3 .section3_wrap .best_desc p {
        font-size: 14px;
    }

    .section3 .section3_wrap .best_desc .best_price_wrap {
        padding-left: 25px;
    }

    .my-slider {
        height: 130px;
    }

    .recommand_left .left_text h4 {
        font-size: 26px;
    }

    .recommand_right .recommand_box:nth-child(2) {
        top: 168px;
        left: 55px;
    }

    .recommand_right .recommand_box:nth-child(4) {
        top: 95px;
    }

    .recommand_right .recommand_box:nth-child(3) {
        top: 66px;
        right: 35px;
    }

    .recommand_right .recommand_box:nth-child(6) {
        top: -17px;
        right: 91px;
    }

    .recommand_left {
        padding-left: 55px;
    }

    .section5_wrap .sns_box {
        width: calc(100% - 66.6666% - 26.6666px);

    }

    .section5_wrap .sns_box:nth-child(1) {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .section5_wrap .sns_box:nth-child(4) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .section5_wrap .sns_box.mt {
        margin-top: 0;
    }

    .section5_wrap .sns_box:nth-child(7) {
        margin-left: 20px;
        margin-top: 20px;
    }

    .section5_wrap .sns_box:nth-child(8) {
        margin-top: 20px;
    }

    iframe {
        width: 700px;
        height: 400px;
    }

    .myswiper4 {
        width: 700px;
        text-align: center;
        height: 400px;
    }

    .myswiper4 .swiper-button-next {
        right: -45px;
    }

    .myswiper4 .swiper-button-prev {
        left: -45px;
    }

    /*section new 부터 ~*/
}