* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* .container {
    width: 1660px;
    margin: 0 auto;
} */
li {
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
body::-webkit-scrollbar-thumb{
    background: #002053;
    height: 300px;


}
body::-webkit-scrollbar {
    width: 13px; 
}
body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1); 
}
/*********footer********/
footer{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.footer_wrap{
    border-top: 1px solid #ccc;
    background-color: #eee;
    padding: 20px 10px;
}

.footer_wrap .footer_box1{
    display: flex;
}
.footer_wrap .footer_box1 .foot_logo{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_logo img{
    width: 90px;
    height: 30px;
}

.footer_wrap .footer_box1 .foot_menu01{
    width: 20%;
}
.footer_wrap .footer_box1 h4{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer_wrap .footer_box1 li{
    margin-bottom: 10px;
    cursor: pointer;
    
}
.footer_wrap .footer_box1 .foot_menu02{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_menu03{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_menu04{
    width: 20%;
}

.footer_wrap .footer_box2{
    margin-top: 50px;
}
.footer_wrap .footer_box2 .foot_menu05{
    display: flex;
}
.footer_wrap .footer_box2 .foot_menu05 li{
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
}
.footer_wrap .footer_box2 .foot_menu05 li.red{color: red;}
.footer_wrap .footer_box2 .foot_menu05 li.blue{color: blue;}
.footer_wrap .footer_box2 .foot_menu05_1{
    width: 20%;
}
.footer_wrap .footer_box2 .foot_menu05_1 select{
    width: 45%;
    text-align: center;
    outline: none;
    background-color: #eee;
    border: 0;
    font-size: 16px;

}
.footer_wrap .footer_box2 .foot_menu05_1 select option:nth-child(1){
    display: none;
}

.footer_wrap .footer_box3{
    width: 100%;
    margin-top: 50px;
}
.footer_wrap .footer_box3 .menu06{
    display: flex;
}
.footer_wrap .footer_box3 .menu06 .menu06_1{
    width: 50%;
    text-align: left;
    margin-left: 90px;
    
}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc{}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc p{}

.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc .foot_span01{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc .foot_span02{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.footer_wrap .footer_box3 .menu06 .menu06_2{
    width: 25%;
    
    text-align: left;
    padding-left: 50px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 .cs_box{
   border: 1px solid black;
    text-align: center;
    /* width: 50%; */
    height: 35px;
    line-height: 35px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 h4{
    margin-top: 10px;
    font-size: 20px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 p.day{
    font-size: 14px;
    margin-top: 10px;
}

.footer_wrap .footer_box3 .menu06 .menu06_3{
    width: 25%;
    
    
}

.footer_wrap .footer_box3 .menu06 .menu06_3 i{
    font-size: 35px;
    margin-left: 30px;
    cursor: pointer;
}
.footer_wrap .footer_box3 .menu06 .menu06_3 i:nth-child(1){
    margin-left: 0;
}