*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: black}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

.contianer{}

/******************header***********************/
header{
    height: 80px;
    border-bottom: 1px solid #ccc;
}
header .logo_ex{
    display: flex;
    align-items: center;
    text-align: center;
}
header .logo_ex .logo_L {
    width: 20%;
}

header .logo_ex .logo_M{
    width: 60%;
    
}
header .logo_ex .logo_M img{
    width: 100%;
    margin: 10px auto;
}

header .logo_ex .logo_R{
    width: 20%;
    font-size: 1.75rem;
    font-weight: normal;
}
/*ham_chk*/
#ham_chk{display: none;}
#ham_chk:checked ~ label .line2{opacity: 0;}
#ham_chk:checked ~ label .line1{transform: translate(8px,9px); rotate: 45deg;}
#ham_chk:checked ~ label .line3{transform: translate(8px,-9px); rotate: -45deg;}
#ham_chk:checked ~ .ham_menu_list{height: 580px;}
/* #ham_chk ~ .ham_menu_list{display: none;} */

header .logo_ex .logo_L .line{
    width: 32px;
    height: 2px;
    display: block;
    background-color: #666;
    margin: 10px auto;
    overflow: hidden;
    transition: .3s;
}

.ham_menu_list{
    width: 100vw;
    position: absolute;
    top: 80px; left: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    
}

.ham_menu_list .box1{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #67ae3e;
    
    
}
.ham_menu_list .box1 li{
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    width: 50%;
    font-size: 18px;
    text-align: left;
    
}
.ham_menu_list .box1 li i{
    font-size: 1.5rem;
    
}
.ham_menu_list .box1 li:last-child{
    text-align: right;
}
.ham_menu_list .box2{
    display: flex;
}
.ham_menu_list .box2 li{
    width: 33.3333%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 0.875rem;

}
.ham_menu_list .box2 li:nth-child(1),
.ham_menu_list .box2 li:nth-child(2){
    border-right: 0;
}
.ham_menu_list .box2 li.box2_login{
    background-color: #fff4e8;
}

/*language chk*/
.ham_menu_list .box2 li.box2_lang{
    background-color: #7d6a55;
    color: #fff;
}

.ham_menu_list .box2 .lang_box .lang_inner{
    height: 0px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 20;
}
.ham_menu_list .box2 .lang_box .lang_inner li{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 0.875rem;
    background-color: #f4f3f3;
}
.ham_menu_list .box2 .lang_box .lang_inner li a{
    width: 100%;
    display: block;
}
.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(1){
    border-bottom: 0;
}
.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(2){
    border-bottom: 0;
}
#lang_chk{display: none;}
#lang_chk:checked ~ .lang_box .lang_inner{height: 105px;}
/* #lang_chk ~ .lang_box .lang_inner{display: none;} */


/*나의진료정보*/
.myinfo{
    border: 1px solid #ccc;
    height: 50px;
    position: relative;
    text-align: left;
    padding-left: 5px;
}
#myinfo_chk{display: none;}
#myinfo_chk:checked ~ label.myinfo_open{display: block;}
#myinfo_chk:checked ~ label.myinfo_close{display: none;}
#myinfo_chk ~ label.myinfo_open{display: none;}
#myinfo_chk ~ label.myinfo_close{display: block;}

#myinfo_chk:checked ~ .box3{height: 120px;}
/* #myinfo_chk ~ .box3{display: none;} */

.myinfo label{
    width: 100%;
    padding-top: 12px;
}
.box3{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    position: absolute;
    top: 50px; left: 0;
    z-index: 10;
}
.box3 li{
    border: 1px solid #ccc;
    height: 30px;
    background-color: #f4f3f3;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
}
.box3 li:nth-child(1),
.box3 li:nth-child(2),
.box3 li:nth-child(3){
    border-bottom: 0;
}
.box3 li a{
    display: block;
    width: 100%;
}


/*전문센터*/
#center_chk{display: none;}
#center_chk:checked ~ .center_label .center_open{display: block;}
#center_chk:checked ~ .center_label .center_close{display: none;}
#center_chk ~ .center_label .center_open{display: none;}
#center_chk ~ .center_label .center_close{display: block;}
#center_chk:checked ~ .center_box4{height: 420px;}
/* #center_chk ~ .center_box4{display: none;} */



.medical_center{
    border: 1px solid #ccc;
    height: 50px;
    position: relative;
    line-height: 50px;
    text-align: left;
    padding-left: 5px;
    
}

.center_box4{
    position: absolute;
    top: 50px; left: 0;
    width: 100%;
    z-index: 9;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.center_box4 li{
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
}
.center_box4 li a{
    width: 100%;
    display: block;
}

/*진료안내 medi info*/

#medi_info_chk{display: none;}
#medi_info_chk:checked ~ .medi_info_label .medi_info_open{display: block;}
#medi_info_chk:checked ~ .medi_info_label .medi_info_close{display: none;}
#medi_info_chk ~ .medi_info_label .medi_info_open{display: none;}
#medi_info_chk ~ .medi_info_label .medi_info_close{display: block;}
#medi_info_chk:checked ~ .medi_info_box{height: 240px;}


.medi_info{
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.medi_info_box{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 8;
}
.medi_info_box li{
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
}
.medi_info_box li a{
    width: 100%;
    display: block;
}

/*이용안내 use_info*/
#use_info_chk{display: none;}
#use_info_chk:checked ~ .use_info_label .use_info_open{display: block;}
#use_info_chk:checked ~ .use_info_label .use_info_close{display: none;}
#use_info_chk ~ .use_info_label .use_info_open{display: none;}
#use_info_chk ~ .use_info_label .use_info_close{display: block;}
#use_info_chk:checked ~ .use_info_box{height: 240px;}

.use_info{
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.use_info_box{
    width: 100%;
    position: absolute;
    left: 0; top: 50px;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 7;
}
.use_info_box li{
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
}
.use_info_box li a{
    width: 100%;
    display: block;
}

/*병원소개 intro*/
#intro_chk{display: none;}
#intro_chk:checked ~ .intro_label .intro_open{display: block;}
#intro_chk:checked ~ .intro_label .intro_close{display: none;}
#intro_chk ~ .intro_label .intro_open{display: none;}
#intro_chk ~ .intro_label .intro_close{display: block;}
#intro_chk:checked ~ .intro_box{height: 210px;}
.intro{
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.intro_box{
    width: 100%;
    position: absolute;
    top: 50px; left: 0;
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
    z-index: 6;
}
.intro_box li{
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
}
.intro_box li a{
    width: 100%;
    display: block;
}



/*reservation*/
.reservation{
    width: 100%;
    
}
.reservation .res_inner{
    
    width: 100%;
    display: flex;
}

.reservation .res_inner .res_online{
    width: 50%;
    
    height: 60px;
    background-color: #67ae3e;
    line-height: 60px;
    border: 1px solid #ccc;
}
.reservation .res_inner .res_online a{
    width: 100%;
    color: #fff;
}
.reservation .res_inner .res_online p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.reservation .res_inner .res_online p i{
    color: #fff;
}

.reservation .res_inner .res_offline{
    width: 50%;
    border: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
}
.reservation .res_inner .res_offline a{
    width: 100%;
    
}
.reservation .res_inner .res_offline p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.reservation .res_inner .res_offline p i{}


/*search box*/
#search_chk{display: none;}
#search_chk:checked ~ .mobile_search_box{height: 55px;}
/* #search_chk ~ .mobile_search_box{display: none;} */

.mobile_search_box{
    position: absolute;
    top: 80px; left: 0;
    height: 0px;
    overflow: hidden;
    transition: .3s;
   
    

}
.mobile_search_box input[type='search']{
    width: 100vw;
    height: 50px;
    border-radius: 20px;
    outline: none;
    position: relative;
    border: 1px solid #ccc;
}
.mobile_search_box button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px; right: 0;
    border-radius: 0 20px 20px 0 ;
    background-color: #67ae3e;
    color: #fff;
    border: 0;
    font-weight: 700;
    border: 1px solid #fff;
}

/******************************************************/
