*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: black}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
body{font-family: 'Noto Sans KR', sans-serif;}
.contianer{}

/******************header***********************/
header{
    

}
header .logo_ex{
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
}
header .logo_ex .logo_L {
    width: 20%;
}

header .logo_ex .logo_M{
    width: 60%;
   
    
}
header .logo_ex .logo_M img{
    width: 70%;
    margin: 15px auto;
    
}

header .logo_ex .logo_R{
    width: 20%;
    font-size: 1.75rem;
    font-weight: normal;
}
/*ham_chk*/
#ham_chk{display: none;}
#ham_chk:checked ~ label .line2{opacity: 0;}
#ham_chk:checked ~ label .line1{transform: translate(8px,9px); rotate: 45deg;}
#ham_chk:checked ~ label .line3{transform: translate(8px,-9px); rotate: -45deg;}
#ham_chk:checked ~ .ham_menu_list{height: 2500px;}
/* #ham_chk ~ .ham_menu_list{display: none;} */

header .logo_ex .logo_L .line{
    width: 28px;
    height: 2px;
    display: block;
    background-color: #888;
    margin: 10px auto;
    overflow: hidden;
    transition: .3s;
}

.ham_menu_list{
    width: 100vw;
    position: absolute;
    top: 80px; left: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 9998;
    
}

.ham_menu_list .box1{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #67ae3e;
    
    
}
.ham_menu_list .box1 li{
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    width: 50%;
    font-size: 18px;
    text-align: left;
    
}
.ham_menu_list .box1 li:nth-child(2){
    height: 50px;
}
.ham_menu_list .box1 li i{
    font-size: 1.5rem;
    
}
.ham_menu_list .box1 li:last-child{
    text-align: right;
}
.ham_menu_list .box2{
    display: flex;
}
.ham_menu_list .box2 li{
    width: 33.3333%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 0.875rem;

}
.ham_menu_list .box2 li:nth-child(1),
.ham_menu_list .box2 li:nth-child(2){
    border-right: 0;
}
.ham_menu_list .box2 li.join{
    background-color: #f4f3f3;
}
.ham_menu_list .box2 li.box2_login{
    background-color: #fff4e8;
}

/*language chk*/
.ham_menu_list .box2 li.box2_lang{
    background-color: #7d6a55;
    color: #fff;
}

.ham_menu_list .box2 .lang_box .lang_inner{
    height: 0px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 20;
}
.ham_menu_list .box2 .lang_box .lang_inner li{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 0.875rem;
    background-color: #f4f3f3;
}
.ham_menu_list .box2 .lang_box .lang_inner li a{
    width: 100%;
    display: block;
}
.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(1){
    border-bottom: 0;
}
.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(2){
    border-bottom: 0;
}
#lang_chk{display: none;}
#lang_chk:checked ~ .lang_box .lang_inner{height: 105px;}
/* #lang_chk ~ .lang_box .lang_inner{display: none;} */


/*나의진료정보*/
.myinfo{
    width: 100%;
    text-align: left;
    background-color: #fff;
    line-height: 50px;

}
#myinfo_chk{display: none;}
#myinfo_chk:checked ~ label.myinfo_open{display: block;}
#myinfo_chk:checked ~ label.myinfo_close{display: none;}
#myinfo_chk ~ label.myinfo_open{display: none;}
#myinfo_chk ~ label.myinfo_close{display: block;}
#myinfo_chk:checked ~ .myinfo_list ul{height: 200px;}
/* #myinfo_chk ~ .myinfo_list ul{display: none;} */

.myinfo label{
    padding-left: 5px;
    height: 50px;
}
.myinfo_list{
    width: 100%;
}
.myinfo_list ul{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.myinfo_list ul li{
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;

}
.myinfo_list ul li:first-child{border-top: 1px solid #ccc;}






/*전문센터*/
.center{
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}
#center_chk{display: none;}
#center_chk:checked ~ label.center_open{display: block;}
#center_chk:checked ~ label.center_close{display: none;}
#center_chk ~ label.center_open{display: none;}
#center_chk ~ label.center_close{display: block;}
#center_chk:checked ~ .center_list ul{height: 700px;}
/* #center_chk ~ .center_list ul{display: none;} */

.center label{
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
    
    
}
.center_list{
    width: 100%;
}
.center_list ul{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.center_list ul li{
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
    padding-left: 10px;
    line-height: 50px;
}
.center_list ul li:first-child{border-top: 1px solid #ccc;}



/*진료안내 medi info*/
.medi_info{
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}

#mediinfo_chk{display: none;}
#mediinfo_chk:checked ~ label.mediinfo_open{display: block;}
#mediinfo_chk:checked ~ label.mediinfo_close{display: none;}
#mediinfo_chk ~ label.mediinfo_open{display: none;}
#mediinfo_chk ~ label.mediinfo_close{display: block;}
#mediinfo_chk:checked ~ .mediinfo_list ul{height: 400px;}
.medi_info label{
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}
.mediinfo_list{
    width: 100%;
}
.mediinfo_list ul{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.mediinfo_list ul li{
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}

.mediinfo_list ul li:first-child{border-top: 1px solid #ccc;}


/*이용안내 use_info*/
.use_info{
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}

#useinfo_chk{display: none;}
#useinfo_chk:checked ~ label.useinfo_open{display: block;}
#useinfo_chk:checked ~ label.useinfo_close{display: none;}

#useinfo_chk ~ label.useinfo_open{display: none;}
#useinfo_chk ~ label.useinfo_close{display: block;}
#useinfo_chk:checked ~ .useinfo_list ul{height: 350px;}
.use_info label{
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}

.useinfo_list{
    width: 100%;
}
.useinfo_list ul{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.useinfo_list ul li{
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}

.useinfo_list ul li:first-child{border-top: 1px solid #ccc;}


/*병원소개 intro*/
.intro{
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
   
}
#intro_chk{display: none;}
#intro_chk:checked ~ label.intro_open{display: block;}
#intro_chk:checked ~ label.intro_close{display: none;}
#intro_chk ~ label.intro_open{display: none;}
#intro_chk ~ label.intro_close{display: block;}
#intro_chk:checked ~ .intro_list ul{height: 350px;}

.intro label{
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}

.intro_list{
    width: 100%;
}
.intro_list ul{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}
.intro_list ul li{
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}
.intro_list ul li:first-child{border-top: 1px solid #ccc;}



/*reservation*/
.reservation{
    width: 100%;
    
    
}
.reservation .res_inner{
    
    width: 100%;
    display: flex;
}

.reservation .res_inner .res_online{
    width: 50%;
    
    height: 60px;
    background-color: #67ae3e;
    line-height: 60px;
    border: 1px solid #ccc;
}
.reservation .res_inner .res_online a{
    width: 100%;
    color: #fff;
}
.reservation .res_inner .res_online p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.reservation .res_inner .res_online p i{
    color: #fff;
}

.reservation .res_inner .res_offline{
    width: 50%;
    border: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}
.reservation .res_inner .res_offline a{
    width: 100%;
    
}
.reservation .res_inner .res_offline p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.reservation .res_inner .res_offline p i{}


/*search box*/
#search_chk{display: none;}
#search_chk:checked ~ .mobile_search_box{height: 55px;}
/* #search_chk ~ .mobile_search_box{display: none;} */
#search_chk:checked ~ label i{transform: scale(1.15);}

.mobile_search_box{
    position: absolute;
    top: 80px; left: 0;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 9999;
   
    

}
.mobile_search_box input[type='search']{
    width: 100vw;
    height: 50px;
    border-radius: 20px;
    outline: none;
    position: relative;
    border: 1px solid #ccc;
}
.mobile_search_box button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3px; right: 0;
    border-radius: 0 20px 20px 0 ;
    background-color: #67ae3e;
    color: #fff;
    border: 0;
    font-weight: 700;
    
}

/*******************visual_main***************************/
.visual_main{
    width: 100%;
    height: auto;
    
}
.visual_main .visual_slider{
    position: relative;
}
.visual_main .visual_slider .v_img{
    width: 100%;
   
}
.visual_main .visual_slider .v_img img{
    width: 100%;
   height: 150px;
}
.visual_slider .slick-arrow{
    font-size: 0;
    visibility: hidden;
}
.visual_slider .slick-prev{
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    z-index: 11;
}
.visual_slider .slick-prev::after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
}
.visual_slider .slick-next::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
}
.visual_slider .slick-next{
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    
}
.visual_slider .slick-dots{
    position: absolute;
    top: 0; right: 8%;
}
.visual_slider .slick-dots li{
    display: inline-block;
  
}
.visual_slider .slick-dots li button{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 0;
    margin-right: 5px;
    font-size: 0;
}
.visual_slider .slick-dots li.slick-active button{
    background-color: #67ae3e;
}


/*****************main************************/
main{
    width: 100%;
}
.main_wrap{
    position: relative;
    top: -20px;
}
.main_wrap .main_search{
    margin: 0 20px;
    background-color: #67ae3e;
    height: 150px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.main_wrap .main_search h4{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}
.main_wrap .main_search .m_searchbox{
    width: 100%;
    position: relative;
    
}
.main_wrap .main_search .m_searchbox input{
    width: 70%;
    outline: none;
    border: 0;
    border-bottom: 2px solid #666;
    background-color: #67ae3e;
    margin-top: 20px;
    
   
}
.main_wrap .main_search .m_searchbox i{
    position: absolute;
    top: 30%; right: 16%;
    color: #666;
    font-size: 1.1rem;
}
.main_wrap .m_search_btn{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
   

}
.main_wrap .m_search_btn div{
    width: calc(100% - 50% - 10px);
    margin-right: 20px;
    background-color: #fff;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #ccc;
}
.main_wrap .m_search_btn div:nth-child(2){
    margin-right: 0;
}
.main_wrap .m_search_btn a{
    display: block;
    width: 100%; 
    font-size: 0.9rem;
}

.main_wrap .main_reservation{
    margin: 0 20px;
    background-color: #f4f3f3;
    height: 150px;
    border: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
}
.main_wrap .main_reservation h4{
    color: black;
    font-size: 1rem;
    padding-top: 10px;
}
.main_wrap .main_reservation .m_search_btn{
    
}
.main_wrap .main_reservation .m_search_btn div{
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    
}
.main_wrap .main_reservation .m_search_btn a{
    font-size: 0.9rem;
    /* color: #fff; */
}
.main_wrap .main_reservation .m_search_btn .msearch_btn_2{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.main_wrap .main_login{
    margin: 0 20px;
    background-color: #7d6a55;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
}
.main_wrap .main_login h4{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    
}

.main_wrap .main_login_box{
    width: 80%;
    margin: 0px auto;
    text-align: center;
   
}
.main_wrap .main_login_box input{
    width: 70%;
    height: 20px;
    outline: none;
    border: none;
    margin-bottom: 5px;
}
.main_wrap .main_login_box input:last-child{
    margin-bottom: 0;
}
.main_wrap .main_login_box .main_join{
   
}
.main_wrap .main_login_box .main_join a{
    width: 100%;
    font-size: 0.688rem;
    color: #fff;
    position: relative;
    top: -7px;
    margin-right: 30px;

}
.main_wrap .main_login_box .main_join a:last-child{margin-right: 0;}

.main_wrap .main_login_box button{
    background-color: #fff;
    border: 0;
    width: 60px;
    height: 20px;
    color: black;
    font-weight: 600;

}


/****************section**********************/
.section1{width: 100%;}
.section1_wrap{
    display: flex;
    flex-wrap: wrap;
    
}

.s1box{
    width: calc(100% - 50% - 10px);
    height: 180px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.s1box:nth-child(2n){margin-right: 0;}
.s1box:nth-child(3), 
.s1box:nth-child(4){margin-bottom: 0;}
.section1_box1{
    background-color: #fff4e8;
    border-radius: 10px;
}
.s1box h4{
    margin-top: 10px;
    font-size: 0.9rem;
}
.s1box p{
    font-size: 0.7rem;
    margin-top: 20px;
}
.s1box p span{
    font-size: 1.3rem;
    font-weight: 700;
    color: #47ae3e;
}
.s1box .sec1_btn{
    width: 100%;
    margin-top: 30px;
    /* font-size: 0.938rem; */
}
.s1box .sec1_btn a{
   border: 1px solid #ccc;
   display: inline-block;
   width: calc(100% - 50% - 10px);
   background-color: #fff;
   height: 30px;
   line-height: 30px;
   font-size: 0.6rem;
   
}
.section1_box1{

}
.section1_box2{
    background-color: #fff;
    border-radius: 10px;
}
.section1_box2 .sec1_btn{
   margin-top: 42px;
}
.section1_box3{
    background-color: #67ae3e;
    border-radius: 10px;
    color: #fff;
}
.section1_box4{
    background-color: #fae100;
    border-radius: 10px;
}
.section1_box4 .sec1_btn a{
    background-color: #381e1f;
    color: #fff;
    border: 0;
    width: calc(100% - 20px);

}

/*************section2 noticebox*****************/
.section2{
    width: 100%;
    margin-top: 40px;
}
.section2 .section2_wrap{}
.section2 .section2_wrap .notice_box1{
    width: 100%;
    
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.section2 .section2_wrap .notice_box1 h4{
    margin-left: 20px;
    margin-top: 10px;
}
.section2 .section2_wrap .notice_box1 .notice_list{
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #fff;
}
.section2 .section2_wrap .notice_box1 .notice_list a{
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 0.688rem;
}
.section2 .section2_wrap .notice_box1 .notice_list a:first-child{
    margin-top: 10px;
}

.section2 .section2_wrap .notice_box1 .notice_list i{
    font-size: 0.5rem;
}


/*notice tab menu*/
#tab01, #tab02, #tab03{display: none;}

#tab01:checked ~ .sheet .sheet01{display: block;}
/* #tab01 :checked ~ .sheet .sheet02{display: none;}
#tab01 :checked ~ .sheet .sheet03{display: none;} */

/* #tab02 :checked ~ .sheet .sheet01{display: none;} */
#tab02:checked ~ .sheet .sheet02{display: block;}
/* #tab02 :checked ~ .sheet .sheet03{display: none;} */

/* #tab03 :checked ~ .sheet .sheet01{display: none;} */
/* #tab03 :checked ~ .sheet .sheet02{display: none;} */
#tab03:checked ~ .sheet .sheet03{display: block;}
#tab01:checked ~ .notice_label .label_01{border-bottom: 2px solid #67ae3e;}
#tab02:checked ~ .notice_label .label_02{border-bottom: 2px solid #67ae3e;}
#tab03:checked ~ .notice_label .label_03{border-bottom: 2px solid #67ae3e;}


.notice_box2{
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background-color: #fff4e8; 
    height: 160px;
}
.notice_label{
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.sheet{
    
}
.sheet01, .sheet02, .sheet03{
   background-color: #fff;
    display: none;
    border: 1px solid #ccc;
    margin:0 10px ;
    margin-top: 10px;
    
}
.sheet01 a, .sheet02 a, .sheet03 a{
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 0.688rem;
    
    
}
.sheet01 a:first-child,
.sheet02 a:first-child,
.sheet03 a:first-child{
    margin-top: 10px;
}

.sheet01 a i, .sheet02 a i, .sheet03 a i{
    font-size: 0.5rem;
}

.notice_label .label_01,
.notice_label .label_02,
.notice_label .label_03{
    border-bottom: 2px solid #ccc;
    transition: .3s;
}

/***************section3 전문진료센터*******************/
.section3{
    width: 100%;
}
.section3_wrap{}
.section3_wrap .section3_tit{
    width: 100%;
    height: 35px;
    text-align: center;
    border-top:1px solid #ccc ;
    border-bottom:1px solid #ccc ;
    line-height: 35px;
}
.section3_wrap .section3_tit h4{
    font-size: 1.1rem;
}

#sec3_chk{display: none;}
#sec3_chk:checked ~ label.sec3_open{display: block;}
#sec3_chk:checked ~ label.sec3_close{display: none;}
#sec3_chk ~ label.sec3_open{display: none;}
#sec3_chk ~ label.sec3_close{display: block;}

#sec3_chk:checked ~ .section3_list{height: 830px;}
/* #sec3_chk ~ .section3_list{display: none;} */

.section3_list{
    height: 0px;
    overflow: hidden;
    transition: .3s;
}



.section3_box label {
    position: absolute;
    top: 5px; right: 10px;
   
   
}
.section3_wrap{
    position: relative;
}
.section3_list_wrap{
    display: flex;
    flex-wrap: wrap;
}
.center_box{
    width: calc(100% - 50% - 20px);
    height: 185px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.center_box h4{
    margin-top: 5px;
    font-size: 1.1rem;
}
.center_box .center_box_img{
    width: 80px;
    height: 80px;
    margin: 10px auto;
}
.center_box .center_box_img img{
    width: 100%;
    height: auto;
}
.center_box p{
    font-size: 0.7rem;
    padding: 5px;
    
}
.center_box:nth-child(1){
    background-color: #67ae3e;
    color: #fff;
    
}
.center_box:nth-child(2){
    background-color: #f4f3f3;
   
}
.center_box:nth-child(3){
    background-color: #f4f3f3;
}
.center_box:nth-child(4){
    background-color: #fff4e8;
}
.center_box:nth-child(5){
    background-color: #7d6a55;
    color: #fff;
}
.center_box:nth-child(6){
    background-color: #f4f3f3;
}
.center_box:nth-child(7){
    background-color: #f4f3f3;
}
.center_box:nth-child(8){
    background-color: #67ae3e;
    color: #fff;
}


/****************section4****************/
.section4{
    margin-top: 30px;
}
.section4_wrap{}
.section4_tit{
    width: 100%;
    height: 35px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.section4_tit h4{
    font-size: 1.1rem;
}

.media_01{
    width: calc(100% - 20px);
   
    margin: 0 10px;
    position: relative;
    margin-bottom: 20px;
}
.media_01 .media_img{}
.media_01 .media_img a{
    display: block;
    width: 100%;
}
.media_01 .media_img a img{
    width: 100%;
    height: 100%;
    /* height: auto; */
    
}

.media_01 .media_desc{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 5px;
    line-height: 30px;
}
.media_01 .media_desc a{
    width: 100%;
    display: block;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}


/*************section5****************/
.section5{}
.section5_wrap{
    
}
.section5_tit{
    width: 100%;
    height: 35px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 35px;
    margin-bottom: 50px;
}
.section5_tit h4{
    font-size: 1.1rem;
    text-align: center;
    
}
.sns_box_wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    
}
.sns_box{
    width: calc(100% - 50% - 10px);
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
}
.sns_box:nth-child(2){margin-right: 0;}
.sns_box:nth-child(4){margin-right: 0;}
.sns_box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sns_box .sns_logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    top: -30px; right: 50%;
    transform: translateX(50%);
    background-color: #Fff;
}
.sns_box .sns_logo a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
.sns_box:nth-child(1) .sns_logo a{color: red;} 
.sns_box:nth-child(2) .sns_logo a{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fff;
} 
.sns_box:nth-child(3) .sns_logo a{
    background-color: #67ae3e;
    color: #fff;
}
.sns_box:nth-child(4) .sns_logo a{
    background-color: royalblue;
    color: #fff;
}
.sns_box .sns_logo a i{}


/*footer*/
footer{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background-color: #f4f3f3;
}

.footer_wrap{
    display: flex;
    
}
.footer_wrap .foot_logo{
    width: calc(100% - 85% - 10px);
    margin-right: 10px;
}
.footer_wrap .foot_logo img{
    width: 100%;
}
.footer_wrap .foot_desc{
    width: 70%;
}
.footer_wrap .foot_desc p{
    font-size: 0.5rem;
}
.footer_wrap .foot_famsite{
    width: calc(100% - 85% -10px);
    margin-left: 10px;
}
.footer_wrap .foot_famsite select{
    width: 80px;
    font-size: 0.7rem;
    outline: none;
    background-color: #fff;

}


/*top btn*/
.top_btn{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 0.5rem;
    line-height: 30px;
    background-color: #67ae3e;
    text-align: center;
    position: fixed;
    bottom: 105px; right: 0;
}
.top_btn a{
    display: block;
    color: #fff;
}


/****************media query**************************/
@media all and (min-width:601px) {
    header .logo_ex .logo_M img{width: 50%;}
    .main_wrap{
        display: flex;
        top: -30px;
    }
    .main_wrap .main_search{
        width: calc(100% - 66.6666% - 13.3333px);
        margin: auto;
        margin-right: 20px;
        margin-left: 0;
        border-radius: 10px 0 0 10px;
        height: 180px;
    }
    .main_wrap .main_reservation{
        width: calc(100% - 66.6666% - 13.3333px);
        margin: auto;
        margin-right: 20px;
        margin-left: 0;
        height: 180px;
    }
    .main_wrap .main_login{
        width: calc(100% - 66.6666% - 13.3333px);
        margin-left: 0;
        margin: auto;
        border-radius: 0 10px 10px 0;
        height: 180px;
    }
    .main_wrap .main_search .m_searchbox input{
        margin-top: 40px;
    }
    .main_wrap .main_search .m_searchbox i{
        top: 55%;
    }
    .main_wrap .m_search_btn{
        margin: 30px auto;
    }
    .main_wrap .main_login_box .main_join a{
        font-size: 0.5rem;
        margin-right: 0;
    }
    .main_wrap .main_login_box{
        margin: 10px auto;    
    }
    .main_wrap .main_reservation .m_search_btn .msearch_btn_2{
        margin-top: 23px;
    }
    /* .main_wrap .main_login h4{font-size: 1.2rem;}
    .main_wrap .main_reservation h4{font-size: 1.2rem;}
    .main_wrap .main_search h4{font-size: 1.2rem;} */

    .s1box{
        width: calc(100% - 75% - 15px);
        margin: 0;
        
        margin-right: 20px;
    }
    .section1_box4{margin-right: 0;}
    .s1box:nth-child(2){margin-right: 20px;}
    .box3_btn{
        padding-top: 11px;
    }
    .box4_btn{
        padding-top: 11px;
    }
    .sec1_btn{font-size: 1rem;}
    .section2 .section2_wrap .notice_box1{
        width: calc(100% - 50% - 10px);
        margin-right: 20px;
        border-radius: 10px 0 0 10px;
    }
    .notice_box2{
        width: calc(100% - 50% - 10px);
        border-radius: 0 10px 10px 0;
    }
    .section2 .section2_wrap{
        display: flex;
    }
    .center_box{
        width: calc(100% - 75% - 20px);
        height: auto;
    }
    #sec3_chk:checked ~ .section3_list{height: 420px;}
    .center_box.beige{
        background-color: #fff4e8;
    }
    .center_box.gray{
        background-color: #f4f3f3;
    }
    .center_box.gray2{
        background-color: #f4f3f3;
        color: black;
    }
    .center_box.brown{
        background-color: #7d6a55;
        color: #fff;
    }
    .media02, .media03, .media04, .media05{
        width: calc(100% - 50% - 20px);
        
    }
    .media_wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .sns_box{
        width: calc(100% - 75% - 15px);
        
    }
    .sns_box:nth-child(2){
        margin-right: 20px;
    }
    
    .sns_box_wrap{
        margin: 0 auto;
    }
    .footer_wrap .foot_logo img{
        width: 60%;
    }
    .footer_wrap .foot_logo{
        margin-right: 0;
        margin-left: 10px;
    }
    .foot_desc p{
        font-size: 0.8rem;
    }
    .top_btn{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 0.8rem;
        bottom: 70px;
    }
    .visual_main .visual_slider .v_img img{
        height: 200px;
    }
}