* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}


.contianer {}

/******************header***********************/
header {}

header .logo_ex {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
}

header .logo_ex .logo_L {
    width: 20%;
}

header .logo_ex .logo_M {
    width: 60%;
    cursor: pointer;
}

header .logo_ex .logo_M img {
    width: 70%;
    margin: 15px auto;

}

header .logo_ex .logo_R {
    width: 20%;
    font-size: 1.75rem;
    font-weight: normal;
}

/*ham_chk*/
#ham_chk {
    display: none;
}

#ham_chk:checked~label .line2 {
    opacity: 0;
}

#ham_chk:checked~label .line1 {
    transform: translate(8px, 9px);
    rotate: 45deg;
}

#ham_chk:checked~label .line3 {
    transform: translate(8px, -9px);
    rotate: -45deg;
}

#ham_chk:checked~.ham_menu_list {
    height: 2500px;
}

/* #ham_chk ~ .ham_menu_list{display: none;} */

header .logo_ex .logo_L .line {
    width: 28px;
    height: 2px;
    display: block;
    background-color: #888;
    margin: 10px auto;
    overflow: hidden;
    transition: .3s;
}

.ham_menu_list {
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 9998;

}

.ham_menu_list .box1 {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #67ae3e;


}

.ham_menu_list .box1 li {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    width: 50%;
    font-size: 18px;
    text-align: left;

}

.ham_menu_list .box1 li:nth-child(2) {
    height: 50px;
}

.ham_menu_list .box1 li i {
    font-size: 1.5rem;

}

.ham_menu_list .box1 li:last-child {
    text-align: right;
}

.ham_menu_list .box2 {
    display: flex;
}

.ham_menu_list .box2 li {
    width: 33.3333%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 0.875rem;
    cursor: pointer;

}

.ham_menu_list .box2 li:nth-child(1),
.ham_menu_list .box2 li:nth-child(2) {
    border-right: 0;
}

.ham_menu_list .box2 li.join {
    background-color: #f4f3f3;
}

.ham_menu_list .box2 li.box2_login {
    background-color: #fff4e8;
}

/*language chk*/
.ham_menu_list .box2 li.box2_lang {
    background-color: #7d6a55;
    color: #fff;
}

.ham_menu_list .box2 .lang_box .lang_inner {
    height: 0px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 20;
}

.ham_menu_list .box2 .lang_box .lang_inner li {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 0.875rem;
    background-color: #f4f3f3;
    transition: .3ss;
}

.ham_menu_list .box2 .lang_box .lang_inner li:hover {
    background-color: #67ae3e;

}

.ham_menu_list .box2 .lang_box .lang_inner li:hover a {
    color: #fff;
}

.ham_menu_list .box2 .lang_box .lang_inner li a {
    width: 100%;
    display: block;
    transition: .3s;
}

.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(1) {
    border-bottom: 0;
}

.ham_menu_list .box2 .lang_box .lang_inner li:nth-child(2) {
    border-bottom: 0;
}

#lang_chk {
    display: none;
}

#lang_chk:checked~.lang_box .lang_inner {
    height: 105px;
}

/* #lang_chk ~ .lang_box .lang_inner{display: none;} */


/*나의진료정보*/
.myinfo {
    width: 100%;
    text-align: left;
    background-color: #fff;
    line-height: 50px;

}

#myinfo_chk {
    display: none;
}

#myinfo_chk:checked~label.myinfo_open {
    display: block;
}

#myinfo_chk:checked~label.myinfo_close {
    display: none;
}

#myinfo_chk~label.myinfo_open {
    display: none;
}

#myinfo_chk~label.myinfo_close {
    display: block;
}

#myinfo_chk:checked~.myinfo_list ul {
    height: 200px;
}

/* #myinfo_chk ~ .myinfo_list ul{display: none;} */

.myinfo label {
    padding-left: 5px;
    height: 50px;
}

.myinfo_list {
    width: 100%;
}

.myinfo_list ul {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.myinfo_list ul li {
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;

}

.myinfo_list ul li:first-child {
    border-top: 1px solid #ccc;
}






/*전문센터*/
.center {
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}

#center_chk {
    display: none;
}

#center_chk:checked~label.center_open {
    display: block;
}

#center_chk:checked~label.center_close {
    display: none;
}

#center_chk~label.center_open {
    display: none;
}

#center_chk~label.center_close {
    display: block;
}

#center_chk:checked~.center_list ul {
    height: 700px;
}

/* #center_chk ~ .center_list ul{display: none;} */

.center label {
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;


}

.center_list {
    width: 100%;
}

.center_list ul {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.center_list ul li {
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
    padding-left: 10px;
    line-height: 50px;
}

.center_list ul li a {
    width: 100%;
    display: block;
}

.center_list ul li:first-child {
    border-top: 1px solid #ccc;
}



/*진료안내 medi info*/
.medi_info {
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}

#mediinfo_chk {
    display: none;
}

#mediinfo_chk:checked~label.mediinfo_open {
    display: block;
}

#mediinfo_chk:checked~label.mediinfo_close {
    display: none;
}

#mediinfo_chk~label.mediinfo_open {
    display: none;
}

#mediinfo_chk~label.mediinfo_close {
    display: block;
}

#mediinfo_chk:checked~.mediinfo_list ul {
    height: 400px;
}

.medi_info label {
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}

.mediinfo_list {
    width: 100%;
}

.mediinfo_list ul {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.mediinfo_list ul li {
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}

.mediinfo_list ul li:first-child {
    border-top: 1px solid #ccc;
}


/*이용안내 use_info*/
.use_info {
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;
}

#useinfo_chk {
    display: none;
}

#useinfo_chk:checked~label.useinfo_open {
    display: block;
}

#useinfo_chk:checked~label.useinfo_close {
    display: none;
}

#useinfo_chk~label.useinfo_open {
    display: none;
}

#useinfo_chk~label.useinfo_close {
    display: block;
}

#useinfo_chk:checked~.useinfo_list ul {
    height: 350px;
}

.use_info label {
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}

.useinfo_list {
    width: 100%;
}

.useinfo_list ul {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.useinfo_list ul li {
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}

.useinfo_list ul li:first-child {
    border-top: 1px solid #ccc;
}


/*병원소개 intro*/
.intro {
    width: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: left;

}

#intro_chk {
    display: none;
}

#intro_chk:checked~label.intro_open {
    display: block;
}

#intro_chk:checked~label.intro_close {
    display: none;
}

#intro_chk~label.intro_open {
    display: none;
}

#intro_chk~label.intro_close {
    display: block;
}

#intro_chk:checked~.intro_list ul {
    height: 350px;
}

.intro label {
    height: 50px;
    border-top: 1px solid #ccc;
    padding-left: 5px;
}

.intro_list {
    width: 100%;
}

.intro_list ul {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.intro_list ul li {
    display: block;
    height: 50px;
    background-color: #f4f3f3;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.8rem;
}

.intro_list ul li:first-child {
    border-top: 1px solid #ccc;
}



/*reservation*/
.reservation {
    width: 100%;


}

.reservation .res_inner {

    width: 100%;
    display: flex;
}

.reservation .res_inner .res_online {
    width: 50%;

    height: 60px;
    background-color: #67ae3e;
    line-height: 60px;
    border: 1px solid #ccc;
}

.reservation .res_inner .res_online a {
    width: 100%;
    color: #fff;
}

.reservation .res_inner .res_online p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.reservation .res_inner .res_online p i {
    color: #fff;
}

.reservation .res_inner .res_offline {
    width: 50%;
    border: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}

.reservation .res_inner .res_offline a {
    width: 100%;

}

.reservation .res_inner .res_offline p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.reservation .res_inner .res_offline p i {}


/*search box*/
#search_chk {
    display: none;
}

#search_chk:checked~.mobile_search_box {
    height: 55px;
}

/* #search_chk ~ .mobile_search_box{display: none;} */
#search_chk:checked~label i {
    transform: scale(1.15);
}

.mobile_search_box {
    position: absolute;
    top: 77px;
    left: 0;
    height: 0px;
    overflow: hidden;
    transition: .3s;
    z-index: 9999;



}

.mobile_search_box input[type='search'] {
    width: 100vw;
    height: 50px;
    border-radius: 20px;
    outline: none;
    position: relative;
    border: 1px solid #ccc;
}

.mobile_search_box button {
    width: 50px;
    height: 48px;
    position: absolute;
    top: 4px;
    right: 0;
    border-radius: 0 20px 20px 0;
    background-color: #67ae3e;
    color: #fff;
    border: 0;
    font-weight: 700;

}

/*******************visual_main***************************/
.visual_main {
    width: 100%;
    height: auto;
    position: relative;

}

.visual_main .visual_slider {
    position: relative;
}

.visual_main .visual_slider .v_img {
    width: 100%;

}

.visual_main .visual_slider .v_img img {
    width: 100%;
    height: 150px;
}

.visual_slider .slick-arrow {
    font-size: 0;
    visibility: hidden;
}

.visual_slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 11;
}

.visual_slider .slick-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
}

.visual_slider .slick-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #fff;
}

.visual_slider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

.visual_slider .slick-dots {
    position: absolute;
    top: 0;
    right: 8%;
}

.visual_slider .slick-dots li {
    display: inline-block;

}

.visual_slider .slick-dots li button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 0;
    margin-right: 5px;
    font-size: 0;
}

.visual_slider .slick-dots li.slick-active button {
    background-color: #67ae3e;
}

.visual_main .container .control {
    position: absolute;
    top: 7%;
    right: 20%;
    font-size: 0.7rem;
}

.visual_main .container .control a {
    margin-right: 5px;
}

.visual_main .container .control a i {
    color: #fff;

}




/*****************main************************/
main {
    width: 100%;
}

.main_wrap {
    position: relative;
    top: -20px;
}

.main_wrap .main_search {
    margin: 0 30px;
    background-color: #67ae3e;
    height: 150px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
    
}

.main_wrap .main_search h4 {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}

.main_wrap .main_search .m_searchbox {
    width: 100%;
    position: relative;

}

.main_wrap .main_search .m_searchbox input {
    width: 70%;
    outline: none;
    border: 0;
    border-bottom: 2px solid #666;
    background-color: #67ae3e;
    margin-top: 20px;


}

.main_wrap .main_search .m_searchbox i {
    position: absolute;
    top: 30%;
    right: 16%;
    color: #666;
    font-size: 1.1rem;
}

.main_wrap .m_search_btn {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;


}

.main_wrap .m_search_btn div {
    width: calc(100% - 50% - 10px);
    margin-right: 20px;
    background-color: #fff;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #ccc;
}

.main_wrap .m_search_btn div:nth-child(2) {
    margin-right: 0;
}

.main_wrap .m_search_btn a {
    display: block;
    width: 100%;
    font-size: 0.9rem;
}

.main_wrap .main_reservation {
    margin: 0 30px;
    background-color: #f4f3f3;
    height: 150px;
    border: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
    
}

.main_wrap .main_reservation h4 {
    color: black;
    font-size: 1rem;
    padding-top: 10px;
}

.main_wrap .main_reservation .m_search_btn {
    margin-top: 38px;
}

.main_wrap .main_reservation .m_search_btn div {
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;

}

.main_wrap .main_reservation .m_search_btn a {
    font-size: 0.9rem;
    /* color: #fff; */
}

.main_wrap .main_reservation .m_search_btn .msearch_btn_2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.main_wrap .main_login {
    margin: 0 30px;
    background-color: #7d6a55;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
    
}

.main_wrap .main_login h4 {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;

}

.main_wrap .main_login_box {
    width: 80%;
    margin: 0px auto;
    text-align: center;

}

.main_wrap .main_login_box input {
    width: 70%;
    height: 20px;
    outline: none;
    border: none;
    margin-bottom: 5px;
}

.main_wrap .main_login_box input:last-child {
    margin-bottom: 0;
}

.main_wrap .main_login_box .main_join {}

.main_wrap .main_login_box .main_join a {
    width: 100%;
    font-size: 0.688rem;
    color: #fff;
    position: relative;
    top: -7px;
    margin-right: 30px;

}

.main_wrap .main_login_box .main_join a:last-child {
    margin-right: 0;
}

.main_wrap .main_login_box button {
    background-color: #fff;
    border: 0;
    width: 60px;
    height: 20px;
    color: black;
    font-weight: 600;

}


/****************section**********************/
.section1 {
    width: 100%;
    margin-top: 90px;
}

.section1_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

}

.s1box {
    width: calc(100% - 50% - 10px);
    height: 180px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
    transition: .3s;
}



.s1box:nth-child(2n) {
    margin-right: 0;
}

.s1box:nth-child(3),
.s1box:nth-child(4) {
    margin-bottom: 0;
}

.section1_box1 {
    background-color: #fff4e8;
    border-radius: 10px;
}

.s1box h4 {
    margin-top: 10px;
    font-size: 0.9rem;
}

.s1box p {
    font-size: 0.7rem;
    margin-top: 20px;
}

.s1box p span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #47ae3e;
}

.s1box .sec1_btn {
    width: 100%;
    margin-top: 30px;
    /* font-size: 0.938rem; */
}

.s1box .sec1_btn a {
    border: 1px solid #ccc;
    display: inline-block;
    width: calc(100% - 50% - 10px);
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 0.6rem;

}

.section1_box1 {}

.section1_box2 {
    background-color: #fff;
    border-radius: 10px;
}

.section1_box2 .sec1_btn {
    margin-top: 42px;
}

.section1_box3 {
    background-color: #67ae3e;
    border-radius: 10px;
    color: #fff;
}

.section1_box3 .box3_btn {
    margin-top: 42px;
}

.section1_box4 .box4_btn {
    margin-top: 42px;
}

.section1_box4 {
    background-color: #fae100;
    border-radius: 10px;
}

.section1_box4 .sec1_btn a {
    background-color: #381e1f;
    color: #fff;
    border: 0;
    width: calc(100% - 20px);

}

/*************section2 noticebox*****************/


.section2 {
    width: 100%;
    margin-top: 110px;
}

.section2 .section2_wrap {
    margin: 0 10px;
}

.section2 .section2_wrap .notice_box1 {
    width: 100%;

    border: 1px solid #ccc;
    background-color: #f4f3f3;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
}

#notice01_tab,
#notice02_tab {
    display: none;
}

#notice01_tab:checked~.sheet_notice_box1 .notice_list {
    display: block;
}

#notice01_tab:checked~.sheet_notice_box1 .notice_list2 {
    display: none;
}

#notice02_tab:checked~.sheet_notice_box1 .notice_list {
    display: none;
}

#notice02_tab:checked~.sheet_notice_box1 .notice_list2 {
    display: block;
}





/************notice slick***************/

.ntc_01 {
    width: 100%;
}

.ntc_desc {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    height: 270px;
}

.ntc_desc .ntc_logo {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2%;
    right: 3%;
}

.ntc_desc .ntc_logo img {
    width: 100%;
    opacity: 0.1;
}

.ntc_desc h4 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.95rem;
}

.ntc_desc h5 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.ntc_desc h5 span {
    color: royalblue;
}

.ntc_desc p {
    font-size: 0.9rem;

}

.ntc_desc p span {
    color: royalblue;
}

.ntc_01 .slick-arrow {
    font-size: 0;
    visibility: hidden;
}

.ntc_01 .slick-prev {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;

}

.ntc_01 .slick-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #67ae3e;

}

.ntc_01 .slick-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #67ae3e;

}

.ntc_01 .slick-next {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translateY(-50%);

}






.notice_01_label .label_nt01,
.notice_01_label .label_nt02 {
    border-bottom: 2px solid #ccc;
    transition: .3s;
}

#notice01_tab:checked~.notice_01_label .label_nt01 {
    border-bottom: 2px solid #67ae3e;
}

#notice02_tab:checked~.notice_01_label .label_nt02 {
    border-bottom: 2px solid #67ae3e;
}

.notice_01_label {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

.notice_list2 {
    background: url(./imges/gradimg02.jpg) no-repeat;
    background-size: cover;
    display: none;
    border: 1px solid #ccc;
    margin: 0 10px;
    margin-top: 10px;


}

.notice_list2 ul {
    padding: 5px;
}

.notice_list2 ul li {
    border-bottom: 1px solid #ccc;

}

.notice_list2 ul li:last-child {
    border: 0;
}

.notice_list2 a {
    display: block;
    margin-bottom: 10px;
    font-size: 0.75rem;
    margin-top: 5px;
}


.section2 .section2_wrap .notice_box1 .notice_list {
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #fff;

}

.section2 .section2_wrap .notice_box1 .notice_list a {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 0.688rem;
}

.section2 .section2_wrap .notice_box1 .notice_list a:first-child {
    margin-top: 10px;
}

.section2 .section2_wrap .notice_box1 .notice_list i {
    font-size: 0.5rem;
}


/*notice tab menu*/

#tab02,
#tab03 {
    display: none;
}




#tab02:checked~.sheet .sheet02 {
    display: block;
}

/* #tab02 :checked ~ .sheet .sheet03{display: none;} */


/* #tab03 :checked ~ .sheet .sheet02{display: none;} */
#tab03:checked~.sheet .sheet03 {
    display: block;
}



#tab02:checked~.notice_label .label_02 {
    border-bottom: 2px solid #67ae3e;
}

#tab03:checked~.notice_label .label_03 {
    border-bottom: 2px solid #67ae3e;
}


.notice_box2 {
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background-color: #f4f3f3;
    height: 350px;
    box-shadow: 5px 5px 3px rgb(177, 175, 175);
}

.notice_label {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.sheet {}


.sheet02,
.sheet03 {
    background-color: #fff;
    display: none;
    border: 1px solid #ccc;
    margin: 0 10px;
    margin-top: 10px;


}
.sheet03{
    background: url(./imges/notice_gra01.jpg) no-repeat;
    background-size: cover;
}


/*******ntc_02 slick**********/

.ntc_02 {}

.ntc02_desc {
    position: relative;

}

.ntc02_desc .ntc02_img {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;

}

.ntc02_desc .ntc02_img img {
    width: 100%;

    border-radius: 10px;
}

.ntc02_desc h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 0.95rem;
}

.ntc02_desc p {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 20px;
    padding: 5px;
}

.ntc_02 .slick-arrow {
    font-size: 0;
    visibility: hidden;
}

.ntc_02 .slick-prev {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;

}

.ntc_02 .slick-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #47ae3e;

}

.ntc_02 .slick-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 25px;
    color: #47ae3e;

}

.ntc_02 .slick-next {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translateY(-50%);

}







.notice_label .label_02,
.notice_label .label_03 {
    border-bottom: 2px solid #ccc;
    transition: .3s;
    font-size: 1.1rem;
}

.sheet03 ul {
    padding: 5px;
}

.sheet03 ul li {
    border-bottom: 1px solid #ccc;

}

.sheet03 ul li:last-child {
    border: 0;
}

.sheet03 a {
    display: block;
    margin-bottom: 10px;
    font-size: 0.75rem;
    margin-top: 5px;
}



/***************section3 전문진료센터*******************/
.section3 {
    width: 100%;
    margin-top: 120px;
}

.section3_wrap {}

.section3_tit {
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.section3_tit h4 {
    font-size: 1.3rem;
}

#sec3_chk {
    display: none;
}

#sec3_chk:checked~label.sec3_open {
    display: block;
}

#sec3_chk:checked~label.sec3_close {
    display: none;
}

#sec3_chk~label.sec3_open {
    display: none;
}

#sec3_chk~label.sec3_close {
    display: block;
}

#sec3_chk:checked~.section3_list {
    height: 830px;
}

/* #sec3_chk ~ .section3_list{display: none;} */

.section3_list {
    height: 0px;
    overflow: hidden;
    transition: .3s;
}



.section3_box label {
    position: absolute;
    top: -68px;
    right: 22px;


}

.section3_wrap {
    position: relative;
}

.section3_list_wrap {
    display: flex;
    flex-wrap: wrap;
}

.center_box {
    width: calc(100% - 50% - 20px);
    height: 185px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.center_box a {
    width: 100%;
    display: block;
    color: #fff;
}

.center_box h4 {
    margin-top: 5px;
    font-size: 1.1rem;
}

.center_box .center_box_img {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.center_box .center_box_img img {
    width: 100%;
    height: auto;
}

.center_box p {
    font-size: 0.7rem;
    padding: 5px;

}

.center_box:nth-child(1) {
    background-color: #67ae3e;
    color: #fff;

}

.center_box:nth-child(2) {
    background-color: #f4f3f3;

}

.center_box:nth-child(3) {
    background-color: #f4f3f3;
}

.center_box:nth-child(4) {
    background-color: #fff4e8;
}

.center_box:nth-child(5) {
    background-color: #7d6a55;
    color: #fff;
}

.center_box:nth-child(6) {
    background-color: #f4f3f3;
}

.center_box:nth-child(7) {
    background-color: #f4f3f3;
}

.center_box:nth-child(8) {
    background-color: #67ae3e;
    color: #fff;
}


/****************section4****************/
.section4 {
    margin-top: 100px;
}

.section4_wrap {}

.section4_tit {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;

}

.section4_tit h4 {
    font-size: 1.3rem;
}

.media_01 {
    width: calc(100% - 20px);
    overflow: hidden;
    margin: 0 10px;
    /* position: relative; */
    margin-bottom: 10px;
}

.media_01 .media_img {
    position: relative;
}

.media_01 .media_img a {
    display: block;
    width: 100%;
}

.media_01 .media_img a img {
    width: 100%;
    /* height: 100%; */


}

.media_01 .media_desc {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 5px;
    line-height: 30px;

}

.media_01 .media_desc a {
    width: 100%;
    display: block;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media02,
.media03,
.media04,
.media05 {
    width: calc(100% - 50% - 20px);

}

.media_wrap {
    display: flex;
    flex-wrap: wrap;
}

/*************section5****************/
.section5 {
    margin-top: 100px;
}

.section5_wrap {
    margin: 0 10px;
}

.section5_tit {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-bottom: 50px;
    margin-top: 80px;

}

.section5_tit h4 {
    font-size: 1.3rem;
    text-align: center;

}

.sns_box_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

}

.sns_box {
    width: calc(100% - 50% - 10px);
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    display: none;
}


.sns_box:nth-child(2) {
    margin-right: 0;
}

.sns_box:nth-child(4) {
    margin-right: 0;
}

.sns_box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sns_box .img_wrap {
    width: 100%;
    height: 100%;
}

.sns_box .sns_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    top: -30px;
    right: 50%;
    transform: translateX(50%);
    background-color: #Fff;
}

.sns_box .sns_logo a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
}

.sns_box:nth-child(1) .sns_logo a {
    color: red;
}

.sns_box:nth-child(2) .sns_logo a {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
}

.sns_box:nth-child(3) .sns_logo a {
    background-color: #67ae3e;
    color: #fff;
}

.sns_box:nth-child(4) .sns_logo a {
    background-color: royalblue;
    color: #fff;
}

.sns_box .sns_logo a i {}


/*footer*/
footer {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background-color: #f4f3f3;
    margin-top: 40px;

}

.footer_wrap {
    display: flex;

}

.footer_wrap .foot_logo {
    width: calc(100% - 85% - 10px);
    margin-right: 10px;
}

.footer_wrap .foot_logo img {
    width: 100%;
}

.footer_wrap .foot_desc {
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;

}

.footer_wrap .foot_desc ul {
    margin-right: 5px;

}

.footer_wrap .foot_desc ul li {
    margin-top: 10px;

}

.footer_wrap .foot_desc ul li:first-child {
    font-size: 0.75rem;
    margin-top: 0;
    font-weight: 550;
}

.footer_wrap .foot_famsite {
    width: calc(100% - 85% -10px);
    margin-left: 10px;
}

.footer_wrap .foot_famsite select {
    width: 80px;
    font-size: 0.7rem;
    outline: none;
    background-color: #fff;

}

.foot_txt_wrap {
    margin-top: 15px;
    position: relative;

}

.foot_txt {
    font-size: 0.7rem;
    width: 100%;
    padding: 5px;


}



.foot_txt p a {
    font-weight: 550;
}

.foot_sns {
    text-align: center;
    position: absolute;
    top: -78px;
    right: 0;

}

.foot_sns ul {}

.foot_sns ul li {
    display: inline-block;
    padding-right: 5px;
}

.foot_sns ul li i {
    font-size: 1.1rem;
}

.foot_num {
    position: absolute;
    text-align: center;
    top: 63px;
    right: 10px;
    font-size: 0.8rem;
    font-weight: 550;
    line-height: 20px;
}

.footcont {
    position: relative;

}


/*top btn*/
.top_btn {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 0.8rem;
    line-height: 50px;
    background-color: #67ae3e;
    text-align: center;
    position: fixed;
    bottom: 220px;
    right: 0;
}

.top_btn a {
    display: block;
    color: #fff;
}

/********pop up*************/
#popup_chk {
    display: none;
}

#popup_chk:checked~.popup {
    display: block;
}

#popup_chk~.popup {
    display: none;
}

.popup {
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0px;
    border: 1px solid #ccc;
    z-index: 9998;
    margin-left: -700px;

}

.popup img {
    width: 100%;
    height: 100%;

}

.popup_wrap {
    background-color: #fff;
    font-size: 0;
}

.popup label {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    text-align: right;
    display: block;
    padding-right: 10px;
    background-color: #f4f3f3;
    color: #666;
    font-weight: 550;
}

.popup p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f4f3f3;
    color: #666;
}

/************popup2**************/
#popup02_chk {
    display: none;
}

#popup02_chk:checked~.popup02 {
    display: block;
}

#popup02_chk~.popup02 {
    display: none;
}

#popup02_chk~.pop02_close {
    display: none;
}

#popup02_chk:checked~.pop02_close {
    display: block;
}



.pop_up02 {
    position: absolute;
    top: 20px;
    right: 100px;
    z-index: 99999;

    animation: pop02ani 2s infinite linear;
}

.popup02 {
    width: 150px;
    height: 150px;
    background-color: #67ae3e;
    border-radius: 50%;
    text-align: center;

}

@keyframes pop02ani {
    0% {
        top: 20px;
    }

    20% {
        top: 25px;
    }

    50% {
        top: 20px;
    }

    70% {
        top: 25px;
    }

    100% {
        top: 20px;
    }
}

.popup02 p {
    font-size: 0.9rem;
    padding-top: 35px;
    line-height: 35px;
    color: #fff;
}

.pop02_close {
    text-align: right;
    font-weight: 600;
}


/*******pc에서 보이는것 ********/
.logo_l_img img {
    display: none;
}

.gnb {
    display: none;
}

nav {
    display: none;
}

.quick_menu {
    display: none;
}

/* .pop_up{display: none;} */




/****************media query**************************/
@media all and (min-width:601px) {


    header .logo_ex .logo_M img {
        width: 40%;
    }

    .main_wrap {
        display: flex;
        top: -30px;
        margin: 0 10px;
    }

    .main_wrap .main_search {
        width: calc(100% - 66.6666% - 13.3333px);
        margin: auto;
        margin-right: 20px;
        margin-left: 0;
        border-radius: 10px 0 0 10px;
        height: 180px;
    }

    .main_wrap .main_reservation {
        width: calc(100% - 66.6666% - 13.3333px);
        margin: auto;
        margin-right: 20px;
        margin-left: 0;
        height: 180px;
    }

    .main_wrap .main_login {
        width: calc(100% - 66.6666% - 13.3333px);
        margin-left: 0;
        margin: auto;
        border-radius: 0 10px 10px 0;
        height: 180px;
    }

    .main_wrap .main_search .m_searchbox input {
        margin-top: 40px;
    }

    .main_wrap .main_search .m_searchbox i {
        top: 55%;
    }

    .main_wrap .m_search_btn {
        margin: 30px auto;
    }


    .main_wrap .main_login_box .main_join a {
        font-size: 0.5rem;
        margin-right: 0;
    }

    .main_wrap .main_login_box {
        margin: 10px auto;
    }

    .main_wrap .main_reservation .m_search_btn .msearch_btn_2 {
        margin-top: 15px;
    }



    .s1box {
        width: calc(100% - 50% - 10px);
        margin: 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .s1box h4 {
        font-size: 1.1rem;
    }

    .s1box p {
        font-size: 0.9rem;
    }

    .s1box:nth-child(2) {
        margin-right: 0;
    }

    .s1box:nth-child(4) {
        margin-right: 0;
    }

    .s1box .sec1_btn a {
        font-size: 0.8rem;
    }

    .section1_box4 {
        margin-right: 0;
    }

    .section1_box3 .box3_btn {
        margin-top: 25px;
    }

    .section1_box4 .box4_btn {
        margin-top: 25px;
    }

    .box3_btn {
        padding-top: 11px;
    }

    .box4_btn {
        padding-top: 11px;
    }

    .s1box .sec1_btn {
        font-size: 1rem;
        margin-top: 24px;
    }

    .section1_box2 .sec1_btn {
        margin-top: 35px;
    }

    .section2 .section2_wrap .notice_box1 {
        width: 100%;
        margin-right: 20px;

    }

    .ntc_desc h4 {
        font-size: 1.1rem;
    }

    .ntc_desc h5 {
        font-size: 0.9rem;
    }

    .notice_list2 a {
        font-size: 0.9rem;
        transition: .3s;
    }

    .notice_list2 li:hover a {
        color: #47ae3e;
    }

    .ntc02_desc h4 {
        font-size: 1.1rem;
    }

    .ntc02_desc p {
        margin-top: 10px;
        font-size: 0.85rem;
    }

    .sheet03 a {
        font-size: 0.9rem;
        transition: .3s;
    }

    .sheet03 li:hover a {
        color: #47ae3e;
    }

    .notice_box2 {
        width: 100%;

    }

    .ntc02_desc .ntc02_img {
        height: 135px;
        width: 250px;
    }

    .section2 .section2_wrap {}

    .ntc_desc .ntc_logo {
        width: 100px;
        height: 100px;
        bottom: 5%;
        right: 5%;
    }

    .center_box {
        width: calc(100% - 75% - 20px);
        height: auto;
    }

    #sec3_chk:checked~.section3_list {
        height: 420px;
    }

    .center_box.beige {
        background-color: #fff4e8;
    }

    .center_box.gray {
        background-color: #f4f3f3;
    }

    .center_box.gray2 {
        background-color: #f4f3f3;
        color: black;
    }

    .center_box.brown {
        background-color: #7d6a55;
        color: #fff;
    }



    .media02,
    .media03,
    .media04,
    .media05 {
        width: calc(100% - 50% - 20px);

    }

    .media_01 img {
        width: 100%;
        height: 100%;
    }

    .media_wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .sns_box {
        width: calc(100% - 75% - 15px);

    }

    .sns_box:nth-child(2) {
        margin-right: 20px;
    }

    .sns_box_wrap {
        margin: 0 auto;
    }


    .footer_wrap .foot_logo img {
        width: 80%;
    }

    .footer_wrap .foot_logo {
        margin-right: 0;
        margin-left: 10px;
    }

    .footer_desc ul {}

    .footer_desc ul li {}

    .foot_num {
        top: 92px;
        right: 24px;
        font-size: 1.1rem;
    }


    .top_btn {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 0.8rem;
        bottom: 195px;
    }

    .visual_main .visual_slider .v_img img {
        height: 250px;
    }

    .visual_main .container .control {
        top: 3.5%;
        right: 15%;
        font-size: 0.9rem;
    }

    .popup {
        width: 65%;
        left: 0px;
    }

    .footer_wrap .foot_desc ul li {
        font-size: 0.75rem;
    }

    .footer_wrap .foot_desc ul li:first-child {
        font-size: 0.9rem;
    }

    .footer_wrap .foot_famsite select {
        width: 130px;
        height: 25px;
    }

    .foot_sns ul li i {
        font-size: 1.5rem;
    }

    .foot_txt {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

@media all and (min-width:1025px) {
    nav {
        display: block;
        position: sticky;
        top: 0;
        z-index: 9999;
        width: 100%;
        background-color: #fff;
    }

    nav .lnb {
        background-color: #fff;
    }

    .mobile_ham {
        display: none;
    }

    .logo_l_img img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .logo_l_img a {
        width: 100%;
        display: block;
    }

    .logo_l_img {
        width: 100%;
    }

    header .logo_ex .logo_M img {
        width: 30%;
    }

    header .logo_ex .logo_R .search_chk_label {
        display: none;
    }

    /********gnb*********/

    .gnb {
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;


    }

    .gnb>div {
        margin-right: 10px;

    }

    .gnb>div:hover>a {
        color: #47ae3e;
    }

    #gnb_chk {
        display: none;
    }

    #gnb_chk:checked~label.gnb_open {
        display: block;
    }

    #gnb_chk:checked~label.gnb_close {
        display: none;
    }

    #gnb_chk~label.gnb_open {
        display: none;
    }

    #gnb_chk~label.gnb_close {
        display: block;
    }

    #gnb_chk:checked~.gnb_chk_list ul {
        height: 90px;
    }

    /* #gnb_chk ~ .gnb_chk_list ul{display: none;} */

    .gnb_chk_list {
        width: 100%;
        width: 100%;
        position: relative;
        z-index: 99999;
        top: -20px
    }

    .gnb {
        position: relative;

    }

    .gnb_language {
        display: block;
    }

    .gnb_chk_list ul {
        /* border: 1px solid #ccc; */
        position: absolute;
        top: 25px;
        z-index: 51;
        height: 0px;
        overflow: hidden;
        transition: .3s;
    }

    .gnb_chk_list ul li {
        width: 70px;
        height: 30px;
        border: 1px solid #ccc;
        line-height: 30px;
        background-color: #f4f3f3;
        transition: 0.3s;

    }

    .gnb_chk_list ul li a {
        display: block;
        width: 100%;
    }

    .gnb_chk_list ul li:hover {
        background-color: #67ae3e;

    }

    .gnb_chk_list ul li:hover a {
        color: #fff;
    }

    .gnb_chk_list ul li:nth-child(2),
    .gnb_chk_list ul li:nth-child(3) {
        border-top: 0;
    }

    /********lnb********/
    .lnb {}

    .lnb .lnb_tit {
        display: flex;


    }

    .lnb .lnb_tit li {
        display: block;
        width: 20%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        /* border: 1px solid #ccc; */
        transition: .3s;
    }

    .lnb .lnb_tit>li>a {
        display: block;
        width: 100%;
        font-size: 1.1rem;
        transition: .3s;

    }

    .lnb .lnb_tit li:nth-child(2),
    .lnb .lnb_tit li:nth-child(3),
    .lnb .lnb_tit li:nth-child(4),
    .lnb .lnb_tit li:nth-child(5) {
        border-left: 0;
    }

    .lnb .lnb_tit>li:hover {
        background-color: #67ae3e;
    }

    .lnb .lnb_tit>li:hover>a {
        color: #fff;
    }

    .lnb_tit {
        position: relative;
    }

    .lnb .lnb_tit>li:hover .lnb_myinfo {
        height: 200px;
    }

    .lnb_myinfo {
        height: 0px;
        overflow: hidden;
        transition: .3s;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 50;
    }

    .lnb_myinfo li {
        width: 100%;
        height: 50px;
        background-color: #f4f3f3;
        border: 1px solid #ccc;
        transition: .3s;
    }

    .lnb_myinfo li:hover {
        background-color: #ccc8c8;
        border: 1px solid #67ae3e;
    }

    .lnb_myinfo li a {
        width: 100%;
        display: block;
        font-size: 0.9rem;
    }

    /***********lnb center list**************/

    .lnb_center_list {
        width: 100%;
        position: absolute;
        z-index: 50;
        top: 50px;
        height: 0px;
        overflow: hidden;
        transition: .3s;



    }

    .lnb .lnb_tit>li:hover .lnb_center_list {
        height: 650px;
    }

    .lnb_center_list li {
        width: 100%;
        height: 50px;
        background-color: #f4f3f3;
        border: 1px solid #ccc;
    }

    .lnb_center_list li:hover {
        background-color: #ccc8c8;
        border: 1px solid #67ae3e;
    }

    .lnb_center_list li a {
        width: 100%;
        display: block;
        font-size: 0.9rem;
    }

    /**********lnb medi info******************/
    .lnb_medi_info {
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: 50;
        height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .lnb .lnb_tit>li:hover .lnb_medi_info {
        height: 400px;
    }

    .lnb_medi_info li {
        width: 100%;
        height: 50px;
        background-color: #f4f3f3;
        border: 1px solid #ccc;
    }

    .lnb_medi_info li:hover {
        background-color: #ccc8c8;
        border: 1px solid #67ae3e;
    }

    .lnb_medi_info li a {
        width: 100%;
        display: block;
        font-size: 0.9rem;
    }

    /************lnb use info****************/
    .lnb_use_info {
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: 50;
        height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .lnb .lnb_tit>li:hover .lnb_use_info {
        height: 350px;
    }

    .lnb_use_info li {
        width: 100%;
        height: 50px;
        background-color: #f4f3f3;
        border: 1px solid #ccc;
    }

    .lnb_use_info li:hover {
        background-color: #ccc8c8;
        border: 1px solid #67ae3e;
    }

    .lnb_use_info li a {
        width: 100%;
        display: block;
        font-size: 0.9rem;
    }

    /*************lnb intro*****************/
    .lnb_intro {
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: 50;
        height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .lnb .lnb_tit>li:hover .lnb_intro {
        height: 350px;
    }

    .lnb_intro li {
        width: 100%;
        height: 50px;
        background-color: #f4f3f3;
        border: 1px solid #ccc;
    }

    .lnb_intro li:hover {
        background-color: #ccc8c8;
        border: 1px solid #67ae3e;
    }

    .lnb_intro li a {
        width: 100%;
        display: block;
        font-size: 0.9rem;
    }

    .main_wrap {
        margin: 0;
        margin-bottom: 20px;
    }

    .main_wrap .main_search {
        width: calc(100% - 66.6666% - 26.6666px);
        margin-left: 20px;
        transition: .3s;
    }

    .main_wrap .main_search:hover {
        transform: scale(1.03);
    }

    .main_wrap .main_reservation {
        width: calc(100% - 66.6666% - 26.6666px);
        transition: .3s;
    }

    .main_wrap .main_reservation:hover {
        transform: scale(1.03);
    }

    .main_wrap .main_login {
        width: calc(100% - 66.6666% - 26.6666px);
        transition: .3s;
        margin-right: 20px;
    }

    .main_wrap .main_login:hover {
        transform: scale(1.03);
    }

    .main_wrap .main_login_box .main_join {
        display: flex;

    }

    .main_wrap .main_login_box .main_join a {
        margin-right: 0;
    }

    .main_wrap .main_login_box .main_join a:last-child {
        margin-right: 26px;
    }

    .main_wrap .m_search_btn div {
        height: 30px;
        line-height: 30px;
    }

    .main_wrap .main_login_box button {
        height: 30px;
    }

    .main_wrap .main_login_box input {
        height: 25px;
    }

    .section1_wrap {
        margin: 0 20px;
    }

    .s1box {
        height: 200px;
    }

    .s1box:hover {
        transform: scale(1.03);

    }

    .s1box h4 {
        font-size: 1.15rem;
    }

    .s1box p {
        font-size: 0.9rem;
    }

    .s1box .sec1_btn a {
        font-size: 0.8rem;
    }

    .s1box {
        width: calc(100% - 75% - 15px);
    }

    .s1box:nth-child(3) {
        margin-left: 20px;
    }

    .main_wrap .main_search h4 {
        font-size: 1.2rem;
    }

    .main_wrap .main_reservation h4 {
        font-size: 1.2rem;
    }

    .main_wrap .main_login h4 {
        font-size: 1.2rem;
    }

    .section2 .section2_wrap .notice_box1 {
        /* height: 350px; */
        margin-left: 20px;
        width: calc(100% - 50% - 30px);
    }



    .section2 .section2_wrap .notice_box1 .notice_list a {
        font-size: 1rem;
    }

    .section2 .section2_wrap .notice_box1 h4 {
        font-size: 1.2rem;
    }

    .notice_box2 {
        width: calc(100% - 50% - 30px);
        /* margin-right: 20px; */
        /* margin-left: 20px;  */
    }

    .ntc_desc h5 {
        font-size: 1rem;
    }

    .ntc_desc p {
        font-size: 1rem;
    }

    .ntc02_desc .ntc02_img {
        margin-top: 10px;
    }

    .ntc02_desc h4 {
        font-size: 1.2rem;
    }

    .popup {
        width: 30%;
        left: 100px;
        top: 180px;
    }

    .media_desc .media_desc_01 {
        margin: 80px auto;
        font-size: 0.8rem;

    }

    .media_01 .media_desc a {
        font-size: 0.9rem;
    }

    .media_desc p {
        margin: 10px auto;
        font-size: 0.8rem;

    }

    .media02,
    .media03 {
        margin-bottom: 20px;
    }








    .sheet01 a,
    .sheet02 a,
    .sheet03 a {
        font-size: 0.9rem;
    }

    .notice_label .label_01,
    .notice_label .label_02,
    .notice_label .label_03 {
        font-size: 1.2rem;
    }

    .section3_wrap .section3_tit {
        height: 50px;
        line-height: 50px;
    }

    .section3_wrap .section3_tit h4 {
        font-size: 1.5rem;
    }

    .section3_box label {
        font-size: 1.2rem;
        top: 10px;
        visibility: hidden;
    }

    .center_box h4 {
        font-size: 1.2rem;
    }

    .center_box .center_box_img {
        width: 90px;
        height: 90px;
    }

    .center_box p {
        font-size: 0.8rem;
    }

    .media02,
    .media03,
    .media04,
    .media05 {
        width: calc(100% - 50% - 20px);
        font-size: 0;
    }

    .media_main {
        width: calc(100% - 50% - 20px);

    }

    .media_01 .media_desc {
        bottom: 0px;
    }

    .media_main .media_desc {
        bottom: 5px;
    }

    .media_wrap {
        flex-wrap: wrap;
        width: 50%;
    }

    .media_all_wrap {
        display: flex;
        overflow: hidden;
    }

    .sns_box .sns_logo {
        width: 50px;
        height: 50px;
        line-height: 45px;

    }

    .sns_box .sns_logo a {
        font-size: 1.7rem;
    }

    .sns_box img {
        transition: .3s;
        transform: scale(1.1);
    }

    .sns_box:hover img {
        transform: scale(1);
    }

    .sns_box:hover .sns_logo i {
        transform: rotate(360deg);
    }

    .sns_box .sns_logo a i {
        transition: .3s;
    }


    .sns_box .img_wrap {
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
    }

    .sns_box {
        width: calc(100% - 75% - 25px);
    }

    .sns_box:nth-child(1) {
        margin-left: 20px;
    }

    .section5_tit {
        height: 50px;
        line-height: 50px;
    }

    .section5_tit h4 {
        font-size: 1.5rem;
    }

    .center_box img {
        transition: .3s;
    }

    .center_box:hover img {
        transform: scale(1.2);
    }

    .center_box {
        transition: .3s;
    }

    .center_box:hover {
        border: 1.8px solid #67ae3e;
    }

    .section2 .section2_wrap {
        margin: 0;
        display: flex;
    }

    .media_01 .media_desc {
        transition: .3s;
    }

    .media_01:hover .media_desc {
        height: 100%;
    }

    .media_01.media_main .media_img a img {}



    .section4_wrap {
        margin-bottom: 20px;
    }

    .visual_slider .slick-prev {
        left: 5%;
    }

    .visual_slider .slick-next {
        right: 5%;
    }

    .section4_tit {
        height: 50px;
        line-height: 50px;

    }

    .section4_tit h4 {
        font-size: 1.5rem;
    }

    .footer_wrap .foot_logo img {
        width: 40%;
    }

    .footer_wrap .foot_desc p {
        font-size: 0.9rem;
    }

    .pop_up {
        display: block;
    }

    .footer_wrap .foot_logo {
        margin-top: 20px;
        text-align: center;
    }

    .footer_wrap .foot_logo img {
        width: 55%;
    }

    .footer_wrap .foot_desc ul li:first-child a {
        font-size: 1rem;
        transition: .3s;
    }

    .footer_wrap .foot_desc ul li:first-child:hover a {
        color: #47ae3e;
    }

    .footer_wrap .foot_desc ul li {
        font-size: 0.85rem;
    }

    .footer_wrap .foot_desc ul li a {
        transition: .3s;
    }

    .footer_wrap .foot_desc ul li:hover a {
        color: #47ae3e;
    }

    .foot_txt {
        font-size: 0.9rem;
        line-height: 25px;
        padding-left: 44px;
    }

    .foot_num {
        top: 130px;
        font-size: 1.2rem;
        line-height: 32px;
    }

    .top_btn {
        bottom: 237px;
    }

    .pop_up02 {
        right: 250px;
    }


}

@media all and (min-width:1276px) {
    .container {
        width: 1276px;
        margin: 0 auto;
    }

    .visual_main .container {
        width: 100%;

    }

    .visual_main .visual_slider .v_img img {
        height: 400px;
    }
    

    .visual_slider .slick-next {
        right: 8%;
        top: 50%;
    }

    .visual_slider .slick-prev {
        left: 8%;
        top: 50%;
    }

    .visual_slider .slick-next::after {
        font-size: 40px;
    }

    .visual_slider .slick-prev::after {
        font-size: 40px;
    }

    .visual_slider .slick-dots li button {
        width: 15px;
        height: 15px;
        margin-top: 20px;
    }

    .main_wrap {
        top: -50px;
    }

    .main_wrap .main_search {
        height: 230px;
    }

    .main_wrap .main_reservation {
        height: 230px;
    }

    .main_wrap .main_login {
        height: 230px;
    }

    .main_wrap .main_search h4 {
        font-size: 1.5rem;
    }

    .main_wrap .main_reservation h4 {
        font-size: 1.5rem;
    }

    .main_wrap .main_login h4 {
        font-size: 1.5rem;
    }

    .main_wrap .main_search .m_searchbox input {
        margin-top: 68px;
    }

    .main_wrap .main_search .m_searchbox i {
        top: 65%;
        font-size: 24px;
    }

    .main_wrap .main_reservation .m_search_btn {
        margin-top: 60px;
    }

    .main_wrap .main_login_box {
        margin: 35px auto;
    }


    .main_search .m_search_btn {
        height: 35px;
        line-height: 35px;
    }

    .main_reservation .m_search_btn {
        height: 35px;
        line-height: 35px;
    }

    .main_wrap .main_reservation .m_search_btn .msearch_btn_2 {
        margin-top: 15px;
    }

    .main_wrap .main_login_box input {
        height: 30px;
    }

    .main_wrap .main_login_box .main_join a {
        font-size: 0.8rem;
    }

    .main_wrap .main_login_box .main_join a:last-child {
        margin-right: 33px;
    }

    .main_wrap .main_login_box button {
        width: 70px;
        height: 30px;
        cursor: pointer;
    }

    .section1 {
        margin-top: 100px;
    }

    .s1box .sec1_btn a {
        height: 40px;
        line-height: 40px;
        font-size: 0.85rem;
    }

    .footer_wrap .foot_desc p {
        line-height: 18px;
    }

    .footer_wrap .foot_famsite select {
        height: 25px;
        width: 130px;
        margin-left: 80px;
    }

    .foot_num {}

    .top_btn {
        display: none;
    }

    /**********quick menu******************/
    

    .quick_menu {
        width: 80px;
        text-align: center;
        border: 1px solid #ccc;
        position: absolute;
        z-index: 99998;
        top: 0px;
        right: 10px;
        display: block;
        border-radius: 10px;

    }

    .qbox {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;

    }

    .q_top,
    .q_bot {
        height: 30px;
        background-color: #fff;
        line-height: 30px;

    }

    .q_bot {
        border-radius: 0 0 10px 10px;
    }


    .q_top {
        border-bottom: 1px solid #ccc;
    }

    .quick_menu .menu01 {
        background-color: #67ae3e;
        border-radius: 10px 10px 0 0;

    }

    .quick_menu .menu01 a {
        color: #fff;
    }

    .quick_menu .menu04 {
        background-color: #7d6a55;

    }

    .quick_menu .menu04 a {
        color: #fff;
    }

    .quick_menu .menu06 {
        background-color: #fff4e8;
    }

    .quick_menu a {
        width: 100%;
        display: block;
        font-size: 0.85rem;
    }

    .pop_up {
        display: block;
    }

    .visual_slider .slick-dots {
        right: 30%;
        top: 2%;
    }

    .visual_main .container .control {
        right: 35%;
        top: 4%;
        font-size: 1.5rem;
        
    }
    .visual_main .container .control .play{
        margin-right: 15px;
    }

    .visual_slider .slick-next {
        right: 20%;
    }

    .visual_slider .slick-prev {
        left: 20%;
    }

    .pop_up02 {
        right: 500px;
    }
}