* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* .container {
    width: 1660px;
    margin: 0 auto;
} */
li{list-style: none;}




/************countdown popup*************/
.countdown {
    width: 400px;
    height: 550px;
    background-color: #eee;
    margin-top: 100px;
    position: absolute;
    z-index: 9999;
    top: 250px;
    left: 180px;
    border-radius: 10px;
    display: block;
}

.countdown h1 {
    text-align: center;
    font-size: 28px;
   
    padding: 0px 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.countdown_box {
    
    margin: 20px auto;
}

.countdown_box .time {
   
}

.countdown_box .time p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    
}

.countdown_box .count_img {
    width: 100%;
    font-size: 0;
    margin-top: 20px;
   
   
}

.countdown_box .count_img video {
    width: 100%;
    height: 350px; 
    border-radius: 20px;
  
}
.close_btn{
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}
.close_btn i{
    margin-right: 10px;
}
/* @keyframes new_ani {

    0% {
        opacity: 0;
        transform: translateX(-1000px)  rotate(0);
        
    }
   100% {
        opacity: 1;
        transform: translateX(0) rotate(360deg);
    }
} */


/*************header*************/
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 70px;
    line-height: 70px;
}
.head_up{
    position: absolute;
 
}
.head_down{
    position: fixed;
}

.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.head_logo{
    width: 33.3333%;
}
.head_logo .imgwrap{
    width: 90px;
    margin-left: 25px;
    margin-top: 10px;
   
}
.head_logo .imgwrap img{
    width: 100%;
    height: auto;
}
.head_lnb{
    width: 33.3333%;
}
.head_lnb ul{
    display: flex;
    justify-content: space-around;
}
.head_lnb ul li{
    font-size: 20px;
    font-weight: bold;
    
}

.head_lnb ul li:nth-child(4){
    position: relative;
}
.head_lnb ul li:nth-child(4)::before{
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    position: absolute;
    top: 25px; left: -35px;
    
}
.head_lnb ul li a{
    display: block;
    width: 100%;
    color: #fff;
    position: relative;
    transition: .3s;
    
}
.head_lnb ul li a:hover{
    color: #002053;
}
.head_lnb ul li a:hover::after{
    width: 50%;
}
.head_lnb ul li a:hover::before{
    width: 50%;
}
.head_lnb ul li a::after{
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 13px; right: 50%;
    transition: .3s;
}
.head_lnb ul li a::before{
     display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 13px; left: 50%;
    transition: .3s;
}
.head_gnb{
    width: 33.3333%;
    
}
.head_gnb ul{
    display: flex;
    justify-content: flex-end;
}
.head_gnb ul li{
    margin-right: 25px; 
    position: relative;
    
}
.head_gnb ul li:nth-child(4){

}
.head_gnb ul li .count{
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background-color: #002053;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 10px;right: -5px;
    
}
.head_gnb ul li a{
    width: 100%;
    display: block;
    font-size: 25px;
    color: #fff;
    
}

/********drop down menu*********/

.dropdown_menu{
    width: 100%;
    position: absolute;
    top:70px;
    z-index: 100;
    background-color: #fff;
    display: none;
    padding: 20px;

}
.drop_menu_wrap{
    width: 100%;
    display: flex;
    
}
.drop_kids .dbox{
    width: 20%;
}
.drop_kids .dbox:last-child{
    border: 0;
}
.dbox{
    width: 16.66667%;
    border-right: 1px solid #ccc;
    padding-left: 30px;
    padding-top: 10px;
}

.dbox h4{
    font-size: 22px;
    margin-bottom: 25px;
    
}
.dropbox_06{
    border-right: 0;
}
.menu_list{
    width: 100%;
}
.menu_list li{
    height: 20px;
    margin-bottom: 20px;
   
    
}
.menu_list li:hover a{
    color: #002053;
    font-weight: bold;
}

.menu_list li a{
    display: block;
    width: 100%;
    
  
}

.sub_menu{
    margin-top: 50px;
}
.sub_menu li{
    margin-bottom: 10px;
    font-weight: bold;
}
.sub_menu li a{
    display: block;
    width: 100%;
}

.drop_brand .drop_menu_wrap{}
.drop_brand .drop_menu_wrap .brand_box{
    width: calc(100% - 80% - 24px);
    margin: 50px 20px;
}
.drop_brand .drop_menu_wrap .brand_box .brand_img{
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
.drop_brand .drop_menu_wrap .brand_box .brand_img img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: .5s;
}
.drop_brand .drop_menu_wrap .brand_box .brand_img:hover img{
    transform: scale(1);
}
.drop_brand .drop_menu_wrap .brand_box .brand_tit{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
} 






/*************visual main*************/

.visual_main {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;

}



.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 260px;
    height: 15px;
    top: auto;
    bottom: 94px;
    left: 60px;
    background-color: #fff;
}

.swiper-slide {
    font-size: 0;
    position: relative;

}

.swiper-slide img {
    width: 100%;
    height: 100%;

}

.swiper-slide .visual_tit {
    position: absolute;
    width: 100%;
    bottom: 200px;
    left: 50px;
    z-index: 99999;
}

.swiper-slide .visual_tit p {
    color: #fff;
    font-size: 50px;

}

.swiper-slide .visual_tit a {
    display: block;
    color: #fff;
    font-size: 22px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    margin-top: 20px;
    transition: .3s;
}

.swiper-slide .visual_tit a:hover {
    background-color: #002053;
    box-shadow: 0 0 15px black;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #002053;
}

.swiper-button-prev {
    color: #fff;
    left: 150px;
    /* top: 870px; */
    top: 50%;
    transform: translateY(-50%);


}

.swiper-button-prev::after {
    font-size: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

.swiper-button-next {
   
    color: #fff;
    left: auto;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    /* top: 870px; */

}

.swiper-button-next::after {
    font-size: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

.swiper-pagination-fraction {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    left: -190px;
}

.pagination_fraction {
    visibility: hidden;
    position: relative;
}

.pagination_fraction .swiper-pagination-current {
    font-size: 30px;
    visibility: visible;
    position: absolute;
    top: -80px;
    left: 220px;
}

.pagination_fraction .swiper-pagination-total {
    font-size: 30px;
    visibility: visible;
    position: absolute;
    top: -80px;
    left: 525px;
}


/********rank*******/

.rank_section {
    width: 100%;
    margin-top: 100px;
   

}
.rank_section  h1{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

.container_rank {
    /* overflow: hidden; */
    /* position: relative; */
}

.swiper_rank {
    width:100%;
    
    overflow: hidden;
    margin-top: 50px;
    
    
}
.swiper_rank .swiper-wrapper{
	transition-timing-function:linear;
    
}

.swiper_rank .swiper-slide {

    width: 30% !important;
    opacity: 0.3;
    transform: scale(0.85);
    transition: .3s;
    /* margin-right: 20px; */
    visibility: hidden;
    position: relative;
    
    
    
}
/* .swiper_rank .swiper-slide:last-child{margin: 0;} */

.swiper_rank .swiper-slide.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.swiper_rank .swiper-slide.swiper-slide-prev{
    visibility: hidden;
}
.swiper_rank .swiper-slide.swiper-slide-next{
    visibility: visible;
}



.swiper_rank .swiper-slide img {
    width: 100%;
    height: 700px;
    border-radius: 20px;
}

.swiper_rank .swiper-slide:hover .rank_hover_box{
    opacity: 1;
}

.swiper_rank .swiper-slide .rank_hover_box{
   width: 100%;
   height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    bottom: 0;left: 0;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    transition: .3s;
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_L{
    width: 70%;
    padding-top: 12px;
    padding-left: 20px;
    cursor: pointer;
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_L h4{
    color: #fff;
    font-size: 18px;
    
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_L p{
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
    
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_R{
    width: 35%;
    font-size: 30px;
    line-height: 70px;
     text-align: right;
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_R i{
    margin-right: 20px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
   
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_R i:first-child:hover{
    color: red;
}
.swiper_rank .swiper-slide .rank_hover_box .rank_hover_R i:nth-child(2):hover{
    color: #002053;
}


.rank_wrap{
    /* display: flex; */
   position: relative;
    
}
.rank_text{
    width: 450px;
    height:520px;
    background-color: #fff;
    padding: 30px;
    margin-left: 10px;
    position: absolute;
    top: 80px; left: 25px;
    z-index: 5;
    border: 1px solid #ccc;
    border-radius: 20px;
    
    
}
.rank_text h4{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    
}
.rank_text ul{
    border-top: 2px solid black;
}
.rank_text ul li{
    height: 60px;
    border-bottom: 1px solid #ccc;
    transition: .3s;
    line-height: 60px;
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 10px;
    border-right: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
}

.rank_text ul li:first-child{
    margin-top: 10px;
    
}
.rank_text ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.rank_text ul li.on_li{
    background-color: #002053;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px black;
    border: black;
}

.rank_nav{}
.rank_nav ul{
    display: flex;
    justify-content: center;
}
.rank_nav ul li{
    width:150px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
    line-height: 50px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
.rank_nav ul li:hover::after{
    width: 50%;
}
.rank_nav ul li:hover::before{
    width: 50%;
}
.rank_nav ul li::before{
    display: inline-block;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 0px; left: 50%;
    transition: .3s;
}
.rank_nav ul li::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 0; right: 50%;
    transition: .3s;
}




/*******new product******/

.section2 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.section2 h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.container_swiper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}
.section2 .new_nav_wrap{}
.section2 .new_nav_wrap ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.section2 .new_nav_wrap ul li{
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    margin-right: 20px;
    line-height: 50px;
    text-align: center;
    cursor:pointer;
    transition: .3s;
    position: relative;
   border-radius: 10px;
}
.section2 .new_nav_wrap ul li:hover{
    box-shadow: 0 0 10px #002053;
}
.section2 .new_nav_wrap ul li:hover::after{width: 47%;}
.section2 .new_nav_wrap ul li:hover::before{width: 47%;}
.section2 .new_nav_wrap ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #002053;
    position: absolute;
    bottom: 5px; right: 50%;
    transition: .3s;
    
}
.section2 .new_nav_wrap ul li::before{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #002053;
    position: absolute;
    bottom: 5px; left: 50%;
    transition: .3s;
}

.my_wrap {
    width: 100%;
}

.swiper_2 {
    position: relative;
}
.swiper_2 .swiper-wrapper{
   
}
.swiper_2 .swiper-slide {
    width: 750px;
    /* height: ; */
    /* display: flex; */
    background: #fff;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    transform: scale(1);
    /* margin: 0 50px; */
    color: black;
    font-size: 30px;
    /* margin-left: 150px !important; */
    
   


}

.swiper_2 .swiper-slide.swiper-slide-active {
    transform: scale(1);
    background: #fff;
    opacity: 1;
    border: 2px solid #ccc;
    /* margin-right: 50px; */
   
}

.swiper_2 .swiper-slide.swiper-slide-prev .new_text{
    opacity: 0;
}
.swiper_2 .swiper-slide.swiper-slide-prev{
    transform: translateX(220px);
}
.swiper_2 .swiper-slide.swiper-slide-next{
    transform: translateX(80px);
}
.swiper_2 .swiper-slide.swiper-slide-next .new_text{
    
    opacity: 0;
}


.swiper_2 .swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 28%;
    color: black;
    border: 0;

}

.swiper_2 .swiper-button-prev {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    left: 28%;
    border: 0;

}

.swiper_2 .swiper-button-next:after {
    font-size: 80px;
    border: 0;
    color: #002053;
}

.swiper_2 .swiper-button-prev:after {
    font-size: 80px;
    border: 0;
    color: #002053;
}
.swiper_2 .swiper-slide .new_wrap{
    display: flex;
}
.swiper_2 .swiper-slide .new_wrap .new_img{
    width: 60%;
    font-size: 0;
}
.swiper_2 .swiper-slide .new_wrap .new_img img{
    width: 100%;
    height: auto;
}

.swiper_2 .swiper-slide .new_wrap .new_text{
    width: calc(100% - 60% - 20px);
    margin-left: 10px;
    /* border: 1px solid #eee;
    border-left: 0; */
    padding: 0 10px;
    
}
.swiper_2 .swiper-slide .new_wrap .new_text h4{
    text-align: center;
    margin-top: 20px;
}
.swiper_2 .swiper-slide .new_wrap .new_text .first_p{
    font-size: 15px;
    margin-top: 40px;
}
.swiper_2 .swiper-slide .new_wrap .new_text .second_p{
    font-size: 15px;
    margin-top: 10px;
}
.swiper_2 .swiper-slide .new_wrap .new_text p.new_detail{
    color: #888;
    font-size: 14px;
    margin-top: 30px;
}
.swiper_2 .swiper-slide .new_wrap .new_text p.new_detail span:nth-child(1){
    color: black;
    font-weight: bold;
}
.swiper_2 .swiper-slide .new_wrap .new_text p.new_detail span{
    display: block;
    margin-top: 10px;
}
.swiper_2 .swiper-slide .new_wrap .new_text p.new_info{
    color: #888;
    font-size: 12px;
    text-decoration: underline;
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
}
.swiper_2 .swiper-slide .new_wrap .new_text .new_buy{
    text-align: right;
    margin-top: 70px;

}
.swiper_2 .swiper-slide .new_wrap .new_text .new_buy i{
    transition: .3s;
    font-size: 40px;
    margin-right: 50px;
}
.swiper_2 .swiper-slide .new_wrap .new_text .new_buy i:nth-child(1):hover{
    color: red;
}
.swiper_2 .swiper-slide .new_wrap .new_text .new_buy i:nth-child(2):hover{
    color: #002053;
}



/********상품정보고시********/
.new_info_desc{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 150px 0;
    position: absolute;
    top: 0; left: 0;
    display: none;
    z-index: 9999;
}
.new_info_desc .new_desc_wrap{
    width: 600px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    
    
}
.new_info_desc .new_desc_wrap h4{
    font-size: 20px;
    padding: 10px;
}
.new_info_desc .new_desc_wrap .new_desc_box{
}
.new_info_desc .new_desc_wrap .new_desc_box dl{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    
}
.new_info_desc .new_desc_wrap .new_desc_box dl:last-child{border: 0;}
.new_info_desc .new_desc_wrap .new_desc_box dl dt{
    width: 200px;
    font-weight: bold;
}
.new_info_desc .new_desc_wrap .new_desc_box dl dd{
    width: calc(100% - 200px);
}

.new_box_close{
    text-align: right;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}



/************back_fix***********/

.back_fix {
    margin-top: 100px;
    width: 100%;
}

.back_fix .background_wrap {
    width: 100%;
    height: 100vh;
    display: block;
    background: url(./img/fiximg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.back_fix .background_wrap p:nth-child(1) {
    text-align: center;
    font-size: 50px;
    color: #fff;
    line-height: 100vh;
    
}
.back_fix .background_wrap p:nth-child(2){
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    writing-mode: vertical-rl;
    position: absolute;
    top: 50px;
    left: 10px;

}



/**********magazine section*************/

.magazine_section{
    width: 100%;
    margin-top: 200px;
    height: 800px;
   
}
.magazine_section h1{
    text-align: center;
    margin-bottom: 50px;
}
.magazine_section .magazine_wrap{
    display: flex;
    width: 100%;
}
.magazine_section .magazine_wrap .mgz_box{
    font-size: 0;
    width: calc(100% - 75% -40px);
    margin-left: 40px;
    /* position: relative; */
}
.magazine_section .magazine_wrap .mgz-cont{
    position: relative;
}
.magazine_section .magazine_wrap .mgz_box:nth-child(4){
    margin-right: 40px;
}
.magazine_section .magazine_wrap .mgz_box img{
    width: 100%;
    height: auto;
    
}
.magazine_section .magazine_wrap .mgz_box .mgz_desc{
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
}
.magazine_section .magazine_wrap .mgz_box .mgz_desc h4{
    font-size: 28px;
    position: absolute;
    top: -70px;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
    transition: .3s;
    
}
.magazine_section .magazine_wrap .mgz_box .mgz_desc p{
    font-size: 18px;
    position: absolute;
    bottom: -60px;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
    transition: .3s;
    line-height: 30px;
}
.magazine_section .magazine_wrap .mgz_box .mgz_tit{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.magazine_section .magazine_wrap .mgz_box:hover .mgz_desc h4{
    top: 50px;
}
.magazine_section .magazine_wrap .mgz_box:hover .mgz_desc p{
    bottom: 100px;
}
.magazine_section .magazine_wrap .mgz_box:hover .mgz_desc{
    opacity: 1;
}

