*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

body{
    padding: 30px;
}
.wrap{
    width: 100%;
    height: calc(100vh - 60px);
    border: 1px solid #ccc;
    padding:  0 20px;
}
.wrap h1{
    text-align: center;
    margin-top: 50px;
}

form{
    display: flex;
    justify-content: center;    
    margin-top: 50px;
}
#todo_input{
    width: 300px;
    height: 40px;
    display: block;
    outline: none;
    padding: 0 5px;
}
.add{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: steelblue;
    color: #fff;
    border: 1px solid steelblue;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    margin-top: 100px;
}
.todo_list{}

.todo{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.todo li{
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding: 0 5px;
}
.todo .complete{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: steelblue;
    color: #fff;
    border: 1px solid steelblue;
    border-radius: 5px;
    cursor: pointer;
}
.todo .delete{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: steelblue;
    color: #fff;
    border: 1px solid steelblue;
    border-radius: 5px;
    cursor: pointer;
}


.done{
    text-decoration: line-through;
    color: #777;
    opacity: 0.5;
}

