*{margin: 0; padding: 0;}

.header{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    margin-top: 10px;
}

.main{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    
}
.main img{
    width: 100%;
    height: 100%;
}

.aside{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
.aside img{
    width: 100%;
    height: 100%;
}

.section{
    width: 100%;
    height: 400px;
    margin-top: 10px;

}
.section img{
    width: 100%;
    height: 100%;
}

@media all and (min-width:769px) {
    .wrap{
        display: flex;
        flex-wrap: wrap;
    }
    
    .aside{
        width: calc(100% - 50% - 5px);
    }
    .section{
        width: calc(100% - 50% - 5px);
        height: 500px;
        margin-left: 10px;
    }
}

@media all and (min-width:1070px) {
    .wrap{
        width: 1070px;
        margin: 0 auto;
    }
    
    .aside{height: 200px;}
    .section{height: 200px;}
}