.container_swiper{
  width: 1600px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
.my_wrap{
  width: 1000px;
   overflow: visible;
  margin: 50px auto;
 
}


.swiper_2 .swiper-slide {
 width: 500px;
  height: 500px;
  display: flex;
 
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
  margin: 0 50px;
}

.swiper_2 .swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  background: #fc0;
  
}
.swiper-slide__content {
  
}

.swiper_2 .swiper-button-next{
  top: 100px;
  
}
.swiper_2 .swiper-button-prev{}