* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* .container {
    width: 1660px;
    margin: 0 auto;
} */
li {
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
body {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: 500; */
}




/********sub banner******/
.sub_banner {
    width: 100%;
    margin-bottom: 100px;
    /* padding: 0 20px; */
}

.sub_banner .banner_wrap {
    height: 285px;
    position: relative;
}

.sub_banner .banner_wrap img {
    width: 100%;
    height: 100%;
}

.sub_banner .banner_wrap .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.sub_banner .banner_wrap .span_ex {
    position: absolute;
    bottom: 40px;
    left: 25px;
}

.sub_banner .banner_wrap .background span {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}



/***********optsection*********************/
.opt_section {
    width: 100%;
    padding: 0 20px;
}

.opt_wrap {
    display: flex;

}

.opt_wrap .opt_box1 {
    width: 20%;
}

#filter_chk{
    display: none;
}
#filter_chk:checked ~ .filter_open{
    display: none;
}
#filter_chk:checked ~ .filter_close{
    display: block;
}
#filter_chk ~ .filter_open{
    display: block;
}
#filter_chk ~ .filter_close{
    display: none;
}








.opt_wrap .opt_box2 {
    width: 60%;
}

.opt_wrap .opt_box3 {
    width: 20%;
    display: flex;
}

.opt_wrap .opt_box3 .sort_box {
    width: 50%;

}

.opt_wrap .opt_box3 .sort_box select {
    width: 100%;
    height: 25px;
    outline: none;
    border: 0;

}

.opt_wrap .opt_box3 .grid_box {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;

}

.opt_wrap .opt_box3 .grid_box i {
    margin-left: 20px;
    vertical-align: top;

}

.opt_wrap .opt_box3 .grid_01,
.opt_wrap .opt_box3 .grid_02 {
    cursor: pointer;
}

.opt_wrap .opt_box3 .grid_01::after {

    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 25px;
    margin-left: 20px;
    background-color: #ccc;
}

.filter_box_list {
    width: 100%;
    height: 350px;
    padding: 0 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 100px;
    display: none;
}

.filter_box_list .filter_wrap {
    display: flex;

}

.filter_box_list .filter_wrap .filter_box {
    width: 16.6666%;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter_box_list .filter_wrap .fbox_gender {
    /* width: 15%; */
}

.filter_box_list .filter_wrap .fbox_price {
    /* width: 15%; */
}

.filter_box_list .filter_wrap .fbox_sport {
    /* width: 10%; */
    border-right: 1px solid #ccc;
}

.filter_box h4 {
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}

.filter_box h4:hover {
    color: black;
    text-shadow: 5px 5px 5px black;
}

.fbox_all {
    border-right: 1px solid #ccc;
}

.fbox_all ul {}

.fbox_all ul li {
    margin-top: 10px;

}

.fbox_all ul li a {
    font-size: 16px;
    color: #999;

}

.fbox_all ul li:hover a {
    text-decoration: underline;
    color: black;
    font-weight: 500;
}

.filter_box_list .filter_wrap .fbox_sport ul {}

.filter_box_list .filter_wrap .fbox_sport ul li {
    margin-top: 10px;
}

.filter_box_list .filter_wrap .fbox_sport ul li input {
    display: none;
}

.filter_box_list .filter_wrap .fbox_sport ul li label {
    color: #999;
}

.sport_label01::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;

}

#sport_chk1:checked~.sport_label01::before,
#sport_chk2:checked~.sport_label01::before,
#sport_chk3:checked~.sport_label01::before,
#sport_chk4:checked~.sport_label01::before,
#sport_chk5:checked~.sport_label01::before {
    background: url(../img/check01.png) no-repeat;
    background-size: cover;
}

#sport_chk1:checked~.sport_label01,
#sport_chk2:checked~.sport_label01,
#sport_chk3:checked~.sport_label01,
#sport_chk4:checked~.sport_label01,
#sport_chk5:checked~.sport_label01 {
    color: #002053;
    font-weight: 500;
}

.filter_box_list .filter_wrap .fbox_color {
    border-right: 1px solid #ccc;
}

.filter_box_list .filter_wrap .fbox_color ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}

.filter_box_list .filter_wrap .fbox_color ul li {
    /* display: inline-block; */
    width: 20%;
    margin-bottom: 10px;
}

.filter_box_list .filter_wrap .fbox_color ul li input {
    display: none;
}

.filter_box_list .filter_wrap .fbox_color ul li label {}

.filter_box_list .filter_wrap .fbox_color ul li label {
    width: 30px;
    height: 30px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
}

#color_chk01:checked~.color01 {
    border: 3px solid #002053;
}

#color_chk02:checked~.color02 {
    border: 3px solid red;
}

#color_chk03:checked~.color03 {
    border: 3px solid red;
}

#color_chk04:checked~.color04 {
    border: 3px solid #002053;
}

#color_chk05:checked~.color05 {
    border: 3px solid #002053;
}

#color_chk06:checked~.color06 {
    border: 3px solid #002053;
}

#color_chk07:checked~.color07 {
    border: 3px solid red;
}

#color_chk08:checked~.color08 {
    border: 3px solid #002053;
}

#color_chk09:checked~.color09 {
    border: 3px solid #002053;
}

#color_chk10:checked~.color10 {
    border: 3px solid red;
}

#color_chk11:checked~.color11 {
    border: 3px solid #002053;
}

#color_chk12:checked~.color12 {
    border: 3px solid #002053;
}


.color01 {
    background: url(../img/colors/BEIGE.png) no-repeat;
    background-size: cover;
}

.color02 {
    background: url(../img/colors/BLACK.png) no-repeat;
    background-size: cover;
}

.color03 {
    background: url(../img/colors/BLUE.png) no-repeat;
    background-size: cover;
}

.color04 {
    background: url(../img/colors/BROWN.png) no-repeat;
    background-size: cover;
}

.color05 {
    background: url(../img/colors/GREEN.png) no-repeat;
    background-size: cover;
}

.color06 {
    background: url(../img/colors/GREY.png) no-repeat;
    background-size: cover;
}

.color07 {
    background: url(../img/colors/NAVY.png) no-repeat;
    background-size: cover;
}

.color08 {
    background: url(../img/colors/ORANGE.png) no-repeat;
    background-size: cover;
}

.color09 {
    background: url(../img/colors/PINK.png) no-repeat;
    background-size: cover;
}

.color10 {
    background: url(../img/colors/PURPLE.png) no-repeat;
    background-size: cover;
}

.color11 {
    background: url(../img/colors/RED.png) no-repeat;
    background-size: cover;
}

.color12 {
    background: url(../img/colors/WHITE.png) no-repeat;
    background-size: cover;
}


.filter_box_list .filter_wrap .fbox_size {
    border-right: 1px solid #ccc;
}

.filter_box_list .filter_wrap .fbox_size ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.filter_box_list .filter_wrap .fbox_size ul li {
    margin-bottom: 10px;
    margin-right: 10px;
}

.filter_box_list .filter_wrap .fbox_size ul li input {
    display: none;
}

.filter_box_list .filter_wrap .fbox_size ul li label {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    display: block;
    text-align: center;
    line-height: 38px;
    border-radius: 10px;
    transition: .3s;
    font-size: 14px;
}

#size_chk01:checked~.size01,
#size_chk02:checked~.size02,
#size_chk03:checked~.size03,
#size_chk04:checked~.size04,
#size_chk05:checked~.size05,
#size_chk06:checked~.size06,
#size_chk07:checked~.size07,
#size_chk08:checked~.size08,
#size_chk09:checked~.size09,
#size_chk10:checked~.size10,
#size_chk11:checked~.size11,
#size_chk12:checked~.size12,
#size_chk13:checked~.size13,
#size_chk14:checked~.size14 {
    background-color: #002053;
    color: #fff;
}

.filter_box_list .filter_wrap .fbox_price {
    border-right: 1px solid #ccc;
}

.filter_box_list .filter_wrap .fbox_price ul {
    margin-top: 10px;
}

.filter_box_list .filter_wrap .fbox_price ul li {
    margin-top: 10px;
}

.filter_box_list .filter_wrap .fbox_price ul li input {
    display: none;
}

.filter_box_list .filter_wrap .fbox_price ul li label {
    font-size: 14px;
    color: #999;
}

.filter_box_list .filter_wrap .fbox_price ul li label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

#price_chk01:checked~.price01,
#price_chk02:checked~.price02,
#price_chk03:checked~.price03,
#price_chk04:checked~.price04,
#price_chk05:checked~.price05 {
    color: #002053;
    font-weight: 500;
}

#price_chk01:checked~.price01::before {
    background: url(../img/check01.png);
    background-size: cover;
}

#price_chk02:checked~.price02::before {
    background: url(../img/check01.png);
    background-size: cover;
}

#price_chk03:checked~.price03::before {
    background: url(../img/check01.png);
    background-size: cover;
}

#price_chk04:checked~.price04::before {
    background: url(../img/check01.png);
    background-size: cover;
}

#price_chk05:checked~.price05::before {
    background: url(../img/check01.png);
    background-size: cover;
}


.filter_box_list .filter_wrap .fbox_price {}

.filter_box_list .filter_wrap .fbox_price ul {}

.filter_box_list .filter_wrap .fbox_price ul li {}

.filter_box_list .filter_wrap .fbox_price ul li input {}

.filter_box_list .filter_wrap .fbox_price ul li label {}





.filter_box_list .filter_wrap .fbox_gender {}

.filter_box_list .filter_wrap .fbox_gender ul {
    margin-top: 10px;
}

.filter_box_list .filter_wrap .fbox_gender ul li {}

.filter_box_list .filter_wrap .fbox_gender ul li input {
    display: none;
}

.filter_box_list .filter_wrap .fbox_gender ul li label {
    color: #999;
}

.filter_box_list .filter_wrap .fbox_gender ul li label::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}

#gender_all:checked~.gender01,
#gender_men:checked~.gender02 {
    color: #002053;
    font-weight: 500;
}

#gender_all:checked~.gender01::before,
#gender_men:checked~.gender02::before {
    background: url(../img/check01.png);
    background-size: cover;

}































/**********상품리스트*************/
.sublist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subBox {
    width: calc(100% - 75% - 25px);
    /* height: 550px; */
    margin-left: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.subimg_wrap {
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.subimg_wrap:hover img {
    transform: scale(1.05);
}

.subimg_wrap:hover {
    box-shadow: 0 0 15px black;
}

.subimg_wrap:hover .hoverBox {
    /* opacity: 1; */
    bottom:0;
}

.hoverBox {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    z-index: 999;
    bottom: -50px;
    /* opacity: 0; */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.hoverWrap {
    display: flex;
    text-align: center;
    color: #fff;
}

.like {
    width: 50%;
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
}

.like:hover {
    color: red;
}

.cart {
    width: 50%;
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
}

.cart:hover {
    color: #002053;
}

.subimg {
    width: 100%;
    transition: .5s;
}

.subBox:nth-child(4n) {
    margin-right: 0;
}

.item_wrap {
    /* display: flex; */
}

.item_desc_wrap {
    width: 100%;
}

.item_category {
    font-size: 12px;
    margin: 10px 0;
}

.item_name {
    font-size: 17px;
    margin-bottom: 10px;
}

.item_price {}

.buy_box {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    /* position: relative; */
}

.buy_btn:hover {
    background-color: #002053;
    color: #fff;
    border: #002053;
    box-shadow: 0 0 10px black;
}

.buy_btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #eee;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    transition: .3s;

}