*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}

/*******header*******/
.head_wrap{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head_wrap .blank{
    width: 33.333%;
}
.login{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    border-radius: 20px;
    margin-left: 100px;
    cursor: pointer;
    transition: .5s;
}
.login:hover{
    background-color: #002053;
    color: #fff;
}
.head_wrap .logo{
    width: 33.333%;
}
.head_wrap .logo img{
    width: 95px;
    height: auto;
}
.head_wrap .cart{
    width: 33.333%;
    text-align: right;
}
.head_wrap .cart img{
    width: 40px;
    height: auto;
    margin-right: 100px;
}

.cart_icon_wrap{
    width: 100%;
    position: relative;
}
.cart_icon_wrap p{
    position: absolute;
    top: 0;
    right: 115px;
    color: #fff;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #002053;
    text-align: center;
    line-height: 20px;
}

/********nav********/

.nav_wrap{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20px;
}
.nav_wrap li{
    width: calc(20% - 24px);
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.nav_wrap li a{
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #002053;
    font-size: 20px;
}
.nav_wrap li:first-child{
    margin-left: 20px;
}


/**********swiper**********/

.visual_swiper{
    width: 100%;
    height: 800px;
    /* height: auto; */
    position: relative;
}
.visual_swiper img{
    width: 100%;
    height: auto;
}
.visual_slide{
    position: relative;
}
.visual_tit{
    font-size: 50px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    color: #fff;
}
.visual_btn{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    line-height: 50px;
    position: absolute;
    bottom: 130px;
    left: 180px;
    z-index: 10;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    transition: .3s;
}
.visual_btn:hover{
    background-color: #002053;
    border: 1px solid #002053;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #fff;
    transition: .3s;

}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 40px;
    height: 10px;
    border-radius: 20px;
    background-color: #fff;
}




/**********popswiper***********/

.pop_swiper{
    width: 100%;
    /* height: 600px; */

}
.pop_slide{
    width: 30%;
}
.pop_box{

}
.pop_slide img{
    width: 100%;
    cursor: pointer;

}
.pop_tit{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.pop_price{
    text-align: right;
    font-size: 18px;
}




/********buttons*********/
.btn_wrap{
    width: 100%;
    display: flex;
}


/*******magazine********/
.mgz_wrap{
    display: flex;
    width: 100%;
}
/* .mgz_box{
    width: calc(25% - 25px);
    margin-left: 20px;
    cursor: pointer;
} */
.mgz_box:last-child{
    margin-right: 20px;
}
.mgz_box img{
    width: 100%;
}
.mgz_box p{
    text-align: center;
    font-size: 24px;
}
.mgz_ex{
    width: calc(25% - 25px);
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden;
}

/*********sns********/

.sns_wrap{
    display: flex;
    flex-wrap: wrap;
}
.sns_wrap img{
    width: 100%;
    /* height: 100%; */
    height: auto;
    transform: scale(1.1);
    transition: .5s;
}
.sns_wrap img:hover{
    transform: scale(1);
}



/***********recommand***********/

.recommand_wrap{
    display: flex;
}
.rec_box{
    width: calc(25% - 25px);
    margin-left: 20px;
    position: relative;
}
.rec_box:last-child{
    margin-right: 20px;
}
.rec_box img{
    width: 100%;
}
.rec_title{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.rec_price{
    font-size: 18px;
    text-align: right;
    padding-right: 5px;
}

.hover_box{
    width: 220px;
    height: 130px;
    border: 1px solid #ccc;
    position: absolute;
    top: 40%;
    right: 40%;
    background-color: #fff;
    opacity: 0;
    transition: .3s;
    border-radius: 10px;
    padding: 5px;
}
.hover_box p:nth-child(1){
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.hover_box p:nth-child(2){
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}


.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #002053;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 35%;
    right: 45%;
}
.hover_wrap:hover .hover_box{
    opacity: 1;
}



/*********login*******/
.login_wrap{
    width: 1200px;
    margin: 0px auto;
}
.login_id{
    display: block;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    outline: none;
}
.login_pw{
    display: block;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    outline: none;
}
.loginButton{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #002053;
    color: #fff;
    margin: 30px auto;
    display: block;
    cursor: pointer;
}





/*******footer*****/

.foot_wrap{
    display: flex;
    background-color: #eee;
    padding: 30px 0px 30px 40px;
    margin-top: 100px;
}
.foot_logo{
    width: 10%;
}
.foot_desc{
    width: 50%;
}
.desc_ul1{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
.desc_ul1 li{
    width: 20%;
    border-right: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.desc_ul1 li:last-child{
    border-right: 0;
}
.foot_desc p{
    font-size: 14px;
    color: #777;
    width: 600px;
    padding: 0 45px;
}

.desc_ul2{
    display: flex;
    margin-top: 20px;
    width: 600px;
}
.desc_ul2 li{
    width: 33.3333%;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.foot_cscenter{
    width: 40%;
}

.cs_box{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    margin: 0 auto;
}
.cs_desc{
    width: 300px;
    margin: 0 auto;
}
.cs_desc p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.cs_desc p:nth-child(2){
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}
