*{margin: 0; padding: 0;}

.header, .footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;

}

.header{margin-bottom: 10px;}
.footer{margin-top: 10px;}

.aside{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.aside img{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
.main img{
    width: 100%;
    height: 100%;
}

.section{
    width: 100%;
    height: 500px;
}
.section img{
    width: 100%;
    height: 100%;    
}


@media all and (min-width:769px) {

    .wrap{
        width: 769px;
        margin: 0 auto;
        overflow: hidden;
        
    }

    .aside{
        width: calc(100% - 80% - 5px);
        height: 1010px;
        margin-right: 10px;
        float: left;
       
    }
    .main{
        width: calc(100% - 20% - 5px);
        float: left;
        
    }
    .section{
         width: calc(100% - 20% - 5px);
         float: left;
          

    }
}