* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li {
    list-style: none
}

a {
    text-decoration: none;
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.container {
    width: 1276px;
    margin: 0 auto;
}

.quick_menu {
    /* display: none; */
}

.btn_wrap {
    /* display: none; */
}

/****************header************************/

header {
    width: 100%;
    margin-top: 10px;
}

header .header_wrap {
    display: flex;
}

header .main_logo {
    width: 33.3333%;
    cursor: pointer;
}

header .main_logo img {
    width: 50%;
}

header .head_promotion {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header .head_promotion .line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;

}

header .head_promotion .line_txt {
    text-align: center;
    color: #666;
    cursor: pointer;

}

header .gnb {
    width: 33.3333%;

    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;

}

header .gnb .gnb_login {

    margin-right: 10px;

}

header .gnb .gnb_login:hover a {
    color: #238ece;
}

header .gnb .gnb_join {
    margin-right: 10px;
}

header .gnb .gnb_join:hover a {
    color: #238ece;
}

header .gnb .gnb_language {
    position: relative;
}

header .gnb .gnb_language:hover label {
    color: #238ece;
}

#lang_chk {
    display: none;
}

#lang_chk:checked~label.lang_open {
    display: none;
}

#lang_chk:checked~label.lang_close {
    display: block;
}

#lang_chk~label.lang_close {
    display: none;
}

#lang_chk~label.lang_open {
    display: block;
}

#lang_chk:checked~.gnb_lang_list {
    height: 70px;
}

/*#lang_chk ~ .gnb_lang_list{display: none;}*/

.gnb_lang_list {
    width: 100%;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
    top: 20px;
}

.gnb_lang_list a {
    display: block;
    height: 25px;
    text-align: center;
    width: 100%;
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: steelblue;
    font-weight: normal;
    margin-top: 3px;
    transition: .3s;

}

.gnb_lang_list a:hover {
    background-color: #238ece;
    color: #fff;
}

/*****rolling******/
.rolling {
    overflow: hidden;
    height: 20px;
}

.rolling li {
    /* transition: .3s; */
    height: 20px;
    font-size: 18px;
}
/***********mobile nav************/
.mobile_nav {
    width: 100%;
    display: none;
}

.mobile_nav ul {
    width: 100%;
    display: flex;
}

.mobile_nav ul li {
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #238ece;
    border: 1px solid #fff;

}

.mobile_nav ul li:nth-child(2),
.mobile_nav ul li:nth-child(3),
.mobile_nav ul li:nth-child(4) {
    border-left: 0;
}

.mobile_nav ul li a {
    color: #fff;
    width: 100%;
    display: block;
}

.mobile_nav ul li a span {
    color: #ff143c;
    font-weight: 600;
    font-size: 13px;
}

/**************lnb***************/
nav {
    width: 100%;
    margin-top: 30px;
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: #238ece;

}

.lnb_wrap {
    width: 100%;


}

.lnb_wrap ul {
    width: 100%;
    display: flex;

}

.lnb_wrap ul li {

    width: 14.2857%;
    /* border: 1px solid black; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    transition: .3s;
    height: 50px;

}

.lnb_wrap>ul>li:hover {
    /* background-color: #fff; */
}

.lnb_wrap>ul>li:hover>a {
    font-weight: 550;

}

.lnb_wrap .lnb>li>a {
    width: 100%;
    display: block;
    color: #fff;
    line-height: 50px;
    position: relative;



}

.lnb_wrap .lnb>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: all .3s;
}

.lnb_wrap .lnb>li>a::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 7px;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: all .3s;
}

.lnb_wrap>ul>li:hover>a:after {
    width: 50%;
}

.lnb_wrap>ul>li:hover>a:before {
    width: 50%;
}

/*********morelist2***********/
.more_list2 {
    width: 100%;
    height: 250px;
    background-color: #fff;  
    text-align: center;
    display: none;
    border-bottom: 1px solid #ccc;
}
.more_list2_wrap{
    display: flex;
    justify-content: space-around;
}
.more_list2 .more_box{
    margin-top: 20px;
    width: 33.3333%;
    border-right: 1px solid #ccc;
}
.more_list2 .more_box:last-child{border: 0;}
.more_list2 .more_box>a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    transition: .3s;

}
.more_list2 .more_box>a:hover{
    color: #ff143c;
}
.more_list2 .more_box li{
    margin-bottom: 10px;
}
.more_list2 .more_box li a{
    color: #888;
    transition: .3s;
}
.more_list2 .more_box li:hover a{
    color: #238ece;
}

.more_wrap{
    display: flex;
}
.more_open{
    width: 100%;
    color: #fff;
    line-height: 50px;
    display: block;
    transition: .3s;
    cursor: pointer;
}
.more_open span{
    display: block;
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: .3s;
    
    
}
.more_open:hover .line1{
  
}
.more_open:hover .line2{
   
}
.more_open .line3{
   width: 15px;
   position: absolute;
   right: 73.7px;
   
}
.more_open:hover .line3{
    width: 35px;
}
.spanwrap{
    margin-top: 10px;
    position: relative;
}
.more_close{
    width: 100%;
    color: #fff;
    line-height: 50px;
    display: none;
    transition: .3s;
    cursor: pointer;
}
.more_close i{
    font-size: 30px;
    line-height: 50px;
    transition: .3s;
}
.more_close:hover i{
    transform: rotate(90deg);
}






/**********sub tit**************/
.sub_tit {
    width: 100%;
    margin-top: 50px;
}


.sub_tit .sub_tit_wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    align-items: baseline;
}

.sub_tit .sub_tit_wrap h2 {
    font-size: 30px;

}

.sub_tit .sub_tit_wrap .sub_nav {
    display: flex;
}

.sub_tit .sub_tit_wrap .sub_nav li {
    margin-left: 5px;
}

.sub_tit .sub_tit_wrap .sub_nav li a {
    font-size: 14px;
    color: #666;
}


/****************section01*******************/

.section01{width: 100%; margin-top: 50px;}
.section01 .section01_wrap{
    display: flex;
}
.section01 .section01_wrap .left_box{
    width: 45%;
    margin-right: 5%;
    height: 2000px;

}
.section01 .section01_wrap .left_box .left_img_wrap{
    width: 100%;
    position: sticky;
    top: 70px;
    /* margin-top: 20px; */
}
.section01 .section01_wrap .left_box .left_img_wrap img{
    width: 100%;
}




.section01 .section01_wrap .right_box{
    width: 45%;
}

.section01_wrap .right_box .right_tit{
    
}
.section01_wrap .right_box .right_tit h4{
    font-size: 26px;
    text-align: center;
}
.section01_wrap .right_box .right_tit p{
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}


.right_box .right_size_wrap{
    margin-top: 50px;
    border-top: 2px solid black;
}

.right_box .right_size_wrap h4{
    font-size: 20px;
    margin-top: 10px;
}
.right_box .right_size{
    margin-top: 20px;
}
.right_box .right_size input{
    display: none;
}
.right_box .right_size label{
    display: block;
    width: 250px;
    height: 60px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

#sizebtn1:checked ~ .size01{
    background-color: #238ece;
    color: #fff;
}


.right_dow{
    margin-top: 50px;
    border-top: 2px solid black;
}
.right_dow h4{
    font-size: 20px;
    margin-top: 10px;
}
.right_dow ul{
    margin-top: 20px;
}
.right_dow ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.right_dow ul li input{display: none;}

.right_dow ul li label::before{
    display: inline-block;
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color:#eee;
    vertical-align: middle;
    margin-right: 5px;
}
#dowbtn01:checked ~ .dow01::before,
#dowbtn02:checked ~ .dow02::before,
#dowbtn03:checked ~ .dow03::before{
    background: url(../imges/check01.png) center center;
    background-size: cover;
    
}
#dowbtn01:checked ~ .dow01,
#dowbtn02:checked ~ .dow02,
#dowbtn03:checked ~ .dow03{
    color: #ff143c;
}
#dowbtn01:checked ~ .dow_price,
#dowbtn02:checked ~ .dow_price,
#dowbtn03:checked ~ .dow_price{
    color: #ff143c;
}




.right_topping{
    margin-top: 50px;
    border-top: 2px solid black;
}
.right_topping h4{
    margin-top: 10px;
    font-size: 20px;
}
.right_topping ul{
    margin-top: 20px;
}
.right_topping ul li{
    display: flex;
    align-items: center;
}
.right_topping ul li .topping_img{
    width: 15%;
}
.right_topping ul li .topping_img img{
    width: 100%;
    height: 100%;
}
.right_topping ul li .topping_txt{
    width: 50%;
    padding: 0 10px;
}
.right_topping ul li .topping_txt p{}
.right_topping ul li .topping_txt span{
    font-weight: bold;
}

.right_topping ul li .topping_cnt{
    width: 35%;
    text-align: right;
    font-size: 0;
}
.right_topping ul li .topping_cnt button{
    width: 30px;
    height: 30px;
    background-color: #238ece;
    color: #fff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    vertical-align: bottom;
}
.right_topping ul li .topping_cnt input{
    width: 70px;
    height: 30px;
    outline: none;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    
}


.pizza_cnt{
    margin-top: 50px;
    border-top: 2px solid black;
}
.pizza_cnt h4{
    margin-top: 10px;
    font-size: 20px;
}
.pizza_cnt_wrap{
    text-align: center;
    font-size: 0;
}
.pizza_cnt_wrap button{
    width: 60px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #238ece;
    color: #fff;
    font-size: 24px;
    vertical-align: bottom;
    cursor: pointer;
}
#pizza_minus{
    border-radius: 30px 0 0 30px;
    border-right: 0;
}
#pizza_plus{
    border-radius: 0 30px 30px 0;
    border-left: 0;
}
.pizza_cnt_wrap input{ 
    width: 350px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    border-right: 0;
    border-left: 0;
    font-size: 22px;
}


.side_dish{
    margin-top: 50px;
    border-top: 2px solid black;
}
.side_dish h4{
    margin-top: 20px;
    font-size: 20px;
}
.side_dish ul{
    margin-top: 30px;
}
.side_dish ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.side_dish ul li .side_img{
    width: 15%;
}
.side_dish ul li .side_img img{
    width: 100%;
    height: 100%;
}

.side_dish ul li .side_txt{
    width: 50%;
    padding: 0 10px;
}
.side_dish ul li .side_txt p{}
.side_dish ul li .side_txt span{
    font-weight: bold;
}

.side_dish ul li .side_cnt{
    width: 35%;
    text-align: right;
    font-size: 0;
}
.side_dish ul li .side_cnt button{
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 0;
    outline: none;
    background-color: #238ece;
    color: #fff;
    cursor: pointer;
}
.side_dish ul li .side_cnt input{
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
}



.drink_etc{
    margin-top: 50px;
    border-top: 2px solid black;
}
.drink_etc h4{
    margin-top: 20px;
    font-size: 20px;
}

.drink_etc ul{
    margin-top: 30px;
}
.drink_etc ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.drink_etc ul li .drink_img{
    width: 15%;
}
.drink_etc ul li .drink_img img{
    width: 100%;
    height: 100%;
}

.drink_etc ul li .drink_txt{
    width: 50%;
    padding:0 10px;
}
.drink_etc ul li .drink_txt p{}
.drink_etc ul li .drink_txt span{
    font-weight: bold;
}

.drink_etc ul li .drink_cnt{
    width: 35%;
    text-align: right;
    font-size: 0;
}
.drink_etc ul li .drink_cnt button{
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 0;
    outline: none;
    background-color: #238ece;
    color: #fff;
    cursor: pointer;
}
.drink_etc ul li .drink_cnt input{
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
}


.section02_wrap{
    width: 100%;
    height: 120px;
    background-color: #eee;
    /* background-color: rgba(36, 142 , 206, 0.3); */
    position: fixed;
    bottom: 0;
}

.total_order{
    width: 1276px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
.total_order h4{
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
}
.total_pizza{
    width: 25%;
}
.total_pizza p,
.total_side p,
.total_drink p{
    font-size: 14px;
}
.total_side{
    width: 25%;
}
.total_drink{
    width: 25%;
}
.total_price{
    width: 25%;
    padding: 10px;
}
.total_price p{
    font-size: 20px;
}
.total_price .total_btn{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: #238ece;
    color: #fff;
    border-radius: 20px;
}






























/**************footer****************/
footer {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #ccc;

}

.footer_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer_L {
    width: 85%;

}

.footer_L .footer_logo_wrap {
    display: flex;
    margin-top: 10px;
}

.footer_L .footer_logo_wrap .footer_logo {
    width: 130px;
    height: 37px;
    margin-left: 20px;
}

.footer_L .footer_logo_wrap .footer_logo img {
    width: 100%;
    height: 100%;
}

.footer_L .footer_logo_wrap .phoneno {}

.footer_L .footer_logo_wrap .phoneno p {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;

}

.footer_L .f_lnb {
    margin-top: 20px;
    display: flex;


}

.footer_L .f_lnb li {
    width: 12.5%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;

}

.footer_L .f_lnb li a {
    color: #888;
}

.footer_L .f_lnb li:nth-child(2) a {
    color: black;
}

.footer_L .f_lnb li:nth-child(3) a {
    color: black;
}

.footer_L .footer_desc {
    font-size: 13px;
    margin-top: 30px;
    color: #888;
    padding-left: 30px;
}


.footer_R {
    width: 15%;

}

#footchk {
    display: none;
}

#footchk:checked~.foot_langbox ul {
    height: 60px;
}

/* #footchk ~ .foot_langbox{display: none;} */

.footer_language label {
    padding-bottom: 5px;
    display: block;
    width: 100%;
    padding-left: 5px;
    border-bottom: 2px solid black;
    margin-top: 10px;
    text-align: center;
}

.footer_language label i {
    padding-left: 90px;
}

.footer_language .foot_langbox {
    width: 100%;
    position: relative;


}

.footer_language {}

.footer_language .foot_langbox ul {
    width: 100%;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: .2s;
    position: absolute;
    background-color: #fff;

}

.footer_language .foot_langbox ul li {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    color: #999;
    font-weight: 700;
    height: 30px;
    transition: .3s;
}

.footer_language .foot_langbox ul li:hover {
    color: #238ece;
}

.foot_down {
    display: flex;
    padding: 10px;
    margin-top: 20px;
}

.foot_down a {}

.foot_down a i {
    font-size: 20px;
    margin-left: 10px;
}

.footer_sns {
    display: flex;
    margin-top: 90px;
}

.footer_sns .foot_sns_img {
    width: calc(100% - 75% - 10px);
    margin: 0 5px;
    cursor: pointer;
}

.footer_sns .foot_sns_img img {
    width: 100%;

}

.list_award {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 30px;
    padding: 30px 0;


}

.list_award .container {}

.list_award_wrap {
    display: flex;
    align-items: center;
}

.list_award .award_box {
    display: flex;
    margin-right: 10px;
}

.list_award .awrad_box .award_img {}

.list_award .award_box .award_img img {}

.list_award .award_box p {
    margin: 0 8px;
    font-size: 11px;
    color: #888;


}











/****************quick menu*****************/
.quick_menu {
    width: 100px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(138, 149, 158, 0.15);
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    /* transform: translateY(-50%); */
    cursor: pointer;
    z-index: 99999;
}

.quick_menu .quick_wrap {
    width: 100%;
}

.quick_menu .quick_wrap .membership {
    border-bottom: 1px solid #ccc;

}

.quick_menu .quick_wrap .membership .q_img {
    width: 30px;
    height: 30px;
    margin: 10px auto;
}

.quick_menu .quick_wrap .membership:nth-child(3) .q_img {
    width: 30px;
    height: 30px;
}

.quick_menu .quick_wrap .membership img {
    width: 100%;
    height: 100%;
}

.quick_menu .quick_wrap .membership p {
    font-weight: 600;
    margin: 10px 0;
    transition: .3s;
}

.quick_menu .quick_wrap .membership i {
    font-size: 27px;
}

.quick_menu .quick_wrap .membership p span {
    color: #ff143c;
}

.quick_menu .quick_wrap .membership:hover p {
    color: #238ece;
}

.quick_menu .quick_wrap .membership:last-child {
    border: 0;
}

.btn_wrap {
    position: fixed;
    bottom: 70px;
    right: 30px;
}

.btn_wrap .dir_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;

}

.btn_wrap .dir_btn:first-child {
    background-color: #238ece;
}

.btn_wrap .dir_btn:last-child {
    background-color: #ff143c;
}

.btn_wrap .dir_btn a {
    width: 100%;
    display: block;
    color: #fff;

}

.btn_wrap .dir_btn a i {
    font-size: 18px;
}


