* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 1440px;
    margin: 0 auto;
}
li {
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}



.search_box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0px;
    z-index: 99999;
    display: none;
}
.search_box .search_box_wrap{
    width: 100%;
    background-color: #fff;
    padding: 30px 0;
}
.search_box .search_input{
    width: 100% ;
    position: relative;
    padding-top: 30px;
}
.search_box .search_input .search_icon{
    width: 50px;
    height: 50px;
    font-size: 35px;
    position: absolute;
    top: 35px;
    left: 25px;
}
.search_box .search_input input{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    outline: none;
    border: 2px solid #ccc;
    background-color: #eee;
    font-size: 20px;
    padding: 0 15px;
    text-align: center;
}
.search_box .search_input input[placeholder]{
    font-weight: 700;
}
.search_box .search_input .search_close{
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    right: 0; top: 35px;
    cursor: pointer;
}
.search_box .search_list_wrap{
    display: flex;
    margin-top: 30px;
}
.search_box .search_list_wrap .search_list{
    width: 33.3333%;
    border-right: 1px solid #ccc;
    padding-left: 100px;
}
.search_box .search_list_wrap .search_list:last-child{
    border-right: 0;
}
.search_box .search_list_wrap .search_list h4{
    font-size: 20px;
    margin: 30px 0;
    
}
.search_box .search_list_wrap .search_list li{
    margin-bottom: 15px;
}
.search_box .search_list_wrap .recent_search li:first-child{
    color: #888;
}
.search_box .search_list_wrap .recent_search .delete_history span{
    font-size: 14px;
    color: #888;
    text-decoration: underline;
    display: block;
    margin-top: 50px;
    cursor: pointer;
}


/*************header*************/
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 70px;
    background-color: rgba(0, 32, 83, 0.3);
}

header:hover {
    background-color: #fff;

}

header:hover a {
    color: black !important;
}

.head_up {
    position: absolute;


}

.head_down {
    position: fixed;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.head_logo {
    width: 33.3333%;
}

.head_logo .imgwrap {
    width: 90px;
    margin-left: 25px;
    margin-top: 10px;

}

.head_logo .imgwrap img {
    width: 100%;
    height: auto;
}

.head_lnb {
    width: 33.3333%;
}

.head_lnb ul {
    display: flex;
    justify-content: space-around;
     line-height: 70px;
}

.head_lnb ul li {
    font-size: 20px;
    font-weight: bold;

}

.head_lnb ul li:nth-child(4) {
    position: relative;
}

.head_lnb ul li:nth-child(4)::before {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    position: absolute;
    top: 25px;
    left: -35px;

}

.head_lnb ul li a {
    display: block;
    width: 100%;
    color: #fff;
    position: relative;
    transition: .3s;

}

.head_lnb ul li a:hover {
    color: #002053;
}

.head_lnb ul li a:hover::after {
    width: 50%;
}

.head_lnb ul li a:hover::before {
    width: 50%;
}

.head_lnb ul li a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 13px;
    right: 50%;
    transition: .3s;
}

.head_lnb ul li a::before {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #002053;
    position: absolute;
    bottom: 13px;
    left: 50%;
    transition: .3s;
}

.head_gnb {
    width: 33.3333%;

}

.head_gnb ul {
    display: flex;
    justify-content: flex-end;
}

.head_gnb ul li {
    margin-right: 25px;
    position: relative;

}

.head_gnb ul li:nth-child(4) {}

.head_gnb ul li .count {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background-color: #002053;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: -5px;

}

.head_gnb ul li a {
    width: 100%;
    display: block;
    font-size: 25px;
    color: #fff;
    transition: .3s;

}

.header:hover .head_lnb>ul>li>a {
    color: black;
}

.header:hover .head_gnb>ul>li>a {
    color: black;
}

/********drop down menu*********/

.dropdown_menu {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 100;
    background-color: #fff;
    display: none;
    padding: 20px;
    border-bottom: 2px solid #ccc;
   
}

.drop_menu_wrap {
    width: 100%;
    display: flex;


}

.drop_kids .dbox {
    width: 20%;
}

.drop_kids .dbox:last-child {
    border: 0;
}

.dbox {
    width: 16.66667%;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 10px;
}

.dbox h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

.dropbox_06 {
    border-right: 0;
}

.menu_list {
    width: 100%;
}

.menu_list li {
    height: 20px;
    margin-bottom: 20px;


}

.menu_list li a:hover{
    font-weight: bold;
    color: red !important;
   
}

.menu_list li a {
    display: block;
    width: 100%;
   
}

.sub_menu {
    margin-top: 50px;
}

.sub_menu li {
    margin-bottom: 20px;
    font-weight: bold;
    height: 20px;
}

.sub_menu li a {
    display: block;
    width: 100%;
    position: relative;
    
}
.sub_menu li:hover a{
    color: red !important;
}

.drop_brand .drop_menu_wrap {}

.drop_brand .drop_menu_wrap .brand_box {
    width: calc(100% - 80% - 24px);
    margin: 50px 20px;
}

.drop_brand .drop_menu_wrap .brand_box .brand_img {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.drop_brand .drop_menu_wrap .brand_box .brand_img img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: .5s;
}

.drop_brand .drop_menu_wrap .brand_box .brand_img:hover img {
    transform: scale(1);
}

.drop_brand .drop_menu_wrap .brand_box .brand_tit {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}






/***********section01 detail view************/  
.section01{
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;
}

.detail_wrap{
    display: flex;
}
.detail_wrap .detail_box_L{
    width: 70%;
    /* height: 900px; */
}

.detail_wrap .detail_box_L .box_L_wrap{
    display: flex;
}
.detail_wrap .detail_box_L .box_L_wrap .detail_video{
    width: calc(100% - 50% - 10px);
    margin-right: 20px;
    font-size: 0;
}
.detail_wrap .detail_box_L .box_L_wrap .detail_video video{
    width: 100%;
    height: auto;
}


.detail_wrap .detail_box_L .box_L_wrap .detail_thumb{
    width: calc(100% - 50% - 10px);
}

/********banner**********/
.banner_wrap{
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.banner_wrap .bannerimg_wrap{
    width: 100%;
    height: 200px;
    
}
.banner_wrap .bannerimg_wrap img{
    width: 100%;
    height: 100%;
}
.banner_text{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 20px;
    transform: translateY(-50%);
    font-size: 30px;
}
.banner_text span{
    color: #03398f;
}




.swiper01{
    width: 100%;
    height: auto;
    position: relative;
}
.swiper01 .swiper-pagination{
   position: absolute;
   width: 100%;
}
.swiper01 .swiper-pagination-bullet{
    width: 16%;
    height: 100px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    opacity: .5;
    /* transition: .3s; */
}
.swiper01 .swiper-pagination-bullet-active{
    border: 0;
    border: 3px solid #002053;
    opacity: 1;

}
.swiper01 .swiper-pagination-bullet-active:nth-child(5){
    border: 3px solid #eee;
}
.swiper01 .swiper-pagination-bullet-active:nth-child(4){
    border: 3px solid #eee;
}
.swiper01 .swiper-pagination-bullet:nth-child(1){
    background: url(../img/detail01.jpg) no-repeat center center;
    background-size: cover;
    /* background-position: 50% 0; */
}
.swiper01 .swiper-pagination-bullet:nth-child(2){
    background: url(../img/detail02.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(3){
    background: url(../img/detail03.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(4){
    background: url(../img/detail04.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(5){
    background: url(../img/detail05.jpg) no-repeat center center;
    background-size: cover;
}



.swiper01_ex{
    overflow: hidden;
}
.swiper01 .slide01{
    width: 100%;
    height: auto;
    font-size: 0;
}
.swiper01 .slide01 img{
    width: 100%;
    height: auto;
}

.detail_wrap .detail_box_R{
    width: 30%;
    /* height: 900px; */
    border: 1px solid #ccc;
    padding: 0 10px;
}

.detail_wrap .detail_box_R .category{}
.detail_wrap .detail_box_R .category p{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.detail_wrap .detail_box_R .category p::after{
    content: "";
    width: 1px;
    height: 15px;
    display: inline-block;
    background-color: #999;
    vertical-align: middle;
    margin-left: 10px;
}
.detail_wrap .detail_box_R .category p:last-child:after{
    visibility: hidden;
}
.category_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #999;
}
.category_02 i{
    font-size: 23px;
    cursor: pointer;
    color: black;
}
.box_R_tit{
    margin-top: 10px;
}

.box_R_color{}
.box_R_color .color_wrap{
    overflow: hidden;
    margin-top: 30px;
}
.swiper02{
    margin-left: 30px;
   
}
.swiper02 ul li {
    width: 28% !important;
    /* height: 150px; */
    font-size: 0;
    cursor: pointer;
}
.swiper02 li img{
    width: 100%;
    height: 100%;
}

.size_box{
    margin-top: 60px;
}
.size_box .size_wrap{}
.size_box .size_wrap .size_tit{
    display: flex;
    justify-content: space-between;
}
.size_box .size_wrap .size_tit h4{
    font-size: 18px;
}
.size_box .size_wrap .size_tit p{
    text-decoration: underline;
    cursor: pointer;
}

.size_chkbox{
    margin-top: 20px;
}
.size_chkbox ul{
    display: flex;
    justify-content: space-between;
}
.size_chkbox ul li{
    width: calc(100% - 75% - 7.5px);
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
}
.size_chkbox ul li label{
    display: block;
    width: 100%;
    height: 100%;
    transition: .3s;
}

#size_chk01,
#size_chk02,
#size_chk03,
#size_chk04{
    display: none;
}

#size_chk01:checked ~ .size_label01,
#size_chk02:checked ~ .size_label02,
#size_chk03:checked ~ .size_label03,
#size_chk04:checked ~ .size_label04{
    background-color: #002053;
    color: #fff;
    border-radius: 10px;
}

.count_pdc{
    margin-top: 80px;
}
.count_pdc .count_wrap{
    display: flex;
    text-align: center;
    border: 1px solid #ccc;
    height: 65px;
    line-height: 65px;
    font-size: 20px;
    border-radius: 10px;
}
.count_pdc .count_wrap .minus_box{
    width: 25%;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px 0 0 10px;
}
.count_pdc .count_wrap .minus_box:hover{
    color: #fff;
    background-color: #002053;
}

.count_pdc .count_wrap .cnt_box{
    width: 50%;

}
.count_pdc .count_wrap .cnt_box input{
    text-align: center;
    color: black;
    border: 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    
}
.count_pdc .count_wrap .cnt_box input[placeholder]{
    color: black;
}
.count_pdc .count_wrap .plus_box:hover{
    color: #fff;
    background-color: #002053;
}
.count_pdc .count_wrap .plus_box{
    width: 25%;
    cursor: pointer;
    transition: .3s;
    border-radius: 0 10px 10px 0;
}
 .notallow{
    cursor: not-allowed;
}

.price_pdc{
    margin-top: 70px;
}
.price_pdc .price_wrap{
    display: flex;
    justify-content: space-between;
}
.price_pdc .price_wrap h4{
    font-size: 18px;
}
.price_pdc .price_wrap p{
    font-size: 18px;
}


.buy_pdc{
    margin-top: 50px;
}
.buy_pdc .buy_wrap{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 50px;
}
.buy_pdc .buy_wrap .like_box{
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    margin-right: 20px;
     border-radius: 20px;
     font-size: 28px;
     transition: .3s;
     cursor: pointer;
}
.buy_pdc .buy_wrap .like_box:hover{
    background-color: #002053;
    color: red;
    box-shadow: 0 0 10px black;
    border: 1px solid #002053;
    
}

.buy_pdc .buy_wrap .cart_box{
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 20px;
    font-size: 28px;
    transition: .3s;
    cursor: pointer;
}
.buy_pdc .buy_wrap .cart_box:hover{
    background-color: #002053;
    color: #fff;
    box-shadow: 0 0 10px black;
    border: 1px solid #002053;
}
.buy_pdc .buy_wrap .buy_box{
    width: 100%;
    margin-top: 30px;
   
}
.buy_pdc .buy_wrap .buy_box:hover button{
    background-color: #002053;
    color: #fff;
    box-shadow: 0 0 10px black;
    border: 1px solid #002053;

}
.buy_pdc .buy_wrap .buy_box button{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #002053;
    transition: .3s;
}

/********section02 상품정보고시 ~***********/
.section02{
    width: 100%;
}

.product_info_wrap{
    margin-top: 100px;
}
.product_info_wrap .pdc_info_tit{}
.product_info_wrap .pdc_info_tit ul{
    display: flex;
}
.product_info_wrap .pdc_info_tit ul li{
    width: 200px;
    height: 70px;
    /* border: 1px solid #ccc; */
    background-color: #eee;
    border-radius: 20px 20px 0 0;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.product_info_wrap .pdc_info_tit ul li.on{
    background-color: #002053;
    color: #fff;
}


.information_box{
    border: 1px solid #ccc;
}

.infobox_02,
.infobox_03{
    display: none;
}
.information_box .information_box_wrap{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.information_box .information_box_wrap .infobox_tit{
    width: 30%;
}
.information_box .information_box_wrap .infobox_tit h4{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;

}
.information_box .information_box_wrap .infobox_desc{
    width: 70%;
    padding: 20px 30px;
}
.information_box .information_box_wrap .infobox_desc p{}


.detail_desc{}
.detail_desc .detail_desc_tit{}
.detail_desc .detail_desc_tit h4{
    font-size: 20px;
}

.detail_desc_wrap{}
.detail_desc_wrap .detail_desc_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.detail_desc_wrap .detail_desc_box:last-child{
    border-bottom: 0;
}
.detail_desc_wrap .detail_desc_box .detail_sub_tit{
    width: 30%;
    text-align: left;
    padding-left: 20px;
}
.detail_desc_wrap .detail_desc_box .detail_sub_tit h4{
    font-size: 20px;
}
.detail_desc_wrap .detail_desc_box .detail_txt{
    width: 70%;
    padding: 20px 30px;
}


/**********section3 리뷰 후기***********/
.section03{
    width: 100%;
    margin-top: 100px;
}

.review_section_wrap{}
.review_section_wrap .review_tab{}
.review_section_wrap .review_tab ul{
    display: flex;
}
.review_section_wrap .review_tab ul li{
     width: 200px;
    height: 70px;
    /* border: 1px solid #ccc; */
    background-color: #eee;
    border-radius: 20px 20px 0 0;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.review_section_wrap .review_tab ul li.on1{
    background-color: #002053;
    color: #fff;
}

.review_box{
    /* border-top: 1px solid #ccc; */
}
.review_box .review_box_wrap{
    display: flex;
    border: 1px solid #ccc;
}
.review_box .review_box_wrap .review_img{
    width: 25%;
    padding: 10px;
}
.review_box .review_box_wrap .review_img img{
    width: 100%;
    height: 100%;
}
.review_box .review_box_wrap .review_desc{
    width: 75%;
    padding: 0 10px;

}
.review_box .review_box_wrap .review_desc .review_tit{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.review_box .review_box_wrap .review_desc .review_tit h4{
    font-size: 22px;
}
.review_box .review_box_wrap .review_desc .review_tit button{
    width: 200px;
    height: 50px;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.review_box .review_box_wrap .review_desc .review_tit button:hover{
    background-color: #002053;
    color: #fff;
    box-shadow: 0 0 10px black;
    border:  1px solid black;
}
.review_box .review_box_wrap .review_desc .review_text {
    width: 100%;
    /* margin-top:10px */
}

.review_box .review_box_wrap .review_desc .review_text .review_info{
    display: flex;
    justify-content: flex-start;
}
.review_box .review_box_wrap .review_desc .review_text .review_info .review_name{}
.review_box .review_box_wrap .review_desc .review_text .review_info .review_name input{
    height: 35px;
    width: 250px;
    outline: none;
    padding: 0 5px;
}
/* .review_box .review_box_wrap .review_desc .review_text .review_info .review_passwd{}
.review_box .review_box_wrap .review_desc .review_text .review_info .review_passwd input{
    height: 35px;
    width: 250px;
    outline: none;
    padding: 0 5px;
} */
.review_box .review_box_wrap .review_desc .review_text .review_txtbox{
    width:100%;
}
.review_box .review_box_wrap .review_desc .review_text .review_txtbox textarea{
    width: 100%;
    height: 340px;
    margin-top: 20px;
    outline: none;
    font-size: 18px;
    resize: none;
    padding: 10px;
}


.review_star{
    width: 200px;
    height: 35px;
    margin-left: 20px;
    font-size: 30px;
    color: #ccc;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.fas.fa-star{
    color: #002053;
}
.rating_result{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50px)
}
/***************************/
.review_filter{
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
}
.review_filter ul{
    display: flex;
}
.review_filter ul li{
   margin-right: 20px;
}
.review_filter ul li input{
    display: none;
}
.review_filter ul li label{
    font-size: 20px;
    transition: .3s;
    color: #999;
}

#review_chk01:checked ~ .review_label01{
    color: #002053;
    text-shadow: 0 0 10px black;
}
#review_chk02:checked ~ .review_label02{
    color: black;
    text-shadow: 0 0 10px #002053;
}
#review_chk03:checked ~ .review_label03{
    color: black;
    text-shadow: 0 0 10px #002053;
}







/******review list*********/
.review_list{
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;

}
.review_list .review_list_wrap .review{
    width: 100%;
    line-height: 80px;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
}

.review_list .review_list_wrap .review .review_inner{
    display: flex;
    text-align: center;
    border-top: 1px solid #ccc;
}
.review_list .review_list_wrap .review .review_inner:last-child{
    border-bottom: 1px solid #ccc;
}
.review_list .review_list_wrap .review .review_inner .inner_stars{
    width: 15%;
}
.review_list .review_list_wrap .review .review_inner .inner_txt{
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding:0 20px;
}
.review_list .review_list_wrap .review .review_inner .inner_id{
    width: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.review_list .review_list_wrap .review .review_inner .inner_date{
    width: 7%;
}
.review_list .review_list_wrap .review .review_inner .inner_close{
    width: 3%;
    cursor: pointer;
}
.review_list .review_list_wrap .review .review_inner .inner_number{
    width: 5%;
}


/***********notice list************/
.notice_list{
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    cursor: pointer;

}
.notice_list .notice_list_wrap .notice{
    width: 100%;
    line-height: 80px;
}

.notice_list .notice_list_wrap .notice .notice_inner{
    display: flex;text-align: center;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.notice_list .notice_list_wrap .notice .notice_inner .notice_num{
    width: 10%;
}
.notice_list .notice_list_wrap .notice .notice_inner .notice_txt{
    width: 55%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding:0 20px;
}
.notice_list .notice_list_wrap .notice .notice_inner .notice_rebtn{
    width: 10%;
    cursor: pointer;
}
.notice_list .notice_list_wrap .notice .notice_inner .notice_id{
    width: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice_list .notice_list_wrap .notice .notice_inner .notice_date{
    width: 10%;
}
.notice_list .notice_list_wrap .notice .notice_inner .notice_close{
    width: 5%;
    cursor: pointer;
}

.notice_box01{display: none;}
.review_box01{display: block;}






/***********popup 실측사이즈************/

.real_size{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
}
.real_bgc{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}
.real_wrap{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.real_wrap img{
    width: 100%;
    height: auto;
}
.size_close{
    font-size: 50px;
    position: absolute;
    top: 150px;
    right: 300px;
    color: #fff;
    cursor: pointer;
}



/*********답글**********/

.re_pop{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99999;
    display: none;
}
.re_bgc{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.re_wrap{
    width: 50%;
    height: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.re_wrap h4{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}
.re_wrap textarea{
    resize: none;
    width: 70%;
    height: 300px;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
.re_wrap .button_wrap{
    width: 100%;
    height: 40px;
    text-align: center;
}
.re_wrap button{
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}

.reply_del{
    margin-left: 50px;
}
.reply_txt{
    margin-left: 10px;
}



/********section04 사진 리뷰*********/
.section04{
    width: 100%;
    margin-top: 100px;
}
.sec04_tit{
    width: 200px;
    height: 70px;
    background-color: #002053;
    color: #fff;
    border-radius: 20px 20px 0 0;
    /* margin-bottom: 50px; */
}
.sec04_tit h4{
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}
.imgfile{
    display: none;
}
.up_label_wrap{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 50px;
}
.up_label_wrap span{
    line-height: 35px;
    font-size: 18px;
}
.up_label_wrap label{
    line-height: 35px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 10px;
}
.up_label_wrap button{
    width: 150px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: .3s;
    border-radius: 20px;
    font-size: 18px;
}
.up_label_wrap button:hover{
    background-color: #002053;
    color: #fff;
    border: 1px solid #002053;
}


.photo_list_wrap{
    margin-top: 50px;
}
.photolist{
    display: flex;
    flex-wrap: wrap;
}
.photolist li{
    width: calc(25% - 25px);
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-bottom: 20px;
    /* opacity: 0; */
}
.photolist li img{
    width: 100%;
    height: 100%;
}
.photolist li .img_wrap{
    width: 100%;
    height: 100%;
}
.photolist li:last-child{
    margin-right: 20px;
}
.sec4_wrap{
    border: 1px solid #ccc;
}
.photo_del{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.photolist li{
    position:relative;
}





/*********footer********/
footer{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.footer_wrap{
    border-top: 1px solid #ccc;
    background-color: #eee;
    padding: 20px 10px;
}

.footer_wrap .footer_box1{
    display: flex;
}
.footer_wrap .footer_box1 .foot_logo{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_logo img{
    width: 90px;
    height: 30px;
}

.footer_wrap .footer_box1 .foot_menu01{
    width: 20%;
}
.footer_wrap .footer_box1 h4{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer_wrap .footer_box1 li{
    margin-bottom: 10px;
    cursor: pointer;
    
}
.footer_wrap .footer_box1 .foot_menu02{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_menu03{
    width: 20%;
}
.footer_wrap .footer_box1 .foot_menu04{
    width: 20%;
}

.footer_wrap .footer_box2{
    margin-top: 50px;
}
.footer_wrap .footer_box2 .foot_menu05{
    display: flex;
}
.footer_wrap .footer_box2 .foot_menu05 li{
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
}
.footer_wrap .footer_box2 .foot_menu05 li.red{color: red;}
.footer_wrap .footer_box2 .foot_menu05 li.blue{color: blue;}
.footer_wrap .footer_box2 .foot_menu05_1{
    width: 20%;
}
.footer_wrap .footer_box2 .foot_menu05_1 select{
    width: 45%;
    text-align: center;
    outline: none;
    background-color: #eee;
    border: 0;
    font-size: 16px;

}
.footer_wrap .footer_box2 .foot_menu05_1 select option:nth-child(1){
    display: none;
}

.footer_wrap .footer_box3{
    width: 100%;
    margin-top: 50px;
}
.footer_wrap .footer_box3 .menu06{
    display: flex;
}
.footer_wrap .footer_box3 .menu06 .menu06_1{
    width: 50%;
    text-align: left;
    margin-left: 90px;
    
}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc{}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc p{}

.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc .foot_span01{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.footer_wrap .footer_box3 .menu06 .menu06_1 .menu06_desc .foot_span02{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.footer_wrap .footer_box3 .menu06 .menu06_2{
    width: 25%;
    
    text-align: left;
    padding-left: 50px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 .cs_box{
   border: 1px solid black;
    text-align: center;
    /* width: 50%; */
    height: 35px;
    line-height: 35px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 h4{
    margin-top: 10px;
    font-size: 20px;
}
.footer_wrap .footer_box3 .menu06 .menu06_2 p.day{
    font-size: 14px;
    margin-top: 10px;
}

.footer_wrap .footer_box3 .menu06 .menu06_3{
    width: 25%;
    
    
}

.footer_wrap .footer_box3 .menu06 .menu06_3 i{
    font-size: 35px;
    margin-left: 30px;
    cursor: pointer;
}
.footer_wrap .footer_box3 .menu06 .menu06_3 i:nth-child(1){
    margin-left: 0;
}




























/**********quick menu***************/
.quick_menu{
    width: 55px;
    border: 1px solid #ccc;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99998;
    background-color: #fff;
    transition: .3s;
}
.quick_menu:hover{
    width: 150px;
}
.quick_menu .quick_wrap{
    
}
.quick_menu .quick_wrap .quick_box{
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    
}
.quick_menu .quick_wrap .quick_box:nth-child(4){
    border-bottom: 0;
    
}
.quick_menu .quick_wrap .quick_box:nth-child(1){
    
}
.quick_menu .quick_wrap .quick_box .quick_icon{
    width: 30%;
    text-align: center;
   
}
.quick_menu .quick_wrap .quick_box .quick_icon i{
    font-size: 30px;
    color:#999;
    transition: .3s;
}
.quick_menu .quick_wrap .quick_box .quick_icon .usericon{
    padding-left: 11px;
    padding-top: 7px;
}
.quick_menu .quick_wrap .quick_box .quick_icon .truck{
    padding-left: 8px;
    padding-top: 10px;
}
.quick_menu .quick_wrap .quick_box .quick_icon .boxopen{
    padding-left: 7px;
    padding-top: 10px;
}
.quick_menu .quick_wrap .quick_box .quick_icon .quicksearch{
    padding-left: 10px;
    padding-top: 10px;
}
.quick_menu .quick_wrap .quick_box:hover i{
   color:#002053;
}


.quick_menu .quick_wrap .quick_box .quick_text{
    width: 0%;
    text-align: center;
    overflow: hidden;
    
}
.quick_menu .quick_wrap .quick_box .quick_text a{
    font-size: 16px;
    display: block;
    width: 100%;
}
.quick_menu .quick_wrap .quick_box .quick_text a:hover{
    color: #002053;
    font-weight: bold;
}

.quick_menu:hover .quick_wrap .quick_box .quick_text{
    /* display: block; */
    width: 70%;
}


/*********dir btn*********/

.dir_btn{
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 0;
    cursor: pointer;
    z-index: 9999;
    
}
.dir_btn .top_btn{
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: #002053;
    
}

.dir_btn .bot_btn{
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: red;
}

