* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* .container {
    width: 1660px;
    margin: 0 auto;
} */
li {
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}



/***********section01 detail view************/  
.section01{
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;
}

.detail_wrap{
    display: flex;
}
.detail_wrap .detail_box_L{
    width: 70%;
    height: 900px;
    border: 1px solid #ccc;
}

.detail_wrap .detail_box_L .box_L_wrap{
    display: flex;
}
.detail_wrap .detail_box_L .box_L_wrap .detail_video{
    width: calc(100% - 50% - 10px);
    border: 1px solid #ccc;
    margin-right: 20px;
    font-size: 0;
}
.detail_wrap .detail_box_L .box_L_wrap .detail_video video{
    width: 100%;
    height: auto;
}


.detail_wrap .detail_box_L .box_L_wrap .detail_thumb{
    width: calc(100% - 50% - 10px);
    border: 1px solid #ccc;
}


.swiper01{
    width: 100%;
    height: auto;
    position: relative;
}
.swiper01 .swiper-pagination{
   position: absolute;
   width: 100%;
}
.swiper01 .swiper-pagination-bullet{
    width: 16%;
    height: 110px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    opacity: .5;
    /* transition: .3s; */
}
.swiper01 .swiper-pagination-bullet-active{
    border: 0;
    border: 3px solid #002053;
    opacity: 1;

}
.swiper01 .swiper-pagination-bullet-active:nth-child(5){
    border: 3px solid #eee;
}
.swiper01 .swiper-pagination-bullet-active:nth-child(4){
    border: 3px solid #eee;
}
.swiper01 .swiper-pagination-bullet:nth-child(1){
    background: url(../img/detail01.jpg) no-repeat center center;
    background-size: cover;
    /* background-position: 50% 0; */
}
.swiper01 .swiper-pagination-bullet:nth-child(2){
    background: url(../img/detail02.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(3){
    background: url(../img/detail03.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(4){
    background: url(../img/detail04.jpg) no-repeat center center;
    background-size: cover;
}
.swiper01 .swiper-pagination-bullet:nth-child(5){
    background: url(../img/detail05.jpg) no-repeat center center;
    background-size: cover;
}



.swiper01_ex{
    overflow: hidden;
}
.swiper01 .slide01{
    width: 100%;
    height: auto;
    font-size: 0;
}
.swiper01 .slide01 img{
    width: 100%;
    height: auto;
}

