*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a, a:visited{
    text-decoration: none;
    color: black;
}

/* .container{
    width: 1070px;
    margin: 0 auto;
} */

header{
    width: 100%;
}
.header_ex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_ex .logo{
    width: 50%
}
.header_ex .logo img{
    width: 50%;
    
}
.header_ex .header_menu{
    width: 50%;
}
.header_ex .header_menu ul{
    display: flex;
    justify-content: flex-end;
}
.header_ex .header_menu ul li{
    margin: 0 10px;
    font-size: 15px;
}

/* .header_menu{display: none;} */

/************mobile_ham*************/
#ham_chk{display: none;}
#ham_chk:checked ~ .ham_menulist{display: block;}
#ham_chk ~ .ham_menulist{display: none;}

.container.mobile{
    position: relative;
}
.label{
    text-align: center;
    line-height: 70px;
    position: absolute;
    right: 20px; top: -60px;
}
.label label{
    font-size: 20px;
}
.ham_menulist{
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: blanchedalmond;
}
.mobile_ham{display: none;}

/************header_line*************/
.header_line{
    width: 1070px;
    margin: 0 auto;
    height: 3px;
    background-color: #ccc;
}

/***********aside main************/
.cont_wrap{
    margin-top: 50px;
    display: flex;
}
.aside{
    width: calc(100% - 70% - 10px);
    margin-right: 10px;
    height: 700px;
    
}
.aside .aside_box{
    width: 250px;
    border: 3px solid #ccc;
    margin: 0 auto;
}
.aside .aside_box .as_box{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.aside .aside_box .as_box:last-child{
    border-bottom: none;
}
.main{
    width: calc(100% - 30% - 10px);
    height: 700px;
    
}

.main_wrap{}
.main_top{}
.main_tit{
    margin-top: 20px;
    overflow: hidden;
}
.main_tit .color{
    width: 20px;
    height: 50px;
    background-color: red;
    float: left;
}
.main_tit h2{
    float: left;
    line-height: 50px;
    padding-left: 10px;
}
.visual_main{
    width: 100%;
    margin-top: 10px;
}
.visual_main img{
    width: 100%;
}

.visual_desc{
    margin-top: 10px;
    color: #777;
}
.main_desc{
    margin-top: 20px;
    column-count: 2;
}



/********footer************/

footer{
    width: 100%;
    margin-top: 20px;
}
footer div{
    height: 50px;
    background-color: #ccc;
    color: #777;
    line-height: 50px;
}




@media all and (max-width:600px){
    .container{
        width: 100%;
        
    }
    .header_ex .logo img{
    width: 100%;
    }
    .header_menu{display: none;}
    .mobile_ham{display: block;}

    .cont_wrap{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .aside{
        width: 100%;
        order: 1;
        height: 300px;
        margin-top: 20px;
    }
    .main{
        width: 100%;
        height: auto;
    }
    .aside .aside_box{
        width: 100%;
        height: auto;
    }
    
}

@media all and (min-width:1071px){
    .container{
        width: 1070px;
        margin: 0 auto;
    }
    .header_line{
        width: 100%;
    }
    footer{
        width: 100%;
        background-color: #ccc;
    }
}