*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.wrap{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
header{
    width: 200px;
    height: 650px;
    border: 1px solid #ccc;
}
.logo_box{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.lnb{
    width: 100%;
    position: relative;

}
.lnb_list{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

}
.lnb_list>li{
    width: 120px;
    border: 1px solid #ccc;
    border-bottom: 0;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.lnb_list>li:last-child{
    border-bottom: 1px solid #ccc;
}
.lnb_list>li a{
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
}
.lnb_list>li:hover>a{
    background-color: black;
    color: #fff;
}
.sub_menu{
    display: none;
    border: 1px solid #ccc;
    position: absolute;
    right: -125px;
    top:0;
    z-index: 9999;
    background-color: #fff;
}
.sub_menu li{
    width: 120px;
}
.sub_menu li a{
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
}
.sub_menu li:hover a{
    background-color: black;
    color: #fff;
}


main{
    width: 800px;
    height: 650px;
    border: 1px solid #ccc;
}

.slide_cont{
   
}
.slide_wrap{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
}

