*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.headbg{
    width: 100%;
    height: 160px;
    background-color: black;
    position: absolute;
    top: 100px;
    z-index: 10;
    display: none;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    border: 1px solid #ccc;
}
.logo_box{
    width: 200px;
    height: 100px;
    border-right: 1px solid #ccc;
}
.menu_box{
    width: calc(100% - 200px);
    height: 100px;
    position: relative;
}
.menu_wrap{
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 100;
}

.lnb{
    border: 1px solid #ccc;
    display: flex;

}
.lnb>li{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #ccc;

}
.lnb>li>a{
    transition: .3s;
}
.lnb>li:hover>a{
    color: #fff;
    background-color: black;
}
.lnb > li:last-child{
    border-right: 0;
}

.sub_menu{
    display: none;
}
.sub_menu li a{
    color: #fff;
    transition: .3s;
}
.sub_menu>li:hover>a{
    color: black;
    background-color: #fff;
}

.section1{
    width: 100%;
    height: 300px;
}
.slide_container{

}
.slide_wrap{
    width: 100%;
    height: 300px;
    overflow: hidden;

}
.slide{
    width: 100%;
}
.slide img{
    width: 100%;
    height: 300px;
}


.section2{
    width: 100%;
    height: 200px;
}

.section2_cont{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
}
.section2_cont>div{
    width: 33.3333%;
    border-right: 1px solid #ccc;
}

.notice_box{
    position: relative;
}
.tab{
    width: 80px;
    height: 40px;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin-left: 10px;
    background-color: #fff;
    position: absolute;
    top: 1px;
}
.desc{
    width: 100%;
    height: 160px;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.gal_box{
    position: relative;
}
.gal_box .img_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gal_box .img_wrap img{
    width: 30%;
}



.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #fff;
    display: none;
}
.popup .pop_wrap{
    width: 500px;
    height: 350px;
    border: 1px solid #ccc;
    position: relative;
}
.popup .pop_desc{
    padding: 20px;
}
.popup .pop_desc h4{
    text-align: center;
}
.popup .close{
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}



footer{
    width: 100%;
    height: 100px;
}
.foot_wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
.foot_logo{
    width: 200px;
    border: 1px solid #ccc;
    order: 2;
}
.foot_copy{
    width: calc(100% - 200px);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;

}
.foot_top{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.foot_top ul{
    display: flex;
}
.foot_top li{
    width: 25%;
    text-align: center;
    line-height: 50px;

}
.foot_bot{
    width: 100%;
    height: 50px;
    text-align: center;
}
